[2012-08-22 13:59] ThomasGaubert opened #1 "Splash screens"
Upon logging in, splash screens for the following are shown:
- NavalBattle
- JPII
- RoketGamer

[2012-08-22 14:00] ThomasGaubert opened #2 "Login screen"
Login screen to eventually hook into RoketGamer. For now, login screen will accept any input (and login using offline mode).

[2012-08-22 14:01] ThomasGaubert opened #3 "News feed"
News feed to be integrated with the login screen.

[2012-08-22 14:03] ThomasGaubert opened #4 "Main menu"
Main menu with the following (and more as needed):
- Play
- Help
- RoketGamer
- Quit

[2012-08-22 14:05] ThomasGaubert opened #5 "Grid system"
Grid system for gameplay. Allow for entities to be placed in grids and move.

_To be elaborated..._

[2012-08-22 14:05] ThomasGaubert opened #6 "Debug window"
Debug window to log events and messages.

[2012-08-22 14:05] ThomasGaubert commented on #6
Completed.

[2012-08-22 14:05] #6 closed, assigned to abauer

[2012-08-22 14:35] ThomasGaubert commented on #2
Completed.

[2012-08-22 14:35] #2 closed, assigned to ThomasGaubert

[2012-08-22 16:36] abauer commented on #4
Finished basic MainMenuWindow, System look and feel needed

[2012-08-22 16:36] #4 closed, assigned to abauer

[2012-08-23 00:42] abauer commented on #5
Finished with basic grid class (not implemented)

[2012-08-23 00:42] #5 closed, assigned to abauer

[2012-08-23 15:44] #3 closed, assigned to ThomasGaubert

[2012-08-23 16:14] ThomasGaubert opened #7 "Set up git"
Get all members up and running on git and GitHub.

[2012-08-23 16:49] ThomasGaubert commented on #7
This also includes setting up Gravatars (http://en.gravatar.com/) for easy identification.

[2012-08-23 16:53] abauer commented on #7
Of course i get assigned to this.... :P

[2012-08-23 16:55] ThomasGaubert commented on #7
Indeed. I can help as needed...

[2012-08-23 16:55] abauer opened #8 "Single player setup screen"
An options menu for a singleplayer game

[2012-08-23 16:55] abauer commented on #8
Finished with SPOptions class

[2012-08-23 16:55] #8 closed, assigned to nobody

[2012-08-23 16:56] abauer opened #9 "Grid Display"
Display game grid in a Jframe

[2012-08-23 16:57] abauer opened #10 "Entities"
Add entities instance class

[2012-08-23 17:01] ThomasGaubert commented on #7
:O

[2012-08-23 17:05] abauer opened #11 "System UI and Feel"
Custom system UI and Feel

[2012-08-23 17:21] abauer commented on #7
Just joking:
Ready to program: Abauer, Texasgamer, Max
Needs Fixing: Matt W, Zach M, JR

[2012-08-23 18:35] #10 closed, assigned to ThomasGaubert

[2012-08-23 18:36] ThomasGaubert commented on #10
This can be improved as needed. For now, the basics are present.

[2012-08-24 00:56] ThomasGaubert commented on #7
Everyone seems to have GitHub working, but Eclipse still needs to be installed/setup.

[2012-08-24 00:57] ThomasGaubert opened #12 "Sort commands"
Commands should print in alphabetical order when using /help.

[2012-08-24 02:58] ThomasGaubert commented on #1
Assigned to @maximusvladimir

[2012-08-24 13:12] abauer opened #13 "Null Pointer Exception"
When executing, random null pointer exception
This is caused by swing threading on different, invisible threads... can be solved with invokeandwait()

[2012-08-24 13:13] abauer opened #14 "0.1 Milestone"
Complete Milestone 0.1 - Pioneer.

[2012-08-24 14:00] ThomasGaubert commented on #13
Confirmed.

@maximusvladimir is investigating.

[2012-08-24 14:03] ThomasGaubert opened #15 "Assign roles to members"
Assign each member a clear and specific role. Ideally, the role will focus on the member's expertise.

[2012-08-24 14:16] abauer opened #16 "0.2 Milestone"
Complete 0.2

[2012-08-24 14:18] abauer opened #17 "Battleship Entites"
Create battleship entites and properties

[2012-08-24 14:19] abauer opened #18 "TerrainGen"
Finish Terrain Gen after #9 (Grid Display) is done

[2012-08-24 14:30] abauer commented on #7
Not sure that everyone even has GitHub...

[2012-08-27 21:42] abauer commented on #13
keep going @maximusvladimir ! almost finished!

[2012-08-29 18:49] ThomasGaubert commented on #7
Closing this as we can figure it out on a case by case basis.

[2012-08-29 18:49] #7 closed, assigned to abauer

[2012-08-29 18:50] ThomasGaubert commented on #13
@abauer @DarkWarHero @Matthis5point0 @maximusvladimir @smeagle42

Milestone 0.1 is due tomorrow (August 29th). This bug is **critical** and needs to be fixed ASAP.

[2012-08-29 18:53] ThomasGaubert commented on #11
This will need to be evaluated in the near future as the window system is changing.

[2012-08-30 02:19] ThomasGaubert commented on #13
Moved to Milestone Alpha 0.2 (Typhoon). The bug isn't affecting the operation of the program, but is still **critical**.

Must be fixed ASAP (this weekend most likely) and will not be moved to another milestone after this.

[2012-08-30 02:19] ThomasGaubert commented on #14
Complete as of 8/29/12.

Goal for milestone (8/31/12) was met.

[2012-08-30 02:19] #14 closed, assigned to nobody

[2012-08-30 15:03] #13 closed, assigned to maximusvladimir

[2012-09-04 15:09] ThomasGaubert commented on #12
Somewhat added, but needs to be fixed @abauer

[2012-09-04 17:06] #12 closed, assigned to ThomasGaubert

[2012-09-06 15:32] ThomasGaubert opened #20 "Entity Team ID"
Each entity should have a team ID for the IntelligenceModule to use to determine allies and enemies.

[2012-09-07 16:21] abauer commented on #9
solved by @maximusvladimir with singleplayergame

[2012-09-07 16:21] #9 closed, assigned to nobody

[2012-09-07 16:36] ThomasGaubert opened #21 "GUI windows extend JFrame"
GUI windows need to be moved to extend JFrame instead of containing the JFrame.

[2012-09-09 22:33] maximusvladimir opened #22 "Controls need moving."
All the controls (GUI elements such as JLabel and stuff) need to be moved to MenuComponent.java, so that you can use the WindowBuilder design view again. This appears to be an issue with WindowBuilder, not our program.

[2012-09-09 22:35] maximusvladimir opened #23 "Nav. controls"
Lets give the Game Window some custom navigation controls. Normal java controls look like---well, crap. I think I might work on this.

[2012-09-09 22:36] #18 closed, assigned to nobody

[2012-09-09 22:36] maximusvladimir commented on #11
Not a big priority.

[2012-09-09 23:09] ThomasGaubert commented on #11
Agreed. I'll close it for now and if this needs to be done it can be re-opened.

[2012-09-20 17:00] #21 closed, assigned to ThomasGaubert

[2012-11-09 16:34] ThomasGaubert opened #24 "Font"
A font for the title and/or global game use needs to be decided. If possible, it should be embedded. If not, we need to make sure every user can use that font to prevent layout issues.

The current font (as of creation of this issue) does not display.

[2012-11-09 17:03] maximusvladimir commented on #24
I think that we should use bitmap glyphs, so it looks kinda cool. (See http://www.identifont.com/samples/core/Pixelette.gif). Essentially what happens, is when you load the bitmap into memory, you then have an array of BufferedImages, then you crop each character into that array, then you have a method that essential a loop of g.drawImage() 's that draws the text to the buffer you want. If this so

[2012-11-10 17:55] ThomasGaubert commented on #24
I like the idea of the glyphs. That pixelated one looks cool.

[2012-11-10 17:56] ThomasGaubert opened #25 "Notification System"
The game should have a global notification system to alert the user to different events. The context of the notification would have to change based on the current screen. Primary use would be while playing the game.

[2012-11-10 17:56] #15 closed, assigned to ThomasGaubert

[2012-11-10 18:13] #25 closed, assigned to ThomasGaubert

[2012-11-10 18:13] ThomasGaubert opened #26 "Bump to Version to 0.4"
Change version to 0.4.

**To be completed after other issues are complete.**

[2012-11-12 03:28] maximusvladimir commented on #23
The game window and game has been completely re-written. I have an idea on how to fix this, so until this issue reappears, it will be closed.

[2012-11-12 03:28] #23 closed, assigned to nobody

[2012-11-12 03:29] maximusvladimir opened #27 "Clouds need to be visually more appealling."

[2012-11-12 03:30] maximusvladimir opened #28 "Birds."
Seagulls would be a cool visual perk that we could add to the game. Whales could eat the birds.

[2012-11-12 03:31] maximusvladimir opened #29 "Occasionally, worlds without any water at all will generate."
Not a dagen issue. We need to check for "proper" seeds before we use them.

[2012-11-12 03:33] maximusvladimir opened #30 "OmniMap needs to have two modes."
Mode 1 - A map that shows the entire world.
Mode 2 - A set of binoculars that shows intricate detail of the world.

[2012-11-12 04:00] maximusvladimir opened #31 "Grid doesn't work properly"
The grid seems to be static in the game window.

[2012-11-12 04:42] ThomasGaubert commented on #31
High priority and should be fixed by next milestone.

[2012-11-12 04:42] ThomasGaubert commented on #22
Not applicable in latest version.

[2012-11-12 04:42] #22 closed, assigned to ThomasGaubert

[2012-11-12 04:43] ThomasGaubert commented on #1
Reassigned to myself... should be complete soon.

[2012-11-12 12:57] maximusvladimir opened #32 "Icons"
Missing icon for Magnifier on OmniMap.
Africa is missing on World icon for OmniMap.

Game icon needs to be in top left corner.
See layout plate for details.

[2012-11-12 13:06] maximusvladimir commented on #32
ALSO! THERE SHOULD BE A MAIN ICON FOR ALL THE WINDOWS.

[2012-11-12 13:21] maximusvladimir opened #33 "GUI / Game design (IMAGES INCLUDED)"
Well, what do we think???

https://dl.dropbox.com/u/11164236/navalbattle0.3layout.png

PS- Its hard to design a GUI for a game that we haven't planned out.

[2012-11-12 14:22] maximusvladimir opened #34 "RenderConstants, well..."
RenderConstants has some, ummm, non-constants and methods.

[2012-11-12 19:59] maximusvladimir opened #35 "RenderConstants.RenderQuality is buggy"

[2012-11-12 20:00] maximusvladimir opened #36 "When MainMenu loads up, the menu appears to be offset at about (50,50), then pops back to (0,0)"

[2012-11-12 20:07] maximusvladimir opened #37 "Map size currently is static, and cannot be changed."
People should have the ability to do Small, Medium, or Large maps.

[2012-11-12 20:10] maximusvladimir opened #38 "All of the Windows need to have a window icon"
This is from another bug that needs to be done.

[2012-11-12 20:12] maximusvladimir commented on #31
Partially fixed, however, now the grid and entities are limited to a small portion of the world.

[2012-11-12 21:56] maximusvladimir commented on #30
Needs some refining, but otherwise it is done.

[2012-11-12 21:56] #30 closed, assigned to maximusvladimir

[2012-11-12 22:54] ThomasGaubert commented on #32
I can do the main icon.

Possibly unrelated, but the buttons to toggle the map mode should be switched to where the darker option is the one selected (so it looks pressed in). Just my two cents.

[2012-11-13 01:36] maximusvladimir opened #39 "Max's code needs documentation."

[2012-11-13 02:33] maximusvladimir commented on #39
Done. For now...

[2012-11-13 02:33] #39 closed, assigned to maximusvladimir

[2012-11-13 02:46] maximusvladimir opened #40 "Mouse stuff in Game.java, ChunkRenderer.java, etc should use a universal MouseHandler (like the KeyboardHandler)"
also listeners should be constants

[2012-11-13 16:43] maximusvladimir opened #41 "Toaster is cool, but doesn't work on all platforms."

[2012-11-13 17:13] ThomasGaubert commented on #41
I'll look into this.

[2012-11-13 17:44] ThomasGaubert opened #42 "All windows should use the global KeyboardListener"
All GUI windows should use the global KeyboardListener with the global key of "escape" to close the game (by running NavalBattle.close()).

Specific keys can be added in that global listener (using instanceof) or in a specific one if needed.

[2012-11-13 19:31] #1 closed, assigned to ThomasGaubert

[2012-11-13 19:51] maximusvladimir opened #43 "Noise border along very edge of map is messed up sometimes."

[2012-11-14 02:45] maximusvladimir opened #44 "Huge bug in LoggingInWindow.java. Essential that we fix."
i figured it out.
[8:22:54 PM] John Medel: lines 74,76,82, and 88 of LoggingInWindow.java
[8:23:24 PM] John Medel: You should NEVER use Thread.sleep(X) in a thread that is not on the main thread

[2012-11-14 03:11] maximusvladimir commented on #34
As of Nov. 11th, 2012, commit id 363f450fc014b315510939dc75687d09b0b8ddce, this issue is fixed.

[2012-11-14 03:11] #34 closed, assigned to nobody

[2012-11-14 03:14] maximusvladimir commented on #41
All known issues with this are fixed.

[2012-11-14 03:14] #41 closed, assigned to nobody

[2012-11-14 03:15] maximusvladimir commented on #38
Currently fixed for all known Windows.

[2012-11-14 03:15] #38 closed, assigned to nobody

[2012-11-14 03:18] maximusvladimir commented on #35
This feature has been disabled until further notice. (As of commit id e0f0ab978e098d7db2bb146c7e4635a478f7538b).

[2012-11-14 03:18] #35 closed, assigned to nobody

[2012-11-14 03:24] maximusvladimir commented on #17
As of commit id 5d7de8e8ea71542ea1aee46a09347d1ae1dc0aeb, these have been partially implemented.

[2012-11-14 03:26] maximusvladimir commented on #20
This is already in IntelligenceModule, I am pretty sure, so I am going to close it for now.

[2012-11-14 03:26] #20 closed, assigned to ThomasGaubert

[2012-11-14 03:28] maximusvladimir commented on #33
This isn't exactly an issue, but we do need to talk about the game gui design. I am pushing this to the next milestone.

[2012-11-14 03:56] ThomasGaubert commented on #44
I'll fix this.

[2012-11-14 03:56] ThomasGaubert commented on #33
I agree. We can all make mockups and vote or something...

[2012-11-14 04:02] maximusvladimir commented on #24
Ok we are getting somewhere, as of commit id 2b9a39adc552eb13dd9b31f0fff00327277f1743, however I am worried that we may only be able to use the glyphs in the game window itself, which means we still need a font. Also, I may just drop the whole idea of glyphs in favor of a pixelated font, because,well, its just too much effort. (See Helper.java to see what I am talking about.) I really think that t

[2012-11-14 04:07] maximusvladimir commented on #29
Solutions:
1. Implement a database of text file that will list bad seeds for that version of the terrain generator. If a randomly polled seed is equal to one on the database, we regen. Etc...
1. Use EngineStatistics (if that still exists somewhere)...
2. Let the user pick another seed, if they don't like to looks to it.

[2012-11-14 04:08] maximusvladimir commented on #31
Broken again.

[2012-11-14 04:08] maximusvladimir commented on #27
Latest edition has fuzzy square clouds. Is this good enough?

[2012-11-14 04:09] ThomasGaubert commented on #20
Whoops, it is. Thanks!

[2012-11-15 01:41] maximusvladimir opened #45 "FastMath doesn't work as expected."
It worked in c++...

[2012-11-15 03:14] ThomasGaubert commented on #42
Done with the Window superclass.

[2012-11-15 03:14] #42 closed, assigned to nobody

[2012-11-15 16:32] ThomasGaubert opened #46 "Implement LoginOptionsWindow"
Implement LoginOptionsWindow. Allow for saving of preferences, etc.

[2012-11-15 16:32] ThomasGaubert opened #47 "LoginWindow should save last good username"
Username will be saved only. Can be disabled in LoginOptionsWindow.

[2012-11-15 17:59] ThomasGaubert commented on #11
Mostly fixed, though the UI needs to be resized for this new look.

[2012-11-15 19:15] ThomasGaubert opened #48 "Toast notifications are bugged with Nimbus"
Toast notifications have a white line between the text and image. This bug appeared with the addition of Nimbus.

[2012-11-15 21:56] maximusvladimir commented on #47
I will work on this.

[2012-11-15 22:02] maximusvladimir opened #49 "The ability to save chunks and the current state of the grid"
I will work on the ability to save chunks, and seed data. (I want to save chunks because if I change the world generator, and the person updates the game, the grid might be all messed up). Also you will be able to save the grid and the settings to another file, which will also contain the login data, which is why this is a duplicate.

[2012-11-15 22:15] maximusvladimir commented on #27
I am closing for now. I think they look good. There is still the non moving bug.

[2012-11-15 22:15] #27 closed, assigned to maximusvladimir

[2012-11-15 23:01] maximusvladimir opened #50 "Missing rivers"

[2012-11-15 23:31] maximusvladimir commented on #44
Fixed as of commit id fbe8dbd5caa35fd26d57f22ac4eb5cd436dcb650.

[2012-11-15 23:31] #44 closed, assigned to maximusvladimir

[2012-11-16 02:44] #16 closed, assigned to nobody

[2012-11-16 02:44] abauer commented on #11
fixed and working nicely

[2012-11-16 02:44] #11 closed, assigned to maximusvladimir

[2012-11-16 03:16] abauer opened #51 "Bump Version to 0.5"
Change version to 0.5.

**To be completed after other issues are complete.**

[2012-11-16 03:17] abauer opened #52 "Window Dispose not effective"
convert GUI windows to become static instead of dispose();

[2012-11-16 03:54] maximusvladimir commented on #50
Rivers are implemented, but well, are not riveryish.

[2012-11-16 03:55] maximusvladimir commented on #24
Does Nimbus take care of this???

[2012-11-16 03:56] maximusvladimir commented on #31
Fully operational.

[2012-11-16 03:56] #31 closed, assigned to nobody

[2012-11-16 03:58] maximusvladimir commented on #47
A settings manager needs to be written. Lets have Anthony do this, since he likes io, and settings.

[2012-11-16 04:01] abauer commented on #24
no, the mainmenuwindow needs a title font

[2012-11-16 04:01] abauer commented on #47
no i don't

[2012-11-16 04:06] maximusvladimir opened #53 "OmniMap not working as intented."
1. The World Map's red rectangle is off.
2. The Zoom Map is not working at all anymore.
3. Zoom Map needs to have more details in it, such as trees,grass,and waves (may be even animals, not just whales).
4. Zoom Map profiler needs to tick more often.

[2012-11-16 04:07] maximusvladimir opened #54 "Point converter is not working as expected. MAJOR ISSUE"
The point converter needs to work more accurately.

[2012-11-16 04:07] abauer commented on #53
movement needs to occur by omnimap and not as it is now

[2012-11-16 04:09] maximusvladimir commented on #47
I don't want to work on it anymore. Assigned to nobody, and bumped to 0.5, in reality, we don't have to have the saving username until like Beta, but we should have the settings file when we create a settings window.

[2012-11-16 04:10] maximusvladimir commented on #53
5;. (as mentioned in abauer's post -- The mouse should be able to move the viewport on the world, in world view mode.)

[2012-11-16 04:18] maximusvladimir opened #55 "Window Builder cannot be used due to Window.java"
![Bug](https://dl.dropbox.com/u/11164236/navalbattle/bug453.png)

[2012-11-16 04:19] maximusvladimir commented on #24
In the latest commit, Main menu window has a title font

[2012-11-16 04:25] abauer commented on #47
ok can we comment it out so we can run the program now?

[2012-11-16 04:25] abauer commented on #55
it works for me... we might need to look into this

[2012-11-16 04:27] abauer opened #56 "Double window"
when a click is done to skip the logginginwindow 2 main menus popup

[2012-11-16 04:30] ThomasGaubert commented on #55
I ran into this the other day when making the Window class for the first time. In my case it was due to the dynamic logging of the class files.

[2012-11-16 04:38] ThomasGaubert opened #57 "Ability to save data"
Merge of #47 and #49.

OOP-based system of accessing stored data, preferably in separate files as needed.

This is low priority, so specifics can be decided later.

[2012-11-16 04:38] ThomasGaubert commented on #49
Merged with #57.

[2012-11-16 04:38] #49 closed, assigned to maximusvladimir

[2012-11-16 04:38] ThomasGaubert commented on #47
Merged with #57.

[2012-11-16 04:38] #47 closed, assigned to nobody

[2012-11-16 04:40] ThomasGaubert opened #58 "SettingsAttributes fails to load"
This should either be fixed before #57 can be implemented.

[2012-11-16 04:43] ThomasGaubert opened #59 "Log to DebugWindow"
Logs should be written to DebugWindow (versus System.out) for usability and uniformity.

This is more of a management thing to keep in mind as development continues, but upon completion of this issue, the game should be only using DebugWindow.

A good rule of thumb is all pushed code should use DebugWindow. Code that is being worked on can obviously do whatever.

[2012-11-16 04:44] ThomasGaubert commented on #32
Complete as of now. Reopen this or another issue if there are more to be added.

[2012-11-16 04:44] #32 closed, assigned to maximusvladimir

[2012-11-16 04:44] ThomasGaubert commented on #46
Can be tied in with #57.

[2012-11-16 04:46] ThomasGaubert commented on #57
Tied with #46 (should be implemented along with it).

[2012-11-16 04:46] ThomasGaubert commented on #24
The title appears to not fit in the space given. See: http://i.imgur.com/pFeTH.png

[2012-11-16 04:48] ThomasGaubert commented on #56
Removed click to skip in 6b18da5

[2012-11-16 04:49] #56 closed, assigned to ThomasGaubert

[2012-11-16 13:30] maximusvladimir commented on #58
Is it SettingsAttribute that doesn't work, or is it SettingsReader?

[2012-11-16 13:31] maximusvladimir commented on #24
Even though its not working, it looks sooooo good on Windows 8.

[2012-11-16 15:55] maximusvladimir commented on #24
Is this issue closed yet???

[2012-11-16 15:58] ThomasGaubert commented on #24
I suppose it can be closed now.

[2012-11-16 15:58] ThomasGaubert commented on #58
Well the file appears to not exist, so whatever dealing with that is broken.

[2012-11-16 15:59] maximusvladimir commented on #58
It works on mine. I really want to look at one of y'alls computer to see what is going on with it.

[2012-11-16 16:02] ThomasGaubert commented on #58
You can mess around with it this afternoon (after school) if you want.

[2012-11-16 16:29] ThomasGaubert opened #60 "RoketGamer website is offline"
RoketGamer, along with every other .co.cc domain appears to be offline. We'll need to look into a new domain or other options.

[2012-11-16 18:31] maximusvladimir commented on #60
By the looks of it, it appears that the entire website is gone. I don't think it is coming back anytime soon, either. http://webcache.googleusercontent.com/search?q=cache:http://co.cc/&safe=active&as_qdr=all

[2012-11-16 22:57] ThomasGaubert commented on #60
Yeah the domain registrar closed down. I'll look into a new domain :/

[2012-11-16 23:00] abauer commented on #55
fixed

[2012-11-16 23:00] #55 closed, assigned to abauer

[2012-11-16 23:00] abauer commented on #52
fixed

[2012-11-16 23:00] #52 closed, assigned to abauer

[2012-11-16 23:00] abauer commented on #48
hopefully going to take a look at this today

[2012-11-17 00:39] maximusvladimir commented on #58
I dident have time today--I saw y'all walking back from practice when I was leaving the parking lot. Do y'all have any idea of what it might be?

[2012-11-17 00:41] maximusvladimir commented on #53
Part 2 is finished.

[2012-11-17 00:42] maximusvladimir commented on #53
6; the mouse on the screen doesn't correlate properly with each other.

[2012-11-17 02:01] ThomasGaubert commented on #58
I have no idea why it wouldn't be working, but I know for Hawkridge we stored data in AppData/.hawkridge. We can always try that?

[2012-11-17 02:37] abauer commented on #58
i didn't really like that method

[2012-11-17 02:37] abauer commented on #58
wrong button
um what about saving online through RoketGamer?

[2012-11-17 03:26] ThomasGaubert commented on #58
That is possible, though saving last good username won't be possible. Plus offline mode will create problems.

[2012-11-17 03:28] ThomasGaubert commented on #48
I have a feeling that it may have to do with Nimbus's background color. The bounds of the text area may not get up against the image area perfectly, so the background leaks though. I may give it a peek in a bit.

[2012-11-17 03:58] abauer commented on #58
combination of the two?

[2012-11-17 03:59] abauer commented on #48
i tried altering so much stuff; i honestly have no clue as to what the problem is...

[2012-11-17 04:08] ThomasGaubert commented on #58
I suppose, but the data API won't be ready for quite some time. Might as well do the offline stuff for now and I can hook into it later.

[2012-11-17 22:54] maximusvladimir commented on #48
I will look into it later. (I'm on mobile right now)

[2012-11-17 23:03] maximusvladimir commented on #58
I think that a sync kinda thing will work. I haven't officially started with the saving and loading part. We are looking into save files being about this size: (256_8_100_100_64*48) bytes. I think that al the problem with the setting reader is that it is in that relative directory. Has anyone tried to put the setting file in a affective directory (like C:\folder\settings.ini) and loading it from t

[2012-11-17 23:04] maximusvladimir commented on #58
Oh and the grid file would be like (64_48_entities) bytes.

[2012-11-18 18:07] ThomasGaubert commented on #60
I registered http://roketgamer.com. I will hopefully reupload the site today.

[2012-11-19 02:08] maximusvladimir commented on #54
Fixed, for now.

[2012-11-19 02:08] #54 closed, assigned to maximusvladimir

[2012-11-19 02:10] maximusvladimir commented on #53
Part 6 and Part 4 are fixed as of latest commit.

1,3, and 5 are the only ones left. :smile:

[2012-11-19 03:21] ThomasGaubert commented on #60
Okay, logins now work!

[2012-11-19 03:21] #60 closed, assigned to ThomasGaubert

[2012-11-19 03:46] abauer commented on #53
looking good

[2012-11-19 03:47] abauer commented on #59
looks like all the window hiding and showing works as of now

[2012-11-19 03:47] #59 closed, assigned to abauer

[2012-11-19 03:48] abauer commented on #48
again couldn't fix it, a temp fix would be to use a jlabel instead of a text area, at this point the white box doesn't look as bad as first thought

[2012-11-19 03:49] abauer commented on #36
will look into it

[2012-11-19 13:00] maximusvladimir opened #61 "Credits Menu Tweaks"
It would be really cool and look like a Zelda style thing. I would like to have it implemented by this milestone or next.

[2012-11-19 22:01] maximusvladimir commented on #61
Bumped to later Milestone.

[2012-11-19 22:24] maximusvladimir commented on #17
I think this is done...

[2012-11-19 23:11] ThomasGaubert commented on #17
For now it is. We can open another once we start implementing it.

[2012-11-19 23:11] #17 closed, assigned to nobody

[2012-11-20 02:03] ThomasGaubert commented on #48
Finally resolved!

[2012-11-20 02:03] #48 closed, assigned to abauer

[2012-11-20 02:30] ThomasGaubert opened #62 "Memory Limit"
I don't know how serious the issue is at the moment, but apparently we have hit the memory allocation limit once or twice.

If it's common now it won't get any less common as development continues.

This is more for discussion than an actual fix, at the moment.

[2012-11-20 03:04] maximusvladimir commented on #62
Honestly, I have hit it many times. The issue is when the Game constructor is called (in otherwords when the terrain, grid, and other generation is going on). I can free up ALOT of memory if we make some more static variables. For example, currently every Entity has its own image, 3072 entities (64*48 = 3072), which is alot of images. If some of these images were shared with each other, we could d

[2012-11-20 03:09] maximusvladimir commented on #62
Oh I am sorry. Each image is 20000 bytes, so we are currently occupying only 61440000 bytes (58.59375 MB). We actually only need 40000 bytes.

[2012-11-20 03:20] maximusvladimir commented on #29
Fixed as of commit id d454fc0b77f37ce9761ed88fbb59fd10afd22182.

[2012-11-20 03:20] #29 closed, assigned to maximusvladimir

[2012-11-20 03:21] maximusvladimir commented on #50
Rivers toooooo buggy. Bumped to 0.5, as they are not a crucial part of the game. (Decided as of d454fc0b77f37ce9761ed88fbb59fd10afd22182).

[2012-11-20 03:23] ThomasGaubert commented on #62
Allowing the images of entities to be shared while still allowing for unique characteristics such as color should be feasible.

I thought you warned against disposing windows? (or was that only if you were going to just recall them again?) If we can, we should clean out as many windows as we can once they aren't needed... namely Login and LoggingIn windows.

We can make sure that there is enough o

[2012-11-20 03:23] ThomasGaubert commented on #62
@abauer needs to look at this.

[2012-11-20 03:25] maximusvladimir commented on #62
yeah. @abauer needs to look at it. You _should_ dispose windows, just as long as you aren't going to use them anymore.

[2012-11-20 03:26] ThomasGaubert commented on #62
Okay, that's what I thought.

[2012-11-20 03:34] maximusvladimir commented on #53
#1 is pretty much fixed, as of commit id 92c0c3b3d74ab5f2b8dddc0ed89f980eb55a0b82.

[2012-11-20 03:34] maximusvladimir commented on #53
im not sure why that is bold and large.

[2012-11-20 03:39] ThomasGaubert commented on #53
It may had to do with the pound symbol. I fixed it (removed the space).

[2012-11-20 03:40] ThomasGaubert opened #63 "License headers"
As alpha stage nears conclusion, all files should have the appropriate license header.

[2012-11-20 03:41] ThomasGaubert opened #64 "Javadocs"
As alpha stage nears conclusion, all classes and methods should be fully documented.

[2012-11-20 19:39] maximusvladimir commented on #64
Cough cough Max

[2012-11-20 21:39] abauer commented on #58
ill take a look into this

[2012-11-20 21:40] abauer opened #65 "Battleships implemented"
implement battleships to the grid, not all bells and whistles needed

[2012-11-26 18:49] ThomasGaubert opened #66 "Needs more GameThing"
Needs to be added immediately.

@maximusvladimir

[2012-11-26 18:53] maximusvladimir commented on #66
WHAT??? NO! No GameThing!!!

[2012-11-26 18:54] ThomasGaubert commented on #66
Removed extra email stuff...

[2012-11-26 22:49] abauer commented on #66
um is this an actual issue?

[2012-11-26 22:51] abauer commented on #62
i think we are currently disposing windows, and i belive i am calling super.dispose();
taking a look right now

[2012-11-26 22:52] ThomasGaubert commented on #66
Of course not...

[2012-11-26 22:53] #66 closed, assigned to maximusvladimir

[2012-11-26 22:59] abauer commented on #62
correction, login window and loggingin window are both disposed, the disposed method is never overwritten but super.dispose(); is called...

[2012-11-26 23:00] abauer commented on #62
we could have an entity manager for every type of entitiy and have one static image use-able by all, then when u need to draw each entity they can be drawn by their manager.

[2012-11-26 23:04] abauer commented on #58
still doesn't work
and im still not sure how to access a file thats inside a jar that your working with...

[2012-11-28 18:04] abauer commented on #62
what else needs to be done to finish this milestone?

[2012-11-28 18:10] ThomasGaubert commented on #62
Nothing probably at the moment, as we haven't even added the battleship images, etc.

When we add them we need to start with a logical image manager, etc.

[2012-11-28 18:47] abauer commented on #62
plus we might be refactoring

[2012-11-28 18:47] #62 closed, assigned to nobody

[2012-11-28 18:52] maximusvladimir commented on #62
Wait why is this closed??? The problem is still present.

[2012-11-28 19:02] ThomasGaubert commented on #26
Updated.

[2012-11-28 19:03] ThomasGaubert commented on #51
Update

[2012-11-28 19:21] ThomasGaubert commented on #62
It's going to be handled as we move forward (as we can't really do much at the moment until we have stuff to manage). It can be reopened if needed.

[2012-11-28 20:40] abauer commented on #53
as of now it looks verynice and is functional for this milestone, moved to 0.5

[2012-11-28 20:41] abauer commented on #36
still not sure

[2012-11-28 20:41] abauer commented on #61
so as of now we can't even have a back button in the credits menu?

[2012-11-28 20:51] abauer commented on #37
is this necessary?

[2012-11-28 23:13] abauer opened #67 "Loading and Saving data"
This is a combination of  multiple issues including
#58, SettingsAttributes fails to load,
#46, Implement LoginOptionsWindow,
#57, Ability to save data,
#47, LoginWindow should save last good username,
#49, The ability to save chunks and the current state of the grid,

This issue includes (based off of aforementioned issues:
1) a working read/write file system and location:
2) a interface with the

[2012-11-28 23:13] abauer commented on #58
combined with #67

[2012-11-28 23:13] #58 closed, assigned to maximusvladimir

[2012-11-28 23:13] abauer commented on #46
combined with #67

[2012-11-28 23:13] #46 closed, assigned to ThomasGaubert

[2012-11-28 23:14] abauer commented on #57
combined with #67

[2012-11-28 23:14] #57 closed, assigned to nobody

[2012-11-28 23:14] abauer commented on #47
combined with #67

[2012-11-28 23:14] abauer commented on #49
combined with #67

[2012-11-28 23:15] abauer commented on #36
haven't seen this lately; have u?

[2012-11-28 23:16] abauer commented on #37
if it is necessary it would be part of #67 and LoginOptionsWindow

[2012-11-28 23:17] abauer commented on #45
well sqrt works still, maybe because Java bitshift and C++ bitshift are different?

[2012-11-29 01:34] maximusvladimir commented on #60
Sweet. That's going to look a lot more professional, and it should be more reliable.TexasGamer notifications@github.com wrote:I registered http://roketgamer.com. I will hopefully reupload the site today.

—
Reply to this email directly or view it on GitHub.

[2012-11-29 01:48] maximusvladimir commented on #45
:lollipop: Haha, no, bitshifts essentially call the platform-dependent native code on the client's system. It is the same with the basic math functions. Because deep down, no matter what, you are still calling basic assembly op codes for math (ADD ,ADC,SUB,SBB,DIV,IDIV,MUL,IMUL,INC,DEC,CMP,SAL,SAR,RCL,RCR,ROL,ROR) (The last 6 are the ones you are asking about.). (I shouldn't say "platform-dependen

[2012-11-29 01:51] maximusvladimir commented on #37
Ehhh. Lets forget about this for a while... Its not really necessary.

[2012-11-29 01:51] #37 closed, assigned to maximusvladimir

[2012-11-29 01:52] maximusvladimir commented on #36
I need to look again, but I haven't seen this bug in a while.

[2012-11-29 01:54] maximusvladimir commented on #67
Wo wo wo bro, this isn't suppose to be this way... The settings are going to be independent of the worlds themselves. issue #57 and issue #58 shouldn't be included in this.

[2012-11-29 01:54] maximusvladimir commented on #61
I will work on it, ummm, soon.

[2012-11-29 01:55] maximusvladimir commented on #62
Oh ok. I see. So basically this is a reoccurring issue, but we've fixed it for now.

[2012-11-29 02:01] ThomasGaubert commented on #62
Correct.

[2012-11-29 02:02] ThomasGaubert commented on #60
Thanks. I hope it will be too...

[2012-11-29 23:48] abauer commented on #45
figured, i just wanted an explanation

[2012-11-29 23:50] maximusvladimir commented on #45
Ok :smile_cat:. If you have anymore questions, just ask.

[2012-11-29 23:50] abauer commented on #67
actually all the data needs to be stored somewhere; yes they will be saved in different places but the reader / writer encompasses all the data, thus it does include #57 and #58 : But you are correct in that #57 and #58 are separate from the Options

[2012-11-30 00:13] ThomasGaubert commented on #67
I mentioned an idea about how the file saving should work. Hopefully this makes sense:
- Use by creating an object from `PreferenceManager.java`
  - Ideally one object is for NavalBattle global preferences and can be accessed by `NavalBattle.getPreferenceManager()`
  - Each instance of the PreferenceManager handles one individual file, stored somewhere safe (we should look at Hawkridge, which uses

[2012-11-30 01:36] abauer commented on #40
working on it

[2012-11-30 01:37] abauer commented on #40
just did keyboard listener; unfortunately focuslistener can't be a constant

[2012-11-30 02:09] abauer commented on #40
fixed as of commit 8fad9a55d98718f915d20160bbaf35c80dd2998f

[2012-11-30 02:09] #40 closed, assigned to abauer

[2012-11-30 02:21] maximusvladimir commented on #40
Technically, it is not fixed, but it has been partially implemented.

[2012-11-30 14:23] smeagle42 opened #68 "Organize Resources"
Organize resources to be logical. The images are there and sorted, but the references in code need to be changed.

[2012-12-03 01:21] maximusvladimir opened #69 "Fatal issue with CommandHandler"
![Bug #69](https://dl.dropbox.com/u/11164236/navalbattle/bug69.png)

[2012-12-03 01:52] maximusvladimir opened #70 "Renderer is being rewritten."
Issues with previous renderer:
1. Very little OOP
2. Somewhat buggy
3. Code not clean
4. Not optimizable (and not optimized for that sake).
5. Chunks were static. (A BIG issue, led to 10, 9, 3, and 1).
6. The Day/Night cycle overhead was handled per chunk, and should be dependent on the entire screen.
7. Onions have layers... Ogres have layers. The Game.java renderer didn't have a proper layering

[2012-12-03 01:53] ThomasGaubert commented on #69
I'll look into this when I get some free time (hopefully tomorrow).

[2012-12-03 01:54] maximusvladimir commented on #68
Hold on to yo' horses there for a minute, we can't just change resource paths, without something catastrophic happening. :scream:

[2012-12-03 01:54] ThomasGaubert commented on #70
:+1:

[2012-12-03 01:54] ThomasGaubert commented on #68
Please explain?

[2012-12-03 01:56] ThomasGaubert opened #71 "Profile application"
Using a program such as [JProfiler](http://www.ej-technologies.com/products/jprofiler/overview.html), we need to check for any glaring issues such as memory leaks, etc.

The program is nice, though unfortunately not free so it'll have limited use as development continues.

[2012-12-03 02:15] maximusvladimir commented on #67
Thanks to the new renderer being implemented, chunk data should be handled more effectively.

For example the file "3b.chk", "zZ.chk", "V8.chk", would correspond to the chunk at coordinates (3,11), (35,61), (56,8). (Kinda how Minec\* handles it).

Therefore, the maximum world size, can currently be 61x61, until I implement super-chunks (which could yield a maximum world size of 13845841x13845841.)

[2012-12-03 02:18] maximusvladimir commented on #68
Well I am just saying, that if we do change paths for resources, y'all need to tell me, so I can commit what I have, and stop working, while y'all go through the files and refractor the paths, to prevent something bad from happening.

[2012-12-03 02:19] maximusvladimir commented on #71
There is a REALLY nice one included on your system, that's right folks, it's free and already included.

C:\Program Files\Java\jdk1.7.0_02\bin\jvisualvm.exe.

I use it ALL the time, and it is really nice.

[2012-12-03 02:20] maximusvladimir commented on #71
PS- Your path may be slightly different than indicated above.

[2012-12-03 02:21] ThomasGaubert commented on #67
So essentially each chunk is a 2x2 grid in the game?

If I'm understanding everything correctly the game currently has each tile (grid space) as a entity with the image data, etc. (this uses a lot of memory). Will this be the case again or will chunks and the map data be stored on a separate layer?

[2012-12-03 02:21] ThomasGaubert commented on #71
Thanks for the heads up, I'll probably use that.

[2012-12-03 02:23] ThomasGaubert commented on #68
Oh okay... it's not very high priority so we'll announce it on Skype so everyone can dump their code, etc. We can probably schedule it for Wednesday or so.

[2012-12-03 03:02] maximusvladimir commented on #67
Chunks and map data are going to be _rendered_ in different layes, but they are going to pragmatically be together.
Lets see if I can make a graphic to help:

![Graphic showing stuff about the organization](https://dl.dropbox.com/u/11164236/navalbattle/organizationmap.png)

[2012-12-03 03:04] maximusvladimir commented on #67
Sorry, in the graphic above, I swapped the Entity 10 and the Entity 01.

[2012-12-03 03:05] maximusvladimir commented on #36
It's gone. (For now)

[2012-12-03 03:05] #36 closed, assigned to abauer

[2012-12-03 03:08] maximusvladimir commented on #58
Umm this issue can't be fixed until we figure out where to start saving data.

[2012-12-03 03:37] maximusvladimir opened #72 "Load screen for the actual game."
I admit it, I may not be able to write code that operates the fastest, however I have thought in advance for the code I am currently writing for the renderer, and I would like to say it would be very cool to have a load screen for the loading of the game (while everything is generating), even though it only takes a few seconds. I have added a method in WorldGen.java (getPercentComplete()), which w

[2012-12-03 13:08] maximusvladimir commented on #72
As of commit id 5e87999eec21fc18d3b7a1c30d8e55713cf85e2f, this is partially fixed. It doesn't look that good though... :worried:

[2012-12-03 13:17] maximusvladimir commented on #72
As of latest commit, I have implemented a smoother progress bar. :octocat:

[2012-12-03 14:03] maximusvladimir opened #73 "More natural structures in OmniMap"
I would like to see:
1. Caves.
2. Grass.
3. Trees.
4. Anmals.
5. Baby Whales (their venom is stronger than a normal whale, because it is more concentrated).
6. Detailed ships.
7. Villages.

(It's going to look like Minecraft with an HD texture pack by the time I am done with it).

[2012-12-03 14:09] maximusvladimir opened #74 "Here's an idea for OmniMap"
Lets put the MiniZoomMap in a circular magnifying glass. What would happen, is if the mouse would hover over a point for ~1 or ~2 seconds, a magnify orb would appear with that area zoomed in. (Kinda like when you hold your finger down on a text input gui component on Appl\* iO\* devices). The OmniMap in the upper corner would show only the map of the world.

Idk. It's just an idea.

[2012-12-03 15:04] ThomasGaubert commented on #74
Possibly, though it could get annoying. Why not right click or something else instead?

[2012-12-03 15:05] ThomasGaubert commented on #73
`Minecraft with an HD`
I never liked MC with an HD pack ;)

Sounds fine though, but we should get a semi-working game first.

[2012-12-03 15:06] ThomasGaubert commented on #72
Looks good. I may add an animation or something to spruce it up later.

[2012-12-03 15:07] ThomasGaubert commented on #67
Wow that's cool. Thanks!

[2012-12-03 16:02] maximusvladimir commented on #73
Yeah, this is just an idea, I don't plan on adding this stuff anytime soon, which is why it is bumped to Beta 0.7.

[2012-12-03 16:03] maximusvladimir commented on #74
You're right. I like right clicking better.

[2012-12-03 17:43] abauer commented on #68
agree

[2012-12-03 17:49] abauer commented on #58
saving at appdata/.navalbattle
using the same layout / code as hawkridge

[2012-12-03 18:04] maximusvladimir commented on #58
Ok, is already fixed, or do y'all want me to do it?

[2012-12-03 18:39] maximusvladimir commented on #58
Apparently it hasn't. I will work on this as soon as possible.

[2012-12-03 23:56] abauer commented on #58
well it was moved to #67 so post there plz

[2012-12-03 23:58] abauer commented on #71
so fixed?

[2012-12-03 23:59] abauer commented on #45
it would be nice to use this...

[2012-12-04 00:00] abauer opened #75 "Bump Version to 0.6"
Change version to 0.6.

**To be completed after other issues are complete.**

[2012-12-04 01:09] maximusvladimir commented on #58
Lol this issue has like 22 comments.

[2012-12-04 01:21] ThomasGaubert commented on #58
Obviously a heated discussion.

[2012-12-04 01:22] ThomasGaubert commented on #71
No, this task was to indicate that we need to profile it at the conclusion of this milestone and/or during development to work memory usage, etc. down.

[2012-12-04 01:22] ThomasGaubert commented on #73
Okay, cool.

[2012-12-04 12:09] maximusvladimir commented on #45
Yeah... I have figured out how to make the game fast, I am just worried that once we start putting stuff on the Grid, it is going to get slow. We are really going to need this class.

[2012-12-04 12:10] maximusvladimir commented on #43
For now, we are dropping this idea, so, closed.

[2012-12-04 12:10] #43 closed, assigned to maximusvladimir

[2012-12-04 12:16] maximusvladimir commented on #69
I haven't seen this issue in a while. It's really weird. Maybe we should close it.

[2012-12-04 12:18] maximusvladimir commented on #67
This can't really be done until I have finished Pavo.

[2012-12-04 15:16] ThomasGaubert commented on #69
I haven't encountered it myself.

@abauer and myself were thinking of redoing it anyways.

[2012-12-04 15:57] abauer commented on #58
just a lot of talk

[2012-12-04 15:59] abauer commented on #45
yeah thats probably a big concern to look at

[2012-12-04 16:00] abauer commented on #69
i haven't encountered it, but i do think the command system could use a revamp: its kinda hacky

[2012-12-04 16:46] ThomasGaubert commented on #69
Indeed. I tried to take inspiration from Bukkit's system of doing things.

`onCommand (CommandSender sender, Command command, String label, String[] args)`

We can talk about it.

[2012-12-04 16:51] abauer commented on #69
ok
well since the commands are set and were only planning to hard code them we can just use strings to pass
this would also reduce some memory useage...

[2012-12-04 16:55] ThomasGaubert commented on #69
Right you would have something similar to:

`onCommand(CommandSource source, String command, String args[])`

Where CommandSource is an enum with USER_ENTERED, CODE, etc.

Others make sense.

[2012-12-04 17:04] abauer commented on #69
right something like that

[2012-12-04 21:55] maximusvladimir commented on #45
I have implemented something I like to call immortal threads, so it should be able to sync between the game board/terrain si it shouldn't be of any trouble. However I need to talk to yall about locks and off screen updates. Remind me when I get on skype to talk about rhis.

[2012-12-04 22:13] maximusvladimir commented on #67
I propose an idea: we have a class or abstract method that would handle saving appropriatly.

[2012-12-04 22:43] abauer commented on #45
relevant to fastmath?

[2012-12-04 22:43] abauer commented on #67
ok - i guess that works

[2012-12-05 00:27] abauer commented on #67
1) location has been added as of FileUtils.java located in jpii.com.navalbattle.util

[2012-12-05 12:06] maximusvladimir commented on #45
No.... but it relates to the speed of the game... :frowning:

[2012-12-05 12:07] maximusvladimir commented on #69
Also, you can obtain the stack trace, and parse where it originated from (probably wouldn't be useful though....)

[2012-12-05 12:39] maximusvladimir commented on #70
70% left to go, until we can get back to where we were.

[2012-12-05 12:57] maximusvladimir opened #76 "The screen should be able to be moved by an action being undergone on a entity that is focused on."
I figured a cool way to do it.

[2012-12-06 01:53] abauer commented on #45
ok...

[2012-12-06 01:54] abauer commented on #69
but were not getting an error; so what would there be a stack trace of?

[2012-12-06 01:55] abauer commented on #69
we could get a stack trace but there would be no relevant information in it

[2012-12-06 01:55] abauer commented on #70
:+1:

[2012-12-06 16:53] maximusvladimir opened #77 "If window is resized during night time, some chunks appear to be in day time."

[2012-12-06 16:53] maximusvladimir commented on #70
:+1:

60% left to go...

LOL no. 11 is my favorite.

[2012-12-06 16:55] maximusvladimir commented on #69
The source. In the professional environment, the stacks actually interact more with the user than people realise.

[2012-12-06 17:56] abauer commented on #70
11 is very funny
laughed so hard

[2012-12-06 18:06] ThomasGaubert commented on #70
:+1:

[2012-12-06 23:24] maximusvladimir opened #78 "There are ALOT of packages. Could we consider clearing some out???"
I can clear out com.jpii.navalbattle.renderer, once I finish Pavo.

Y'all can delete com.jpii.dagen, com.jpii.dagen.processing, com.jpii.dagen.test, and com.jpii.dagen.vegetation. (MBBT).

Anything that y'all think could think of?

[2012-12-06 23:32] maximusvladimir commented on #77
Fixed as of commit id 2804b422f7a6356dbd92445f0660dc26e0653ea8.

[2012-12-06 23:32] #77 closed, assigned to maximusvladimir

[2012-12-06 23:33] maximusvladimir commented on #76
Do y'all know what I mean by this?

[2012-12-07 02:17] ThomasGaubert commented on #78
Is the problem being there are more sub-packages than necessary? (Anything beyond com.jpii.navalbattle.parent)

[2012-12-07 15:25] abauer commented on #78
i don't think the problem is a lot of packages (they create organization) i think there are some things that are packaged incorrectly and some packages that are not needed

[2012-12-07 15:44] ThomasGaubert commented on #78
I agree with @abauer. We can possibly discuss it whenever we decide to do the "check up" chat.

[2012-12-07 15:50] maximusvladimir commented on #78
Like I said;

Y'all can delete com.jpii.dagen, com.jpii.dagen.processing, com.jpii.dagen.test, and com.jpii.dagen.vegetation. (MBBT).

There might be a few others that we can optimize.

[2012-12-07 18:03] abauer commented on #78
having a tree flow diagram of the packages w/classes contained in them can help us organize during our checkupchat

[2012-12-07 19:00] maximusvladimir commented on #78
Does anyone have a copy Microsoft Office Visio??? Lucid charts is fine, but I really like Visio.

[2012-12-08 00:48] ThomasGaubert commented on #78
Sadly, no I don't.

[2012-12-09 00:49] #71 closed, assigned to ThomasGaubert

[2012-12-09 19:45] maximusvladimir opened #79 "Very very rare Nimbus error."
I don't think this is much of a problem, but very very rarely, I will get the following error:

Exception in thread "AWT-EventQueue-0" java.lang.ClassCastException: java.lang.Boolean cannot be cast to java.awt.Color
    at com.sun.java.swing.plaf.nimbus.NimbusStyle.getColorForState(Unknown Source)
    at javax.swing.plaf.synth.SynthStyle.getColor(Unknown Source)
    at javax.swing.plaf.synth.Synth

[2012-12-10 03:20] ThomasGaubert opened #80 "Leaderboards API"
Finish complete Leaderboards API and implement in code and server.

[2012-12-10 03:21] ThomasGaubert opened #81 "Achievement API"
Finish complete Achievement API and implement in code and server.

[2012-12-10 03:22] ThomasGaubert opened #82 "RoketGamer PlayerUtils"
Finish complete PlayerUtils and implement in code and server.

[2012-12-10 03:22] ThomasGaubert opened #83 "RoketGamer ServiceUtils"
Finish complete ServiceUtils and implement in code and server.

[2012-12-10 14:46] maximusvladimir opened #84 "Last row and column of chunks are black."

[2012-12-10 15:14] ThomasGaubert commented on #68
Let's aim for this Saturday to do the code dump. We can assign people to do different packages or one person can do it all.

@abauer @maximusvladimir @smeagle42

[2012-12-10 15:39] maximusvladimir commented on #70
Only OmniMap, more terrain details, and a few other things are missing.

45% left to go.

[2012-12-10 15:42] maximusvladimir commented on #68
Ok. :japanese_goblin:

[2012-12-11 03:11] abauer commented on #68
so we started today with the res package: but im assuming this issue involves the redistribution of packages and classes

[2012-12-11 03:18] ThomasGaubert commented on #68
Its original intent was for the res package. @maximusvladimir 's other issue on packages is more general.

[2012-12-11 13:42] maximusvladimir commented on #84
![image](https://f.cloud.github.com/assets/1757519/5813/8ff4f3fe-4398-11e2-8657-7e43f239d58c.png)

[2012-12-12 02:08] ThomasGaubert commented on #78
Work will be carried out here: https://docs.google.com/spreadsheet/ccc?key=0AmzQhfjZvZcwdFdTdVJtMnFWaFljNld5eDAtaVZCNkE

cc: @maximusvladimir @abauer @smeagle42 @DarkWarHero @smeagle42

[2012-12-13 00:25] ThomasGaubert opened #85 "Buggy in-game windows"
In-game windows are slightly buggy. The map will sometimes get selected instead.

[2012-12-13 00:27] ThomasGaubert opened #86 "Toast notifications display below active windows"
This is mainly a problem when playing the game in "full screen". We may want to look into rendering a separate toast notification when the game is being played (calls to the utility would be redirected as needed, or something...).

[2012-12-13 01:47] abauer commented on #86
well considering you should never have the game open ontop of the toaster... unless you use toaster for achievements... so nm.

[2012-12-13 02:02] ThomasGaubert commented on #86
Achievements and friend notifications (and whatever else we decide to use) won't be viewable in-game... though technically they are there.

[2012-12-13 02:20] abauer commented on #86
right i realized that halfway through typing and was too lazy to delete

[2012-12-13 12:48] maximusvladimir commented on #85
Im thinking we should just remove them...

[2012-12-13 12:49] maximusvladimir commented on #86
I think I can fix this.

[2012-12-13 12:54] maximusvladimir commented on #86
The fullscreen issue should be fixed in commit id 326376a599bbf9ad5a0adf5a3457a47cc38b0ade. Can somebody let me know if it worked?

[2012-12-13 13:12] ThomasGaubert commented on #86
I'll check it soon...

[2012-12-13 13:13] ThomasGaubert commented on #85
Possibly... though I would like to see some kind of popup framework (maybe it just cannot move and opens in the center?).

Profile cards could be the same when another entity is clicked.

[2012-12-13 13:19] maximusvladimir commented on #79
This isn't too rare now. I have gotten it a total of 5 times now.

[2012-12-13 14:48] abauer commented on #85
either way works...

[2012-12-13 14:49] abauer commented on #79
ive never gotten it

[2012-12-13 14:52] ThomasGaubert commented on #79
I don't believe I've gotten it either.

[2012-12-13 23:26] maximusvladimir opened #87 "Critical issue with chunk render"
The chunk render is rendering more chunks than necessary.

[2012-12-13 23:27] maximusvladimir commented on #79
Fine, you don't believe me? I will snapshot next time I get it.

[2012-12-13 23:29] maximusvladimir commented on #86
Lol I am almost certain I fixed it, but now when you press the start button on your keyboard, it glitches up. According to  Microsoft's Application Policy, it is not legal to prevent the user from accessing Window Security Menu, or the Start Menu via the Start button on the keyboard.

[2012-12-13 23:30] maximusvladimir commented on #79
Oh boy:
http://netbeans.org/bugzilla/show_bug.cgi?id=199592

[2012-12-13 23:33] abauer commented on #87
possibly a problem

[2012-12-13 23:34] abauer commented on #86
well guess thats violated... anyway i am planning on doing some tests myself anyway

[2012-12-14 00:03] maximusvladimir commented on #85
Three words banned from NavalBattle:
1. GameThing (Lets just rename NavalBattle to NavalThing)
2. Cards (reminds me too much of Risk....)
3. JGHelper (the worst catastrophe in the professional world since the Great Depression).

[2012-12-14 00:08] abauer commented on #85
lol to 3

[2012-12-14 00:08] maximusvladimir commented on #85
lol indeed

[2012-12-14 00:10] maximusvladimir commented on #87
This is worse than it seems. I am not talking about Chunks rendering offscreen, I am talking about Chunks rendering underneath other chunks. This is why the edge of the map is black.

[2012-12-14 00:30] abauer commented on #87
wow, thats bad

[2012-12-14 01:21] maximusvladimir commented on #87
Looks like this issue won't be fixed for a while...

[2012-12-14 01:22] maximusvladimir commented on #87
Whoops, I accidentally assigned this to Zach.

[2012-12-14 01:36] abauer commented on #87
lol : that could not be good #thridrewriteftw

[2012-12-14 01:58] ThomasGaubert commented on #85
Heh.

"Lets just rename NavalBattle to NavalThing"

Wait really?

[2012-12-14 01:59] ThomasGaubert commented on #79
So not possible to fix? What happens when the error occurs?

[2012-12-14 03:12] maximusvladimir commented on #85
(sarcasm)

[2012-12-14 03:27] abauer commented on #85
are u sure your being sarcastic... i mean that should fix all our problems and make the game work with all the features instantly... At least that's what i've been taught

[2012-12-14 03:31] ThomasGaubert commented on #85
Plus it works everywhere! :wink:

[2012-12-14 11:56] maximusvladimir commented on #79
It get fairly laggy and it throws an error. The program is allowed to continue to run though.

[2012-12-14 14:59] ThomasGaubert commented on #79
Well if it's not possible to fix it, we can always listen for it and alert the user that it happened (and prompt for a restart of the program)?

[2012-12-14 16:04] maximusvladimir commented on #79
May be we should just

[2012-12-14 16:07] maximusvladimir commented on #79
Ok. 95% sure I fixed it as of commit id fa7c2a95e6983bce95403d1c6c379345dc409d5e. (The Nimbug fix). (Lol, play on words).

[2012-12-14 16:09] maximusvladimir commented on #85
The reason this bug is still present, is that the updator can not keep up with the render. This should be classified as another bug.

[2012-12-16 02:16] ThomasGaubert opened #88 "Fullscreen after Windows key fails"
When in fullscreen, the Windows key does work (the start screen/menu is shown), but afterwards attempts to put the game back into fullscreen mode with F11 fail.

Haven't tested this on Windows 7, so it may be a Windows 8 thing.

[2012-12-16 17:21] maximusvladimir commented on #88
Thanks for reminding me! I forgot to fix this (I knew it was there).

[2012-12-16 17:35] maximusvladimir opened #89 "Update inconsistancies"
I have noticed that there are often large changes in game speed depending on how much is running in the background.

When I refer to _game speed_, I am referring to how often the game updates.

After creating the optimizations yesterday (12/15/2012), I noticed a HUGE improvement in speed. The _draw time_ is around 16ms in fullscreen, previously being around 50ms in fullscreen. With the 800x600 mod

[2012-12-16 17:36] maximusvladimir commented on #87
Fixed, as of several commits yesterday.

[2012-12-16 17:36] #87 closed, assigned to maximusvladimir

[2012-12-16 17:39] maximusvladimir commented on #85
This should be linked to issue #89.

[2012-12-16 17:41] maximusvladimir commented on #69
I haven't seen this issue in a long, long time.

[2012-12-16 17:41] #69 closed, assigned to ThomasGaubert

[2012-12-16 17:44] maximusvladimir commented on #70
30% left to go.

I will have to say, I am _extremely_ impressed by how much has come along between rewriting it and now.

[2012-12-16 17:55] maximusvladimir commented on #33
![New design](https://dl.dropbox.com/u/11164236/navalbattle/nb0.4_01.png)

Here's the newly proposed design.

[2012-12-16 17:57] maximusvladimir commented on #67
Is this still being worked on?

[2012-12-16 17:57] maximusvladimir commented on #58
This is on a higher priority than the other load and saving data.

[2012-12-16 17:59] maximusvladimir commented on #62
So this is kind of an issue with WorldSize.WORLD_HUGE maps. It cuts it very close to the JVM limit.

[2012-12-16 18:22] abauer commented on #58
well i was trying to combine it into 1 system
but if you feel it needs to be two thats fine: also since i didn't understand pavo was its own package you can just create an i.o. system for pavo;

[2012-12-16 20:27] ThomasGaubert commented on #58
So basically there is and/or will be:
1. A IO class for NavalBattle preferences (as described in: https://github.com/JPII/NavalBattle/issues/67#issuecomment-10872877)
2. A separate IO system for pavo for chunk saving, loading, etc.

Right?

[2012-12-16 21:09] abauer commented on #58
im thinking thats what needs to happen... because we are going to package pavo so it would make since to package its own IO system: this system could take the path from the constants class

[2012-12-16 21:36] maximusvladimir commented on #58
Ok. No problem. Thats what I thought we were doing the whole time. I actually could start working on loading and saving now, but I need entity information first

[2012-12-16 22:33] maximusvladimir commented on #89
I am also beginning to notice that the longer you have your computer running, the slower the draw time becomes.

[2012-12-17 00:55] maximusvladimir commented on #24
So umm... We have an issue. It turns out that by using a custom font, and placing it in the Font registry can do three of the following things:
1. Have a very slow load.
2. Use large amounts of memory.
3. Slow down g.drawString

[2012-12-17 00:57] maximusvladimir commented on #65
This is not going to be done before Pavo is done... and Pavo is due in 0.5.

[2012-12-17 01:19] abauer commented on #24
so i suggest we just use a build in font: and screw anything else

[2012-12-17 01:19] abauer commented on #65
um ok... moved to milestone 0.5

[2012-12-17 01:20] abauer commented on #68
ok so are we done here?

[2012-12-17 01:21] abauer commented on #64
whose doing this and when?

[2012-12-17 01:21] abauer commented on #24
so i guess Ill work on finding a cool font to display the title screen in

[2012-12-17 01:36] ThomasGaubert commented on #24
As long as it is a sans-serif variant, I am okay with it.

http://en.wikipedia.org/wiki/Sans-serif

[2012-12-17 01:37] ThomasGaubert commented on #64
I can do everything but Max's stuff (as he has a much better idea of what is going on).

Assuming that, I can start whenever... hopefully soon.

[2012-12-17 01:37] ThomasGaubert commented on #68
Yep.

[2012-12-17 01:37] #68 closed, assigned to ThomasGaubert

[2012-12-17 01:38] ThomasGaubert commented on #65
Ouch... 0.5 will be a big milestone.

[2012-12-17 01:38] ThomasGaubert commented on #58
Sounds good.

[2012-12-17 01:40] abauer commented on #64
ok well in that case i guess i can help somewhat : probably gonna start soon also... seeing as this milestone is due in 4 days

[2012-12-17 02:13] ThomasGaubert commented on #64
Yeah I can do it between finals or something... I don't think there is a terrible amount (sans the renderer :P)

[2012-12-17 02:31] maximusvladimir commented on #65
:frowning:

[2012-12-17 02:32] maximusvladimir commented on #64
I am still in the Radical Revamp stage. Files are being deleted and created left and right. I wouldn't expect me to start docing my stuff until a while from now. (Probably 0.5 or 0.6)

[2012-12-17 02:36] maximusvladimir commented on #24
`It turns out that by using a custom font`...

Basically what I meant by this is if it is not the default (Arial I think), it will run slow (I am pretty sure).

[2012-12-17 03:15] ThomasGaubert commented on #24
So in that case we are "okay"... unless the difference is really that noticeable.

[2012-12-17 03:15] ThomasGaubert commented on #64
That'll be fine.

[2012-12-17 04:17] abauer commented on #64
so i say this milestone applies to everything but pavo / game

[2012-12-17 04:19] abauer commented on #24
Arial or any system font?

[2012-12-17 04:19] ThomasGaubert commented on #64
Works for me.

[2012-12-17 19:14] maximusvladimir commented on #87
This is definitly fixed as of commit 95a698b626e8f357316a20bf35008a39f1da2540.

[2012-12-17 22:41] maximusvladimir commented on #24
I am pretty sure Arial.

[2012-12-17 22:46] abauer commented on #24
ok its not a big deal for me

[2012-12-17 22:51] abauer commented on #24
fixed font as of 32ddba0a0141d2869fb0bcf3a3ab30ea48bdc265

[2012-12-17 22:51] #24 closed, assigned to nobody

[2012-12-18 02:26] maximusvladimir opened #90 "Entities only visually update on screen move"

[2012-12-18 15:59] maximusvladimir commented on #90
Fixed!

[2012-12-18 15:59] #90 closed, assigned to maximusvladimir

[2012-12-18 15:59] maximusvladimir commented on #84
Fixed! (As of newer, faster rendering system).

[2012-12-18 15:59] #84 closed, assigned to maximusvladimir

[2012-12-18 16:01] maximusvladimir commented on #89
Just ran an official test--- The Day/Night cycle (24 game hours) lasts 1 minute and 40 seconds. Could somebody run it on another computer, and see if that what they get?

[2012-12-18 16:06] maximusvladimir commented on #70
20% left to go.

OmniMap work, Grid work, and some small details.

I will have to say, I am **extremely** impressed by how much has come along since the last time I commented on this issue.

[2012-12-18 16:08] maximusvladimir commented on #89
Also, I think that the renderer is not a problem at all anymore. I am not complaining about a 6ms draw time in full screen at all.

The main issue is the updator. I don't understand why it is not staying in sync with the renderer.

[2012-12-18 23:07] ThomasGaubert commented on #89
I got about 1:44, give or take a few seconds.

Here's a video of it: http://youtu.be/BK7FwjOeZQo

[2012-12-19 02:23] maximusvladimir commented on #89
I am 99% sure I have it figured it out, therefore, this issue is closed.

[2012-12-19 02:23] #89 closed, assigned to nobody

[2012-12-19 02:25] maximusvladimir commented on #86
I am going to play with Toaster for a while, okay?

[2012-12-19 02:26] ThomasGaubert commented on #86
Sounds good to me.

[2012-12-19 18:26] ThomasGaubert commented on #64
I will complete the documentation by this evening.

[2012-12-19 18:26] ThomasGaubert commented on #63
I will complete the headers by this evening.

[2012-12-19 18:27] ThomasGaubert opened #91 "Public API"
Implement the public API on both server and client.

[2012-12-19 21:00] maximusvladimir commented on #63
I will work on pavo tonight too. For now I am just going to use the jpii headers. I still have some un commited changes so I am not ready yet.

[2012-12-19 21:01] maximusvladimir commented on #64
I will worj on pavo documentation some tonight.

[2012-12-19 21:27] ThomasGaubert commented on #63
Okay that's fine. I'll leave the renderer and pavo packages alone.

[2012-12-19 23:36] maximusvladimir opened #92 "Omnimap becomes monomap"
Since the renderer and stuff is soooo fast now, why don't we just put the trees and grass in the actual world, instead of the omnimap, making omnimap only have the duty of showing the entire world.

[2012-12-19 23:37] maximusvladimir commented on #92
The actual file name wouldnt change, fyi.

[2012-12-19 23:53] ThomasGaubert commented on #63
Done once @maximusvladimir does his package(s).

[2012-12-20 03:31] maximusvladimir commented on #63
I finished that a while back.

[2012-12-20 03:59] ThomasGaubert commented on #63
Alright cool, completed for now then!

[2012-12-20 03:59] #63 closed, assigned to ThomasGaubert

[2012-12-20 16:53] maximusvladimir commented on #92
abauer says Ok

[2012-12-20 18:03] ThomasGaubert commented on #92
dat spelling :-1:

[2012-12-20 18:42] ThomasGaubert commented on #64
Finished with the exception of the game package (mostly documented beforehand) and possibly the pavo and renderer packages.

[2012-12-20 18:46] ThomasGaubert commented on #26
Completed.

Next milestone is 0.5!

[2012-12-20 18:46] #26 closed, assigned to nobody

[2012-12-20 19:11] maximusvladimir commented on #26
Yeah! Now I can actually do stuff.

[2012-12-21 22:55] ThomasGaubert commented on #91
Whoops, I forgot #82 and #83 would cover this.

[2012-12-21 22:55] #91 closed, assigned to ThomasGaubert

[2012-12-23 16:51] maximusvladimir opened #93 "Weather manager needs to manage rain and sunshine better"
The time manager should be able to make it randomly rain. Rain should consist of 1/4 of game play, and it should be sunny the rest of the time.

[2012-12-26 20:04] maximusvladimir opened #94 "Windows"
Just at a curiousity, why is there a class named Window? There is already a java window class (java.awt.Window).

[2012-12-26 21:21] ThomasGaubert commented on #94
It takes care of some defaults, such as icons, sizing, and the global listeners.

[2012-12-28 01:47] abauer commented on #94
we can rename it if its a problem

[2012-12-29 02:17] maximusvladimir commented on #94
It shouldn't be a problem, unless we start using those sub windows things.

[2012-12-29 22:21] maximusvladimir opened #95 "Tank disappears."
The Tank moves around randomly just fine, but sometimes it just decides to disappear.

[2012-12-29 22:21] maximusvladimir commented on #95
![issue](https://dl.dropbox.com/u/11164236/navalbattle/tankAIanimationdemo.gif)

This animation is suppose to be reversed, but shows the dissappearing act.

[2012-12-30 19:08] maximusvladimir commented on #95
So I found the problem, it turns out that when an entity is moved to the same location its at, it sets itself to "null", (which is technically the same as a "grid piece". I have fixed this issue. Entities should now be using the Entity.moveTo(int r, int c).

[2012-12-30 19:08] #95 closed, assigned to maximusvladimir

[2012-12-30 19:49] maximusvladimir opened #96 "To preserve memory, grid entities should be null."
We could reduce memory usage if we made all grid entities null, however we would lose the ability to detect mouse movement, and we would be unable to add Steve to the grid.

[2012-12-30 20:56] ThomasGaubert commented on #96
This would be okay as I don't see a case in which we need mouse movement.

[2012-12-31 00:36] abauer commented on #96
agree with @TexasGamer

[2012-12-31 04:00] maximusvladimir commented on #96
Ok. No problem. I set this for 0.6, so that I can continue to test stuff, basically this means that, this is one of those long term things.

[2012-12-31 04:23] ThomasGaubert opened #97 "Implement Localization"
Implement GameKit's localization engine.

Helpful tool for translating entire strings.xml files: http://translate.google.com/toolkit/list?hl=en#translations/active
- [x] Spanish (Many of us know Spanish, so it would be fairly easy to do).
- [x] English (A major language)
- [ ] Russian (Much of the gaming industry uses this language).
- [x] French
- [ ] German (For the Schram's sake)
- [ ] Chinese

[2012-12-31 22:25] maximusvladimir opened #98 "Refractor"
The NavalBattle stuff needs to get out of Pavo's Entity Manager, and moved to a NavalBattle related package, inheriting Pavo's EntityManager.

[2013-01-01 23:35] ThomasGaubert opened #99 "NullPointerException onMouseMove"
@maximusvladimir
`Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
    at com.jpii.navalbattle.pavo.gui.GridWindow.render(GridWindow.java:87)
    at com.jpii.navalbattle.game.NavalGame.mouseMove(NavalGame.java:199)
    at com.jpii.navalbattle.game.GameComponent$2.mouseMoved(GameComponent.java:86)
    at java.awt.Component.processMouseMotionEvent(Component.java:6335)
    at jav

[2013-01-02 00:24] maximusvladimir commented on #99
Oh. I didn't realise I synced this commit. I was just using it to test a few things.

[2013-01-02 01:55] ThomasGaubert commented on #99
Okay, closed I suppose.

[2013-01-02 01:55] #99 closed, assigned to maximusvladimir

[2013-01-04 03:24] ThomasGaubert commented on #83
Moved to 0.6 because API will more than likely be refactored.

[2013-01-04 03:24] ThomasGaubert commented on #82
Moved to 0.6 because API will more than likely be refactored.

[2013-01-04 03:24] ThomasGaubert commented on #81
Moved to 0.6 because API will more than likely be refactored.

[2013-01-04 03:24] ThomasGaubert commented on #80
Moved to 0.6 because API will more than likely be refactored.

[2013-01-08 03:18] maximusvladimir opened #100 "Choppy framerate"
The framerate is really fast, but it is kinda choppy. We should limit fps.

[2013-01-08 21:50] maximusvladimir commented on #100
Additionally some clients have noticed poor speeds on their platforms.

[2013-01-09 17:11] ThomasGaubert commented on #98
Piggybacking on this with @abauer. The current plan would be to:
- Move Window "engine" to GameKit and implement
- Implement DebugWindow and LocalizationManager from GameKit - see #94 and #97
- Move RoketGamer to a separate repo (TexasGamer/RoketGamer-Java) and implement as a library

I may be missing something, but regardless we'll need to discuss it.

[2013-01-09 17:12] ThomasGaubert commented on #78
Closed as this is addressed in #98

[2013-01-09 17:12] #78 closed, assigned to nobody

[2013-01-09 23:32] ThomasGaubert commented on #98
Using the [new checklist feature](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments):
- [x] Move Window "engine" to GameKit
- [x] Implement aforementioned Window "engine" (see #94)
- [x] Implement DebugWindow and LocalizationManager from GameKit (see #97)
- [x] Move RoketGamer to a separate repo (TexasGamer/RoketGamer-Java)
- [x] Implement this new RoketGamer repo as a library

[2013-01-09 23:37] abauer commented on #98
SOOOOO COOL!!!! now we can put this in other issues also

[2013-01-09 23:39] ThomasGaubert commented on #98
It's like issue-ception. :octocat:

[2013-01-10 00:02] maximusvladimir commented on #70
Due to the current state of the game, i think we completed this, alonnnng time ago.

[2013-01-10 00:02] #70 closed, assigned to maximusvladimir

[2013-01-10 00:03] maximusvladimir commented on #33
I think we all know where this is going.

[2013-01-10 00:03] #33 closed, assigned to maximusvladimir

[2013-01-10 00:03] maximusvladimir commented on #67
We should be able to work on it now.

[2013-01-10 00:07] maximusvladimir commented on #53
I think we have finished.

[2013-01-10 00:07] #53 closed, assigned to maximusvladimir

[2013-01-10 00:10] maximusvladimir commented on #88
is this still a problem?

[2013-01-10 00:10] maximusvladimir commented on #92
Almost complete with this.

[2013-01-10 00:39] ThomasGaubert commented on #88
Yep! It works really well.

[2013-01-10 00:39] #88 closed, assigned to nobody

[2013-01-10 01:08] maximusvladimir commented on #85
I think this is as good as it's gonna get.

[2013-01-10 01:09] maximusvladimir commented on #98
Inception was a great movie :ghost:

[2013-01-10 01:16] ThomasGaubert commented on #85
Alright, closed.

[2013-01-10 01:16] #85 closed, assigned to maximusvladimir

[2013-01-11 03:28] maximusvladimir commented on #79
![image](https://f.cloud.github.com/assets/1757519/59101/fbe9fcbc-5b9e-11e2-98e8-cb4d2cf2dabd.png)

[2013-01-13 20:43] maximusvladimir opened #101 "Rivers are weird"
Issues fixed
- [x] Sometimes rivers generate in oceans, causing the oceans to appear weird.
- [x] Rivers are small and awkward looking.
- [x] Rivers only go in _one direction_. That's what happens when five guys work on an extra-curricular activity.

[2013-01-13 21:34] maximusvladimir opened #102 "Game update issue"
I thought about this before, but I am thinking that this is more of an issue than I originally asserted it to be.

Picture this:

What if someone named Bob was playing the game, and Bob saved his game and the game that he was playing had ships and ports and stuff, and then he went to update the game. When hr went and updated, everything loaded properly, high scores and stuff all worked properly (t

[2013-01-14 03:05] ThomasGaubert commented on #102
Option 1 would be interesting to enforce, so option 2 seems like the best bet. We can always have a "download old version" button with the warning.

[2013-01-14 03:54] maximusvladimir commented on #102
That's what I am thinking for now. We aren't going to have to worry too much about this right now, but I seriously doubt we will be doing a lot of updating for the terrain generator once we start rolling out playable versions of the game.

[2013-01-14 14:18] maximusvladimir opened #103 "Grid system needs partial rewrite"
To make entities bigger than 50x50 pixels, we need to partially rewrite and organise the grid subsystem.
- [x] Cleanup code.
- [x] Write image utility methods.
- [x] Separate NavalBattle code from EntityManager (OOP).
- [ ] Possibly move entity rendering from chunks to global system. (Not recommended, but might be necessary).
- [x] Add tiles.

[2013-01-14 14:19] maximusvladimir commented on #101
lol. Did anybody get the joke?

[2013-01-14 15:18] ThomasGaubert commented on #101
;)

[2013-01-14 15:25] abauer commented on #102
need to prevent submitting scores from games started in a previous version

[2013-01-14 15:26] abauer commented on #101
yep

[2013-01-14 15:28] ThomasGaubert commented on #102
You can either check that client side (if its out of date force offline mode) or create a new leaderboard in the RoketGamer control panel online for every version and change the leaderboard name in the code.

[2013-01-14 15:58] maximusvladimir commented on #102
Scores aren't up to me. I don’t understand how they work, and I don’t want to understand. It is up to y’all for that. I don’t know what we will be scoring, all I know is that we are using RoketGamer.

[2013-01-14 16:18] ThomasGaubert commented on #102
Alright.

[2013-01-17 04:05] maximusvladimir opened #104 "Make program to finish navalbattle"
We need a program that will finish the game for us.

[2013-01-17 04:40] ThomasGaubert commented on #65
This will be locked in for Milestone 0.5 and cannot be moved unless in an extreme case.

[2013-01-17 13:33] maximusvladimir commented on #65
Agreed.

[2013-01-17 13:34] maximusvladimir commented on #100
Seems to have gotten worse.

[2013-01-17 13:35] #94 closed, assigned to nobody

[2013-01-17 13:35] maximusvladimir commented on #72
No longer applicable.

[2013-01-17 13:35] #72 closed, assigned to abauer

[2013-01-17 13:36] maximusvladimir commented on #79
I had it again today. This time it wouldn't let me continue the program (meaning it crashed).

[2013-01-17 13:38] maximusvladimir commented on #104
This is a joke. DO NOT take this seriously. Nobody seemed to get it.

[2013-01-17 13:38] #104 closed, assigned to abauer

[2013-01-17 13:39] maximusvladimir commented on #76
I think that this idea is going to be replaced by the GridedWindows. Idk though.

[2013-01-22 20:08] ThomasGaubert opened #105 "Game Scope and Progress"
I will embellish this more this afternoon, but basically we need to work on the actual game ASAP and need to drop ideas (for version 1.0 at least) until then.

_Stay tuned..._

[2013-01-22 22:13] maximusvladimir commented on #105
Ageed. Until we launch the proposal that I made, I don't think the game can go anywhere. But I kinda need a break this week...

[2013-01-23 00:33] ThomasGaubert commented on #105
Okay, that's fine. Ideally we should be done with the renderer by February 10th (long weekend to actually do work).

[2013-01-24 22:49] maximusvladimir opened #106 "Speed"
Some clients and testers are noticing lags and jagged movement.

[2013-01-24 22:53] maximusvladimir opened #107 "OutOfMemory issues"
Many clients are running out of memory when running the game.

Proposed fixes:
- [ ] Destroy every single window once the game is being shown.
- [x] Minimize Chunk buffer and swap space.
- [ ] Use virtual memory to push unused data to the disk (eg. a chunk that is super far off screen, and not occupied by any entities).
- [x] Require clients to increase heap space (would require native launcher, m

[2013-01-24 23:12] maximusvladimir commented on #107
I forgot to mention, but if you use 256 MB of ram and you want to dump half to the disk for later usage, you will use up 128 mb of disk space. If we eventually do that, we could have unlimited chunks, and it woudldnt take up a bunch of space at all. We could eventually get worlds to be unlimited, and we could have omnimap work too, thanks to the way that the generator works.

[2013-01-24 23:14] maximusvladimir opened #108 "OmniMap zoom in and out"

[2013-01-26 20:06] maximusvladimir opened #109 "Entity.moveTo doesn't work as intended."
Title says everything.

[2013-01-26 20:07] maximusvladimir opened #110 "Grid surrounding Entities are broken"
![image](https://f.cloud.github.com/assets/1757519/100195/04d82b44-67f4-11e2-9b63-b7aaaeb69173.png)

[2013-01-26 20:13] maximusvladimir opened #111 "Rivers appear to be windows to an alternative universe..."
![image](https://f.cloud.github.com/assets/1757519/100201/c39d1b02-67f4-11e2-880e-ea20399d7426.png)

[2013-01-26 20:15] maximusvladimir opened #112 "NavalBattle activity"
The memory usage on NavalBattle looks like shark fins (kinda). Maybe this is an omen sying we should add sharks to the game:

![image](https://f.cloud.github.com/assets/1757519/100203/0a0b11d4-67f5-11e2-88ca-6e7cfe881e49.png)

[2013-01-26 20:45] ThomasGaubert commented on #112
No, we aren't adding sharks until higher priority features are added.

Neat easter egg though.

[2013-01-26 20:45] #112 closed, assigned to nobody

[2013-01-27 00:24] maximusvladimir commented on #112
Yeah this is more of an easter egg/ joke.

[2013-01-28 15:40] ThomasGaubert opened #113 "Rotatable Entities"
Entities should be able to be rotated north, south, east, or west.

This comprises of tracking the Entities logically within the engine and displaying the appropriate image on the screen (image rotation utility or individual images for each orientation).

Animations are not necessary and not under the scope of this issue.

[2013-01-28 15:47] maximusvladimir commented on #113
Agreed. Could we put this in 0.6 though?

[2013-01-28 15:48] maximusvladimir commented on #110
Question: Should the grid go through the enitities (underneath them), or should it just go around them?

[2013-01-28 20:28] abauer commented on #65
is this done?
they are technically in the game

[2013-01-28 20:29] abauer opened #114 "Entity events are not implemented."
The following has been implemented.
- [x] onMouseMove(int x, int y) - when the mouse is moving over the entity.
- [x] onMove(Location original) - when the entity has moved. Original is the original location.
- [x] onMouseDown(int x, int y, boolean leftClick) - when the mouse has been pressed on the entity.The boolean is true, when the left mouse button is pressed. It is false when the right button

[2013-01-28 20:35] ThomasGaubert commented on #65
Uh yeah, I guess so. Separate issues will be made for features.

[2013-01-28 20:35] #65 closed, assigned to abauer

[2013-01-28 20:40] ThomasGaubert commented on #97
Thinking about assigning this @Matthis5point0.

[2013-01-29 01:32] maximusvladimir commented on #97
Russian and English need to be top priority. We should also include the Chinese and Japanese markets.

[2013-01-29 01:33] maximusvladimir commented on #65
Woah woah woah.... Battleships are NOT in the game. Consider them the same as the tanks-they are here strictly for testing. PavoGrid is not even in Alpha stage. It is in like conception stage.

[2013-01-29 02:30] ThomasGaubert commented on #65
Ugh, re-opened.

We need to move PavoGrid into Alpha, let alone ready for production. Remember, 4 months (not including QA)!

[2013-01-29 20:55] ThomasGaubert opened #115 "Add GameKit to build path"
We will be adding GameKit to the NavalBattle project soon. You will need to add GameKit to your NavalBattle build path by doing the following:
1. Clone (download) GameKit via GitHub and set up in Eclipse as usual
2. Right click on the NavalBattle project in Eclipse
3. Select "Properties"
4. Select "Java Build Path"
5. Select "Projects" tab
6. Press the "Add" button
7. Select GameKit

Currently we

[2013-01-29 21:04] abauer opened #116 "Grid moves"
The first chuck moves left and right as the screen is moved left and right, front two columns disappear and reappear

[2013-01-30 00:08] maximusvladimir commented on #116
I thought we had this as an issue already. Oh well. (This has been know about since v0.2ish).

[2013-01-30 00:10] maximusvladimir opened #117 "Add Pavo to build path"
We will be adding Pavo to the NavalBattle project soon. You will need to add Pavo to your NavalBattle build path by doing the following:
1. Clone (download) Pavo via GitHub and set up in Eclipse as usual
2. Right click on the NavalBattle project in Eclipse
3. Select "Properties"
4. Select "Java Build Path"
5. Select "Projects" tab
6. Press the "Add" button
7. Select Pavo

Currently we do not depen

[2013-01-30 00:21] maximusvladimir commented on #65
Pavo is no where near being ready for Alpha!

Pavo's future:
1. 2 modes for terrain, you can use images, or use the default color generator for the pixels.
2. Customisable terrain (e.g. change colors (kinda applies to above), add more water, add buildings, etc).
3. Isometric mode. Pavo will be able to render in either isometric mode or overhead view (current).
4. Fast updates.
5. The ability to ru

[2013-01-30 15:54] maximusvladimir commented on #64
Cough cough Pavo cough cough.

[2013-01-30 17:55] ThomasGaubert commented on #65
So we are finishing the engine on the second to last milestone that isn't featured locked? Bad pacing, no?

To be clear, version 1.0 is what we are turning in at the end of May.

[2013-01-30 17:56] ThomasGaubert commented on #116
Marked as milestone blocker since this is critical.

[2013-01-30 19:38] abauer opened #118 "Entity Array Index Issue"
Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: 128
    at com.jpii.navalbattle.pavo.grid.EntityManager.isTileFilledWithWater(EntityManager.java:169)
    at com.jpii.navalbattle.pavo.gui.GridWindow.render(GridWindow.java:72)
    at com.jpii.navalbattle.game.NavalGame.mouseMove(NavalGame.java:176)
    at com.jpii.navalbattle.game.GameComponent$2.mouseMoved(GameCompo

[2013-01-30 19:43] abauer opened #119 "Ships should appear on the grid"
When a user clicks a Ship should appear on the grid space at that location. For testing purposes only

[2013-01-30 19:43] abauer opened #120 "Ships should be able to rotate"
On a Right Click ships should rotate around their bow.

[2013-01-30 19:44] abauer opened #121 "LoginOptions"
Should be implemeted

[2013-01-30 19:44] abauer opened #122 "Grid Functionality"
The Grid should be finalized and finished

Entites need the following methods added and working fully:
- [x] moveTo(a location)
- [x] rotateTo(an orientation)
- [x] hide() (now is moveTo(Location.Unknown)).

[2013-01-30 19:45] ThomasGaubert commented on #97
Added languages per @maximusvladimir and assigned task to @Matthis5point0.

[2013-01-30 19:45] abauer opened #123 "Land and Water Determined"
The game engine should be able to deductively infer which tiles are land and which tiles are water. This means 100% reliability in decisions.

[2013-01-30 19:46] abauer opened #124 "Ships float on water"
Ships should only be on water, including the multiple tiles they occupy.

[2013-01-30 19:46] ThomasGaubert commented on #121
Duplicate with #67

[2013-01-30 19:46] #121 closed, assigned to ThomasGaubert

[2013-01-30 19:47] ThomasGaubert commented on #67
I'll handle LoginOptions (#121 and others...)

[2013-01-30 19:47] abauer opened #125 "Turn System"
Turns should be implemented and ships should move on a turn basis (only certain number of spaces)

[2013-01-30 19:48] abauer opened #126 "Ships Move"
Well they actually sail but...

[2013-01-30 19:48] abauer opened #127 "Movement range should be highlighted on ship selection"

[2013-01-30 19:49] abauer opened #128 "HUD"
Ships should be able to be selected and other useful data should appear on a HUD

[2013-01-30 19:49] ThomasGaubert commented on #123
In my opinion, water grid spaces have 100% water and land grid places have > 0% of land.

Areas with a certain amount of land (so little to where it is hard to distinguish if the tile is land or water) should be reverted to 100% water for clarity's sake.

The engine could also be less liberal in its distribution of land (no really tiny islands).

[2013-01-30 19:49] JVetus opened #129 "Basic AI"
AI should be able to move and attack

[2013-01-30 19:49] abauer opened #130 "Ports implemented"

[2013-01-30 19:49] ThomasGaubert commented on #128
@smeagle42 can design icons and what not.

[2013-01-30 19:50] abauer opened #131 "Aircraft Carriers implemented"

[2013-01-30 19:50] ThomasGaubert commented on #127
Also take into account land.

[2013-01-30 19:50] abauer opened #132 "Submarines implemented"

[2013-01-30 19:51] abauer opened #133 "Economy System"
- [x] Shop implementation
- [x] Upgrades
- [x] Points
- [x] Spending points
- [x] Health
- [x] etc.

[2013-01-30 19:52] ThomasGaubert commented on #120
Not animated, of course.

[2013-01-30 19:52] abauer commented on #133
Updated

[2013-01-30 19:53] abauer opened #134 "RoketGamer Stuff"

[2013-01-30 19:53] abauer opened #135 "Advanced AI"

[2013-01-30 19:53] abauer opened #136 "Localization"

[2013-01-30 19:54] ThomasGaubert commented on #126
Related to #109 (not a duplicate)

[2013-01-30 19:54] abauer opened #137 "Features"
- [x] Whales
- [x] Weather
- [x] Rivers
- [ ] Sand dunes
- [ ] Alternate Dimensions
- [ ] Dancing
- [ ] Birds
- [ ] Clouds
- [ ] Airplanes
- [ ] Population

[2013-01-30 19:55] ThomasGaubert commented on #28
We can re-evaluate this later.

[2013-01-30 19:55] #28 closed, assigned to maximusvladimir

[2013-01-30 19:55] abauer opened #138 "Airplane Animation"

[2013-01-30 19:55] abauer opened #139 "Attack System"

[2013-01-30 19:55] ThomasGaubert commented on #129
Feel free to post your thoughts on the AI algorithm here @DarkWarHero (and others).

[2013-01-30 19:56] ThomasGaubert commented on #134
Duplicate from a lot of previously made issues. (not tagging them all)

[2013-01-30 19:56] #134 closed, assigned to nobody

[2013-01-30 19:56] abauer opened #140 "Finalize Ports"
In conjunction with Economy

[2013-01-30 20:02] maximusvladimir commented on #129
Recommended approach: A\* algorithm (pronounced a-star).

[2013-01-30 20:05] maximusvladimir commented on #126
I believe that 109 and 126 are not related. 109 is referring to the glitches and bugs associated with it.

[2013-01-30 20:10] maximusvladimir commented on #65
Those are the long time features of Pavo. I don't expect to see many of them in NavalBattle 1.0.

[2013-01-30 20:24] maximusvladimir commented on #127
Tiles that you can move to would be green, tiles that you cannot move to would be red.

[2013-01-30 20:25] maximusvladimir commented on #120
Like I have said before, I know how to animate and rotate them, and how to store it, I just don't understand how to approach it yet. Give me a few more weeks to do this.

[2013-01-30 20:26] maximusvladimir opened #141 "Tile value assertment error"
The selector to determine whether a tile consist of water or land is incorrect.

[2013-01-30 20:27] maximusvladimir commented on #141
Linked with issue #123.

[2013-01-30 20:32] maximusvladimir commented on #132
Anybody could add an entity. It is really simple:
1. Insure that the entity images are added and the sizes are multiple of 50's.
2. Create a class for "the Entity".
3. Have "the Entity" inherit Entity.
4. Overload the constructor.
5. Overload the init() method. Place setWidth(submarine image width / 50); and setHeight(subamrine image height / 50); in the init() method.
6. Register the newly made e

[2013-01-30 20:39] maximusvladimir commented on #124
Ships can fly! Has anyone seen Peter Pan? I'm kidding, but essentially you need to override the moveTo method in the entity, and determine whether that "next" space is filled with a certain amount of water before you continue.

[2013-01-30 20:40] maximusvladimir commented on #67
If you want to see how we are loading settings, take a look at MaxTests.java (DO NOT MODIFY THE FILE THOUGH! IT HAS MY NAME ON IT!!!!). The sample settings file is in %APPDATA%/.navalbattle/settings.ini.

[2013-01-30 20:43] maximusvladimir commented on #123
We can't safely modify the internal workings of the engine, without something catastrophic occurring (e.g. too much land, too much water, too many waves, land appearing unnatural, etc). I have tuned everything just about right (there will be more water in the game soon). Also there is going to be significantly more rivers, lakes, forests, etc soon (0.6ish).

[2013-01-30 20:45] maximusvladimir commented on #119
Like TankTest, except on click and only on water?

[2013-01-30 20:47] maximusvladimir commented on #122
I don't understand what this means. Won't we be done with the grid in version 1.0? Even then we will probably still be adding features and entities, etc.

[2013-01-30 20:48] maximusvladimir commented on #118
This should have been taken care of in Entity.validate(); (it's static).

[2013-01-30 20:49] maximusvladimir commented on #116
Why is this critical?

[2013-01-30 21:02] maximusvladimir commented on #110
Finshed.

[2013-01-30 21:02] #110 closed, assigned to nobody

[2013-01-30 21:07] maximusvladimir commented on #50
I think the rivers are satisfactory, except for the alternative universe thing.

[2013-01-30 21:07] #50 closed, assigned to maximusvladimir

[2013-01-30 21:08] maximusvladimir commented on #101
Bumped.

[2013-01-30 21:09] maximusvladimir commented on #92
Pretty much done with this.

[2013-01-30 21:09] #92 closed, assigned to maximusvladimir

[2013-01-30 21:09] maximusvladimir commented on #86
This is not a priority, is it? And hasn't it been fixed?

[2013-01-30 21:10] maximusvladimir commented on #61
Bumped to later Milestone.

[2013-01-30 21:11] maximusvladimir commented on #76
Although this is going to be replaced by GridedWindows, it still will be in the game.

[2013-01-30 21:11] maximusvladimir commented on #96
Taken care of.

[2013-01-30 21:11] #96 closed, assigned to maximusvladimir

[2013-01-30 21:12] maximusvladimir opened #142 "Memory usage"
Waaay too much memory is being used.

[2013-01-31 02:52] maximusvladimir opened #143 "Double clicking a tile should center the screen on it."

[2013-01-31 03:06] ThomasGaubert commented on #86
I haven't noticed it myself recently. Closed!

[2013-01-31 03:06] #86 closed, assigned to nobody

[2013-01-31 03:06] ThomasGaubert commented on #116
Because the game isn't rendering correctly, defeating the purpose of the rest of the grid work?

[2013-01-31 03:07] ThomasGaubert commented on #122
We need to have Grid functionality that is good enough (for now) for everything outlined in 0.5.

More features can be added as needed, of course, but we need the basics working flawlessly.

[2013-01-31 03:07] ThomasGaubert commented on #119
Sure

[2013-01-31 03:09] ThomasGaubert commented on #67
Ok, thanks,

[2013-01-31 03:10] ThomasGaubert commented on #132
Special feature will be the submerged and surfaced states.

[2013-01-31 03:10] ThomasGaubert commented on #120
Uh, okay... good luck!

[2013-01-31 03:11] ThomasGaubert commented on #127
Or not colored at all as "attackable" tiles will be red, possibly. Whatever uses less resources :P

[2013-01-31 03:11] ThomasGaubert commented on #65
Okay I understand now.

[2013-01-31 03:12] ThomasGaubert commented on #126
Hmm... true.

[2013-01-31 03:12] ThomasGaubert commented on #129
FYI, @DarkWarHero http://en.wikipedia.org/wiki/A*_search_algorithm

[2013-01-31 04:02] maximusvladimir commented on #116
"The first chuck moves left and right..." - crap. How many Chuck Norrises are there???

[2013-01-31 04:03] maximusvladimir commented on #116
The grid is still working, the system just believes that those chunks are not on the screen.

[2013-01-31 04:04] maximusvladimir commented on #127
Too much effort.

[2013-01-31 04:05] maximusvladimir commented on #120
(I was implying that we should move the milestone for this issue) :wink:

[2013-01-31 04:06] maximusvladimir commented on #122
Oh ok, so this is just the foundation that y'all want.

[2013-01-31 04:19] maximusvladimir opened #144 "JR needs to set his github icon to something other than OctoCat."
@DarkWarHero :octocat: = no muy bueno.

[2013-01-31 14:02] abauer commented on #144
+1

[2013-01-31 14:03] abauer commented on #120
nah lets leave it on this one

[2013-01-31 14:04] abauer commented on #118
so is this fixed / when will it be fixed

[2013-01-31 15:07] abauer commented on #93
pushed to 0.8 with features

[2013-01-31 15:08] abauer commented on #98
so when is this taking place?

[2013-01-31 15:09] abauer commented on #100
status on this now?

[2013-01-31 15:11] abauer commented on #113
no because 0.6 has issues that rely on this working now

[2013-01-31 15:13] abauer commented on #116
ok so when will this be fixed? doesn;t sound like a hard fix if the program's logic is sound

[2013-01-31 15:16] ThomasGaubert commented on #113
:+1:

[2013-01-31 15:16] abauer commented on #119
yes something along those lines

[2013-01-31 15:17] abauer commented on #122
as @TexasGamer  said, but not limited to 0.5, maybe through 0.6 or 0.7 if possible; because yes it is a foundation

[2013-01-31 15:19] ThomasGaubert commented on #122
Correct!

[2013-01-31 15:20] maximusvladimir commented on #122
Ok.

[2013-01-31 15:20] maximusvladimir commented on #119
I can do that right now.

[2013-01-31 15:23] maximusvladimir commented on #100
I think it has gotten really nice on my computer; I need to check on some other people's though.

[2013-01-31 15:23] maximusvladimir commented on #116
It probably won't take me very long, but I don't wanna do it yet.

[2013-01-31 15:24] maximusvladimir commented on #98
0.9ish

[2013-01-31 15:25] maximusvladimir commented on #120
(This milestone may take a very long time to complete...)

[2013-01-31 15:26] maximusvladimir commented on #118
Not yet.

[2013-01-31 15:34] maximusvladimir commented on #119
It has been done.

[2013-01-31 15:34] #119 closed, assigned to nobody

[2013-01-31 15:48] maximusvladimir opened #145 "Entity move issue"
Moving an entity too rapidly may cause parts of it to be temporarily deleted or disfigured. An entity should not be moved more than once every two seconds.

[2013-01-31 15:50] maximusvladimir opened #146 "OmniMap"
OmniMap should show the player's entities in yellow dots, and other players' in green.

[2013-01-31 15:51] abauer commented on #120
you have 10 days...

[2013-01-31 15:52] abauer commented on #146
friendly vs enemy?

[2013-01-31 15:53] abauer commented on #145
well seeing as the only problem may be that the player moving the entity, therefore we can animate it kinda and that would fix this?

[2013-01-31 15:55] abauer commented on #143
is this something todo? or is this an issue

[2013-01-31 15:58] abauer commented on #119
kewl

[2013-01-31 16:00] abauer commented on #123
ok but the way i see this is as follows: Each tile has a percentage of land vs water. Currently there are random tiles in the ocean that have land on them but look like water; this needs to be fixed. I don't care if you have to remove sand, i would perfer not but whatever makes the water work better needs to happen.

[2013-01-31 16:01] abauer commented on #76
i think the Grided Windows (the ones with the big lines right?) should be fine; though this would be a cool feature if implemented.

[2013-01-31 16:03] abauer commented on #132
understood, just it needs to happen sometime

[2013-01-31 16:03] abauer commented on #65
As long as we finish!

[2013-01-31 16:04] abauer commented on #126
what max has this down

[2013-01-31 16:05] abauer commented on #126
so #109  is related to the Move.to method, this is more-related to the turn system as ships need to move on a turn basis.

[2013-01-31 16:05] maximusvladimir commented on #145
![bug](https://dl.dropbox.com/u/11164236/navalbattle/nb0.5_05.png)

[2013-01-31 16:05] maximusvladimir commented on #145
There were suppose to be 5 entities there.

[2013-01-31 16:06] maximusvladimir commented on #65
We will finish.

[2013-01-31 16:06] abauer commented on #127
well i think the highlighting needs to occur based on action type, for example if the action is movement, tiles are colored movement range, if action is attack then attack range needs to be highlighted

[2013-01-31 16:07] maximusvladimir commented on #132
Wait what?

[2013-01-31 16:07] abauer commented on #100
im ready to test, recently after these updates the framerate is fine. Unfortunately I believe this needs to be left open as a reminder to consistently check this / fix this as we add more features

[2013-01-31 16:08] maximusvladimir commented on #76
GridedWindows are the ones that have the red arrows that point to grid locations. (Sorry its kind of decieveing)

[2013-01-31 16:08] abauer commented on #116
ok kewl

[2013-01-31 16:08] abauer commented on #98
how about 0.8?

[2013-01-31 16:08] maximusvladimir commented on #123
I am taking data from numbers and turning it into color. The percent thing is based on numbers, not colors.

[2013-01-31 16:09] maximusvladimir commented on #143
Todo

[2013-01-31 16:09] abauer commented on #145
nice, i assume this is just a visual problem, did it fix itself after screen update or does it stay that way?

[2013-01-31 16:09] maximusvladimir commented on #146
Sure.

[2013-01-31 16:09] maximusvladimir commented on #120
Does somebody else want to do rotating?

[2013-01-31 16:09] abauer commented on #132
this issue is just a reminder to put submarines in the game at this milestone

[2013-01-31 16:10] abauer commented on #76
no i got it. Looks good

[2013-01-31 16:10] abauer commented on #123
i know; but we need to refine it because some land-masses pop up in the middle of the ocean

[2013-01-31 16:11] abauer commented on #143
name was confusing, updated

[2013-01-31 16:13] abauer commented on #120
not entirely but i can try it if you want help

[2013-01-31 16:16] maximusvladimir commented on #145
It stays that way.

[2013-01-31 16:20] maximusvladimir commented on #120
Excellent. This task is now assigned to @abauer.

[2013-01-31 16:20] maximusvladimir commented on #143
Ok.

[2013-01-31 16:21] maximusvladimir commented on #123
Well in the real world, such as Hawaii, things like that happen, so they should stay.

[2013-01-31 16:21] maximusvladimir commented on #132
Oh ok.

[2013-01-31 16:22] maximusvladimir commented on #98
Actually I think it was 0.8.

[2013-01-31 16:22] maximusvladimir commented on #100
Okey dokey.

[2013-01-31 16:23] maximusvladimir commented on #127
Thats how I thought it was going to work.

[2013-01-31 16:24] maximusvladimir commented on #103
I believe we have finished the rewrite.

[2013-01-31 16:24] #103 closed, assigned to nobody

[2013-01-31 16:27] maximusvladimir commented on #109
So I guess this method is fully operational (lol Star Wars), but the visual issue is still an issue.

[2013-01-31 16:33] maximusvladimir commented on #142
So this is kinda better now. Still not great though...

[2013-01-31 16:33] maximusvladimir commented on #109
This is being dumped into Issue #145.

[2013-01-31 16:33] #109 closed, assigned to maximusvladimir

[2013-01-31 17:55] maximusvladimir commented on #106
Linked with issue #100.

[2013-01-31 17:55] maximusvladimir commented on #106
This should be fixed. We need to test it and make sure.

[2013-01-31 17:55] maximusvladimir commented on #100
Linked to issue #106.

[2013-01-31 18:22] maximusvladimir commented on #100
Has anybody else found this to be true?

@DarkWarHero @Matthis5point0 @TexasGamer @abauer @smeagle42

[2013-01-31 18:27] abauer commented on #144
+2

[2013-01-31 18:27] abauer commented on #103
not all checked?

[2013-01-31 18:28] abauer commented on #145
then maybe this should be moved to 0.6

[2013-01-31 18:29] abauer commented on #123
yes but Hawaii is a distinct island, it should be visible

[2013-01-31 18:30] abauer commented on #98
ok well you said 0.9

[2013-01-31 18:30] abauer commented on #127
ok cool

[2013-01-31 18:34] abauer commented on #106
agreed

[2013-01-31 18:35] abauer commented on #100
mine seems fine atm

[2013-01-31 23:00] maximusvladimir commented on #100
Well my question is, is it faster than it was a few days ago?

[2013-01-31 23:01] maximusvladimir commented on #98
Actually I said 0.9ish, because I was unsure. It doesn't really matter though. Either one would work.

[2013-01-31 23:02] maximusvladimir commented on #123
Well my point was is that it is a random, fairly small island sitting out in the middle of no where.

[2013-01-31 23:02] maximusvladimir commented on #145
Well as of commit id 93e302ae5ac6f9e7178f1feefe045f87e9677d7e, the effects of it are no longer permanent.

[2013-01-31 23:03] maximusvladimir commented on #103
"(Not recommended, but might be necessary)." it turns out I didn't need to do it.

[2013-01-31 23:03] maximusvladimir commented on #144
+5 and this should be top priority for him.

@DarkWarHero

[2013-01-31 23:15] maximusvladimir commented on #144
I like it. Closed.

[2013-01-31 23:15] #144 closed, assigned to JVetus

[2013-01-31 23:23] abauer commented on #144
awsome

[2013-01-31 23:25] abauer commented on #120
give me a run-down of what your ideas are

[2013-01-31 23:32] maximusvladimir commented on #120
Umm well I would start with loading rotated images, and then overriding Entity.java and name it RotatableEntity.

[2013-02-01 00:38] #141 closed, assigned to maximusvladimir

[2013-02-01 00:40] maximusvladimir commented on #123
I am pretty sure this is fixed as of commit id 4cc5bd9c5edfcbc1e2cc3cbd43875d7f3533242f.

[2013-02-01 00:40] #123 closed, assigned to nobody

[2013-02-01 00:41] maximusvladimir commented on #122
So what methods for the Grid and entities would y'all like to see? I added some above.

[2013-02-01 02:13] maximusvladimir commented on #114
The first four should be done by 0.5. The rest will be done later.

[2013-02-01 02:23] maximusvladimir commented on #114
Added onMouseMove as of commit id d89cd756579aa5bc02521cee27d1a78da04b8a12.

[2013-02-01 02:24] abauer commented on #114
kewl

[2013-02-01 02:28] maximusvladimir commented on #114
Added onMouseDown as of commit id d63f0938d598feb0cd8882e36fd6ce893c0abb41.

[2013-02-01 02:28] #114 closed, assigned to maximusvladimir

[2013-02-01 02:41] maximusvladimir commented on #67
As of commit id bff1dc0ace475e04962f313949dbc790e1328979, SettingsWriter has been implemented.

[2013-02-01 02:43] maximusvladimir opened #147 "Super cool new battleships, in 2D side view!"

[2013-02-01 02:47] maximusvladimir commented on #120
Linked to issue #113.

[2013-02-01 02:48] maximusvladimir commented on #113
Linked to issue #120.

[2013-02-01 02:49] maximusvladimir commented on #118
So umm I don't think this issue is valid anymore. Invalidating and closing.

[2013-02-01 03:21] ThomasGaubert commented on #147
Can you explain this one?

[2013-02-01 03:24] maximusvladimir commented on #147
The game will now render in side view mode during an attack with that super cool ship that y'all sent me.

[2013-02-01 04:11] maximusvladimir commented on #116
Fixed, but some weird stuff occurs do to the fix. Now I remember why I never fixed it in the first place...

[2013-02-01 04:11] #116 closed, assigned to maximusvladimir

[2013-02-01 04:14] maximusvladimir commented on #142
Small memory fix in commit id 4cc5bd9c5edfcbc1e2cc3cbd43875d7f3533242f.

[2013-02-01 15:49] maximusvladimir commented on #142
Very important: your -Xms1024M should actually be -Xms64M. Leave the -Xmx alone.

[2013-02-01 19:18] JVetus opened #148 "Battleships overlap other battleships when placed and moved"
Battleships overlap each other even if the grid space is occupied

[2013-02-01 19:20] Matthis5point0 opened #149 "Ship Movement Error"
When ships reach the bottom right corner of the grid the ships quit moving when they would move into an era where they would be within 2 tiles on the grid of leaving the drawn grid and going into what max calls the "imaginary world".  This creates an ArrayIndexOutOfBounds Exception when this happens.

[2013-02-01 20:14] smeagle42 opened #150 "Group Concensus"
1. Find a Leader
2. Find a direction
3. RT v. TBT

[2013-02-02 16:05] abauer commented on #150
Easy, 1) = Thomas and Me, as we created original content.
2. We are using the Net Force Vector as our magnitude and direction
3) obviously we can only do Turn-Based because our memory usage only allows for it as-well-as our entire game design document is based on turn-based.

[2013-02-02 18:39] ThomasGaubert commented on #116
What? o.o

[2013-02-02 18:43] ThomasGaubert commented on #150
My two cents:
1. A leader isn't necessary with the current structure. Each person is the lead of a different element of the entire game. If something that affects multiple parts of the game comes up, the appropriate leaders can work together (or whatever) and a vote can be called if need be. Having a single leader also has the potential to introduce issues.
2. Determined and outlined in the curren

[2013-02-02 19:22] ThomasGaubert commented on #150
In addition, I will add the following about gameplay and direction:

We have had the idea for gameplay and direction for the past five months. Each member has had access to the NavalBattle Design document. After being revised multiple times, we as a group majority came up with the current gameplay outline. This outline was reviewed as a group once again, with another chance for suggestions and cha

[2013-02-02 19:24] abauer commented on #150
As Thomas says 1 we can work issues out between leads, and questions can be discussed in the skype group.
2 the whole purpose of roadmap/milestones/issues is?
3 I completely agree with thomas in every aspect of his argument.

[2013-02-02 19:29] ThomasGaubert commented on #150
I'd like to have other members weigh in on this.

cc: @DarkWarHero @Matthis5point0 @maximusvladimir @smeagle42

[2013-02-02 19:29] maximusvladimir commented on #150
So after I slept on what we talked about the other day, thought about a few things.
1. I kinda agree with Thomas on this. A little story (Thomas may not like me telling this :wink:): so basically around 6th grade, Thomas and Alex made this thing called ChannelOne. Basically it was a "company" that we made to make like comedy videos or something. It would have been a really cool idea, but essential

[2013-02-02 19:31] maximusvladimir commented on #116
Oh so I had to revert something, but it deleted the whale images I made, so I had to revert it again.

[2013-02-02 19:32] ThomasGaubert commented on #116
So it's still fixed? Hooray double negatives!

[2013-02-02 19:33] maximusvladimir commented on #116
Haha yeah.

[2013-02-02 19:38] ThomasGaubert commented on #150
In reply to @maximusvladimir:
1. Yeah I remember that and I want to avoid it again if possible. Democracy works best and we do not have time to restructure.
2. I completely agree. Milestones act as both due dates and a list of tasks to complete if you have nothing to do. Not having a structured roadmap didn't work for us in the past months, either.
3. I agree again, a real-time game is "too much e

[2013-02-02 19:40] maximusvladimir commented on #150
Agreed.

So hopefully this will help:

https://github.com/JPII/NavalBattle/wiki/Weekly-Goals

[2013-02-02 19:58] ThomasGaubert commented on #136
Duplicate of #97

[2013-02-02 19:58] #136 closed, assigned to nobody

[2013-02-03 16:56] abauer commented on #116
thats a little wierd... lol

[2013-02-05 01:30] ThomasGaubert commented on #150
If anyone would like this reopened, please feel free to (and supply commentary), otherwise this is a distraction from real work that needs to be done.

[2013-02-05 01:30] #150 closed, assigned to nobody

[2013-02-05 01:31] ThomasGaubert commented on #147
Oh cool, I see.

It won't become annoying or slow gameplay (the flow of the game, not necessarily the performance) hopefully, right?

[2013-02-05 01:37] ThomasGaubert opened #151 "Official Soundtrack"
This covers the implementation of music (excluding sound effects, as mentioned in #152).

Feel free to post suggestions in regards to how the music should work and of course the music itself. Please keep copyright in mind.

[2013-02-05 01:38] ThomasGaubert opened #152 "Sound Effects"
Basic sound effects, such as firing, etc.

This does not cover music (soundtrack). Please see #151.

[2013-02-05 02:29] maximusvladimir commented on #152
One thing that drives me crazy in indie games, is when the sound effects are crackled sounding, or not professional sounding. I believe that we should try to stick to sounds from soundcloud.com or freesound.org.

[2013-02-05 02:30] maximusvladimir commented on #147
It will happen at the end of each turn, and all the health and money has been adjusted to the proper levels. Simply clicking will end it.

[2013-02-05 02:39] ThomasGaubert commented on #147
Oh okay, that sounds like a better idea! Pokemon style I guess?

[2013-02-05 02:39] ThomasGaubert commented on #152
I agree 100%. :+1:

[2013-02-05 13:58] maximusvladimir commented on #147
I will try to make a demo later this week. It will be somewhat like the titlescreen, where there are ships and waves with a side view. Basically the tomahawks/missiles/whatever will travel from ship to ship.

[2013-02-05 15:12] abauer commented on #152
im not good with this stuff, someone else can handle this but i agree

[2013-02-05 15:13] abauer commented on #147
oh ok, as long as it doesn't impact game-play to much and from previous comments i assume its skip-able.

[2013-02-05 15:14] ThomasGaubert commented on #152
Technically falls under @smeagle42  area, I think. Though we can suggest stuff too.

It's low priority anyways...

[2013-02-05 15:24] abauer commented on #152
really?

[2013-02-05 15:26] ThomasGaubert commented on #152
Yeah, I think so...

[2013-02-05 15:27] abauer opened #153 "Code Clean-up and Remove Warnings"
Remove all the warnings and unused code/commented out code

[2013-02-05 15:36] abauer opened #154 "Land to Water Ratio"
Seeing as this is a water based game there is a lot of land generated by the terrain gen; Additionally do we insure that all water is connected, say that a team spawns in a "lake" apart from opponents, how does that team win/loose?

[2013-02-05 15:39] ThomasGaubert opened #155 "Whales aren't removed when ships overlap"
When adding a ship to the grid, a whale will demolish a portion of the battleship if it is in the way. As far as I know, the whale should disappear instead.

[2013-02-05 15:40] ThomasGaubert commented on #105
This was addressed a while ago.

[2013-02-05 15:40] #105 closed, assigned to nobody

[2013-02-05 15:53] abauer commented on #67
so progress on this issue? someone want to make a checklist for this?

[2013-02-05 15:55] ThomasGaubert commented on #67
Yeah we need to make a list of what we need to save at any point in time.

I'll start:
- LoginOptions
- Saved games
- RoketGamer cache files (I may handle this on my own in the RoketGamer package)

[2013-02-05 15:56] abauer commented on #64
why is this assigned to me, shouldn't this be for everyone?

[2013-02-05 15:58] maximusvladimir commented on #67
LoginOptions -> SettingsReader/SettingsWriter

Game Settings (user picked settings that are not default) -> SettingsReader/SettingsWriter (same file as LoginOptions)

Game States (last game window position, last window size, last internal game windows configuration) -> (same file as LoginOptions)

[2013-02-05 15:58] abauer commented on #147
and this is not top priority again this is a feature and is low priority

[2013-02-05 16:00] maximusvladimir commented on #155
Entities will never overlap each other in the actual game.

If you don't wish for this particular issue to happen, you can use moveTo(r,c,false); (I think).

[2013-02-05 16:03] maximusvladimir commented on #154
I believe that I commented on something like this in a previous issue. Essentially, the actual game will have much less land. If you saw the Spanish Pirate Mafia Video (v0.0.1 r9), there are only islands that generate in the middle of the map. We might be able to do this in the future.

[2013-02-05 16:03] maximusvladimir commented on #153
Assigned to Anthony. :wink:

[2013-02-05 16:05] maximusvladimir commented on #147
It is very skip-able. All you have to do is sign a 101-page contract, then click the mouse button anywhere on the screen. ;)

[2013-02-05 16:07] maximusvladimir commented on #64
Clear the assignee. I need to work especially on Pavo. (The Grid API documentation is almost done).

[2013-02-05 16:51] ThomasGaubert commented on #64
Cleared.

[2013-02-05 16:52] ThomasGaubert commented on #154
You could also run a pathfinding program (similar to the MazeSolver lab) to run from one end of the map to the other.

[2013-02-05 16:52] abauer commented on #67
we don't need to save window information: as most is either hardcoded or non adjustable...

[2013-02-05 16:54] abauer commented on #147
ok cool, just my type of cut-scene

[2013-02-05 16:55] ThomasGaubert commented on #155
I understand that they won't overlap in the actual game, but I thought the entity "rules" were that if a new entity is placed in a location that already contains an entity, the old entity would be removed and replaced with the new one.

[2013-02-05 16:57] abauer commented on #154
both work, i prefer max's way though, i believe this could work in conjunction with building a base so that's why its in 0.6 milestone

[2013-02-05 17:16] maximusvladimir commented on #154
Ok.

[2013-02-05 17:19] maximusvladimir commented on #155
What we have is if you set the override method to false, it will not override the entity. Do you want it to be the way that you specified above?

[2013-02-05 17:22] maximusvladimir commented on #67
Ok thats find, Also my thoughts is that everything except world saves should be placed in one centralized SettingsReader/Writer file.

[2013-02-05 17:28] ThomasGaubert commented on #154
I agree too.

[2013-02-05 17:28] abauer commented on #67
ok thats a good idea, kinda like a utility

[2013-02-05 17:29] ThomasGaubert commented on #155
Uh I haven't tested this, I'll talk to you in person.

[2013-02-05 17:30] ThomasGaubert commented on #67
Exactly. Possibly using JSON, YAML, XML, or a custom markup language.

[2013-02-05 17:32] maximusvladimir commented on #67
?

.navalbattle
|
--- settings.ini (LoginOptions, GameSettings, etc)
|
--- saves
....|
....--- MyGame1.gmf
....|
....--- MyGame2.gmf
...|

[2013-02-05 17:33] maximusvladimir commented on #155
Ok. That's fine.

[2013-02-05 17:34] ThomasGaubert commented on #67
That would work.

[2013-02-05 17:39] maximusvladimir commented on #67
And we would use SettingsReader/SettingsWriter? (Look in MaxTests.java for examples on how to use).

(The game saves are using it)

[2013-02-05 17:44] ThomasGaubert commented on #67
Yes, that's the plan I believe.

[2013-02-05 17:46] maximusvladimir commented on #67
Ok.

[2013-02-05 19:07] smeagle42 opened #156 "Ship Animation"
When ships are stationary. They sway back and forth and create waves from it.

[2013-02-05 19:21] maximusvladimir opened #157 "AnimatedEntity does not operate with Entities bigger than 1x1."

[2013-02-05 19:26] JVetus opened #158 "Places a ship when clicking on whales"
When windows are closed, if you click on a whale, it still places a ship

[2013-02-05 19:35] JVetus opened #159 "A ship is placed when placing a whale over a whale"
Whale + Whale = Ship?

[2013-02-05 19:41] abauer commented on #118
it is valid, were still getting the error

[2013-02-05 19:45] ThomasGaubert commented on #159
Because logic. Confirmed on my end!

[2013-02-05 19:58] abauer opened #160 "needs more whales"
![image](https://f.cloud.github.com/assets/684124/129032/52587194-6fce-11e2-804e-5ccdad2babc4.png)

[2013-02-05 19:59] abauer commented on #159
confimred...

[2013-02-05 19:59] #122 closed, assigned to nobody

[2013-02-05 20:00] maximusvladimir commented on #118
Wait wat.

[2013-02-05 20:00] maximusvladimir commented on #160
Agreed.

[2013-02-05 20:01] #160 closed, assigned to maximusvladimir

[2013-02-05 20:01] maximusvladimir commented on #159
2W = S

or

10.5S = W

[2013-02-05 20:04] maximusvladimir commented on #100
This is a continuous issue. Closing for now. Expect to see it later.

[2013-02-05 20:04] #100 closed, assigned to maximusvladimir

[2013-02-05 20:06] maximusvladimir commented on #142
Progressive issue. Closing for now.

[2013-02-05 20:06] #142 closed, assigned to nobody

[2013-02-06 14:30] maximusvladimir opened #161 "Cache ids"

[2013-02-06 14:47] abauer commented on #159
fixed during recent commit

[2013-02-06 14:47] #159 closed, assigned to maximusvladimir

[2013-02-06 14:49] abauer commented on #158
generics state that left mouse places ship, right mouse places whale, not affected by windows or anything else, this behavior will be modified so that you can only place in empty spaces...

[2013-02-06 15:04] abauer commented on #158
fixed as of recent commit (kinda) (its not perfect yet but its getting there)

[2013-02-06 15:04] #158 closed, assigned to abauer

[2013-02-06 15:35] smeagle42 commented on #157
The whale animation has stopped working

[2013-02-06 15:37] smeagle42 commented on #151
I need help with what y'all are looking for musically. Whether it be like dubstep, rock, metal, hardrock, soundeffects, whatever. If you want me to choose let me know.

[2013-02-06 15:57] ThomasGaubert commented on #151
Sound effects would be #152, and @maximusvladimir  described where you can find some of them.

Otherwise, I'm not sure what type of genre we are looking for. IMO adventure music (Skyrim, etc.) might work, but I'm not 100% sure.

[2013-02-06 16:21] maximusvladimir commented on #151
Whatever it is, it shouldn't be too intense, or with a fast beat. What about the SimCity 4 Deluxe music?

[2013-02-06 16:22] maximusvladimir commented on #157
Well this isn't the right issue, but can you try to let the game run for a while, and see if they eventually start moving?

[2013-02-06 16:28] maximusvladimir commented on #157
Zach you are right. Something is broken.

[2013-02-07 13:57] maximusvladimir commented on #161
Fixed as of commit id 37c540b7de553d0737e322799ea45e7c545c84d4.

[2013-02-07 13:57] #161 closed, assigned to maximusvladimir

[2013-02-07 16:58] ThomasGaubert commented on #151
Oh, yes, good idea.

I wonder if there are fair-use versions of the music.

[2013-02-07 18:39] smeagle42 commented on #151
We are not using someone else's created music! I am not going through the entire process of getting the copy right license so i'm creating our own. Yes i think we need slow music like in skyrim but we don't have the money to higher a 50 piece orchestra to do it so i'm going over to my brother's soon to make the music.

[2013-02-07 18:41] smeagle42 commented on #152
My brother has a soundboard with tons of sound effects on it. I'll see what i can find there for this part. I think we need water splashing sound, gun explosions, ship explosions, motor noise, missile noise, and button clicking. I can make it as professional as the CD recordings so no need to worry i have noise in any and all aspects covered with the best quality available today.

[2013-02-07 18:48] maximusvladimir commented on #151
Freesound.org has ALOT of free, commercial, royalty-free music.

[2013-02-07 18:49] ThomasGaubert commented on #152
Okay, if you can work on those and we can edit them as needed that would be great.

[2013-02-07 18:50] abauer commented on #152
yeah additionally is it possible to do it twice, since we may not know what we want yet

[2013-02-07 18:50] ThomasGaubert commented on #151
Yeah this would be our best best. Recording should be a last resort item, imo.

[2013-02-07 18:51] ThomasGaubert commented on #152
Also, FreeSound is a thing.

[2013-02-09 04:18] abauer commented on #67
so whats next on this issue?

[2013-02-09 19:54] ThomasGaubert commented on #67
Implementing it afaik?

[2013-02-10 04:29] maximusvladimir opened #162 "Add chunk buffer."

[2013-02-11 03:24] abauer commented on #157
Nothing is broken

[2013-02-11 18:06] maximusvladimir commented on #157
Nothing is broken now. It was previously.

[2013-02-12 18:51] ThomasGaubert commented on #120
This is two days overdue. This needs to be fixed ASAP.

For everyday we are behind, it's less time to work on future milestones. Due dates won't change.

[2013-02-12 18:51] ThomasGaubert commented on #118
This is two days overdue. This needs to be fixed ASAP.

For everyday we are behind, it's less time to work on future milestones. Due dates won't change.

[2013-02-12 18:51] ThomasGaubert commented on #113
This is two days overdue. This needs to be fixed ASAP.

For everyday we are behind, it's less time to work on future milestones. Due dates won't change.

[2013-02-12 18:51] ThomasGaubert commented on #67
This is two days overdue. This needs to be fixed ASAP.

For everyday we are behind, it's less time to work on future milestones. Due dates won't change.

[2013-02-12 18:55] maximusvladimir commented on #67
I will work on this today.

[2013-02-12 18:59] maximusvladimir commented on #120
Merged with #113

[2013-02-12 18:59] #120 closed, assigned to abauer

[2013-02-12 19:20] maximusvladimir opened #163 "Fixed Window API"
Window API is going to have custom events, Components (to be called Controls), etc.

[2013-02-12 19:21] ThomasGaubert commented on #67
We have a system in place for this.

[2013-02-12 19:21] maximusvladimir opened #164 "GridWindow.java needs to be migrated."

[2013-02-13 23:19] maximusvladimir opened #165 "Add snazzy new pause window."
It's gonna be awesome!

[2013-02-14 19:00] abauer commented on #128
- [x] Attack
- [x] score
- [x] diplomacy
- [x] move

[2013-02-14 23:17] maximusvladimir commented on #128
- [x] Time of day - text indicator

[2013-02-14 23:17] maximusvladimir commented on #113
It took me a while to do it, but its finished. Wo!

[2013-02-14 23:17] #113 closed, assigned to abauer

[2013-02-14 23:18] maximusvladimir commented on #118
This is not valid anymore.

[2013-02-14 23:18] #118 closed, assigned to maximusvladimir

[2013-02-14 23:18] maximusvladimir commented on #51
We are done! Wo!

[2013-02-14 23:18] #51 closed, assigned to nobody

[2013-02-14 23:20] maximusvladimir commented on #106
Does anybody know why Matt is assigned this?

[2013-02-14 23:21] maximusvladimir commented on #106
Does anybody else agree to have another thread dedicated for input processing and buffer writing? (the Game may use 75% CPU, but it will be really nice and smooth.)

[2013-02-14 23:23] maximusvladimir commented on #154
So we are going to go in another direction with this now. We are simply going to melt the ice caps on the world.

[2013-02-14 23:25] maximusvladimir commented on #162
It turns out that we already had this feature. :-/

[2013-02-14 23:25] #162 closed, assigned to maximusvladimir

[2013-02-14 23:27] maximusvladimir commented on #157
I believe that this issue might have been taken care of, but we will have to wait tell we get the whales working again before I promise anything.

[2013-02-14 23:28] maximusvladimir opened #166 "Getting rid of registerEntity()"
Soon (hopefully) we will have everything taken care of in the ~ctor, to make construction easier.

[2013-02-14 23:33] maximusvladimir opened #167 "Potential seperate thread for buffer rendering and input"
This will make the game ALOT faster. We need to have the poll complete on issue #106.

[2013-02-14 23:33] maximusvladimir commented on #126
Can this be closed now?

[2013-02-14 23:36] maximusvladimir commented on #165
This is going to be sooooo awesome! We need issue #163 closed first.

[2013-02-15 00:23] maximusvladimir opened #168 "Migrate almost all Pavo ArrayLists to regularv."

[2013-02-15 00:26] abauer commented on #154
um ok; so one big island?

[2013-02-15 00:46] ThomasGaubert commented on #126
I think this includes the selecting of the ship and moving it to a spot highlighted (in range). In that case, no.

[2013-02-15 00:47] ThomasGaubert commented on #106
No idea.

Sure, if it's doable.

[2013-02-15 01:21] maximusvladimir commented on #126
Hahaha I can do zat.

![Star Trek](http://24.media.tumblr.com/tumblr_ljv7cl4MLp1qa51o3o1_500.gif)

[2013-02-15 01:25] maximusvladimir commented on #154
No. We are adding ice caps to the world generator, then calling `getWorld().changeWorldTemperature(80)`. That should raise the water level.

(No but seriously, we are going to raise the water level, making the majority of the land water, and a few occasional islands)

[2013-02-15 03:56] maximusvladimir commented on #145
Is this still here?

[2013-02-15 03:57] maximusvladimir opened #169 "Whales are no longer animated."

[2013-02-15 03:58] maximusvladimir commented on #98
So I think this was finished over a week ago.

[2013-02-15 03:58] #98 closed, assigned to maximusvladimir

[2013-02-15 04:00] ThomasGaubert commented on #98
Technically we still need to implement the GameKit components into the game, but the classes are there to be implemented.

[2013-02-15 04:03] maximusvladimir commented on #98
Oh I thought that was done.... awkward on my part.

[2013-02-15 04:09] maximusvladimir commented on #102
@abauer I think you wanted to suggest something here.

[2013-02-15 18:41] maximusvladimir opened #170 "Ships rotate and move into other ships violently."
Ships should not be able to rotate into other ships. Ships should not be able to move into other ships.

Safety methods need to be implemented and used.

Commit id 30fdb88ac485fe066eefafb5adfea9521bfbc36f, has already started to implement this.

[2013-02-19 19:00] Matthis5point0 opened #171 "Whales can no longer be placed"
Whales are unable to be placed by the user

[2013-02-19 20:27] abauer commented on #170
fixed by jr and myslef

[2013-02-19 20:27] #170 closed, assigned to nobody

[2013-02-19 20:27] abauer commented on #155
so basically i get that ships wont' overlay thus whales don't need to be removed... completed

[2013-02-19 20:27] #155 closed, assigned to nobody

[2013-02-19 20:28] abauer commented on #128
- [x] missiles
- [x] guns
- [x] location
- [x] health
- [x] movement/attack range

[2013-02-20 02:58] maximusvladimir commented on #171
According to the **K**ingland **I**nstitute of **L**ongheaded wha **l** es( **KILL** ), a study showed that "criticizing or judging" whales in any given video game, can result in being hunted down by one.

[2013-02-21 02:21] maximusvladimir opened #172 "Pavo rewrite"
Do not be alarmed my friends!
Не беспокойтесь, товарищи!

There is not going to be any visible change to the game during through this. There is just going to be re-organization to make the code more OOPish (and possibly faster).

Things such as:

[code]

might be refractored to:

[code]

In the above example, internally TimeManager and WeatherManager should still exist, it's just that a wrapper cl

[2013-02-21 02:23] abauer commented on #172
cool!

[2013-02-21 02:50] ThomasGaubert commented on #172
:+1:

[2013-02-21 03:44] maximusvladimir opened #173 "Different GUI styles"
Unlike the Windows OS, Pavo Window API (PAW), will have different themes.

[2013-02-21 04:39] ThomasGaubert commented on #173
PWA technically*

[2013-02-21 20:02] ThomasGaubert commented on #124
Fixed.

[2013-02-21 20:02] #124 closed, assigned to nobody

[2013-02-21 21:32] maximusvladimir commented on #115
I believe everybody has done this.

[2013-02-21 21:32] #115 closed, assigned to nobody

[2013-02-21 21:34] maximusvladimir commented on #137
I like this :-D

[2013-02-21 23:11] maximusvladimir commented on #137
1. Whales are partially implemented.
2. Weather is partially implemented..
3. Rivers are partially implemented.
4. I like the idea of Sand Dunes.
5. What do you mean by Alternate Dimensions? I like the sound of it.
6. What do you mean by dancing?
7. We are looking forward to birds and clouds being implemented **very** soon.
8. We are looking forward to birds and clouds being implemented **very** s

[2013-02-21 23:15] maximusvladimir commented on #145
I believe this was fixed thanks to the Anthony Update.

[2013-02-21 23:15] #145 closed, assigned to nobody

[2013-02-21 23:17] maximusvladimir commented on #148
I believe this has been fixed.

[2013-02-21 23:17] #148 closed, assigned to nobody

[2013-02-21 23:17] #107 closed, assigned to maximusvladimir

[2013-02-21 23:18] maximusvladimir commented on #111
Has anybody seen this issue recently? I believe it was fixed. (maybe)

[2013-02-21 23:23] maximusvladimir commented on #106
After Matt fixes whatever, this issue will be transferred to issue #167.

[2013-02-22 00:11] ThomasGaubert commented on #106
I really don't know why this is open still (let alone assigned to Matt) :/

[2013-02-22 00:12] ThomasGaubert commented on #137
Some of this should be taken with a grain of salt ;)

[2013-02-22 16:33] maximusvladimir commented on #137
Well here's the grain of salt I'm taking on it:

![Salt](http://lh3.ggpht.com/_x6peib_-10A/SHBG7pUsNSI/AAAAAAAABhE/aSQxoP2NybA/IMG_0519.JPG)

[2013-02-22 16:34] maximusvladimir commented on #106
Ok then I guess since there is nothing that @Matthis5point0 needs to do, this can be closed for now.

[2013-02-23 01:58] #106 closed, assigned to Matthis5point0

[2013-02-23 19:19] abauer commented on #171
this is technically not an issue since nothing will be placed in the final product, the placing of entitys is a debug feature used to test whether they work or not

[2013-02-23 19:20] abauer commented on #173
but PAW sounds cooler, Pavo API for Windows?

[2013-02-23 19:20] abauer commented on #145
np

[2013-02-23 19:20] abauer commented on #137
large grain? good...

[2013-02-23 19:23] #171 closed, assigned to nobody

[2013-02-23 19:24] ThomasGaubert commented on #173
:+1:

[2013-02-23 19:48] maximusvladimir commented on #137
Large grain = we take it very seriously.

[2013-02-23 19:49] abauer commented on #137
awsome!

[2013-02-23 19:50] maximusvladimir commented on #173
Well I look at it this way (capital letters indicates where the acronym is coming from):

PAvo Windows api.

[2013-02-23 20:02] abauer commented on #173
ok that works also

[2013-02-25 01:16] ThomasGaubert opened #174 "NPE on launch"
`Exception in thread "main" java.lang.NullPointerException
    at com.jpii.navalbattle.gui.MainMenuWindow.<init>(MainMenuWindow.java:64)
    at com.jpii.navalbattle.data.WindowHandler.initArray(WindowHandler.java:49)
    at com.jpii.navalbattle.data.WindowHandler.<init>(WindowHandler.java:38)
    at com.jpii.navalbattle.NavalBattle.main(NavalBattle.java:75)`

@abauer

[2013-02-25 02:40] abauer commented on #174
at me?
this is not my fault i haven't changed anything...

[2013-02-25 02:41] abauer commented on #174
how often does this occur?

[2013-02-25 02:52] abauer commented on #156
*should

[2013-02-25 02:52] abauer commented on #156
moved to later milestone, this is not appropriate for this milestone (functionality/features)

[2013-02-25 02:53] abauer commented on #153
hey i have no problem removing all the unused code, you just might loose some stuff...

[2013-02-25 02:55] abauer commented on #126
well they have moved for quite awhile...

[2013-02-25 02:55] #126 closed, assigned to nobody

[2013-02-25 03:08] maximusvladimir commented on #153
Ok well technically the old renderer is still in the code (kinda like Giant Zombies in MC).

com.jpii.navalbattle.renderer (I believe it is called), should have been removed a **long** time ago.

There are a few other things that should be removed.

[2013-02-25 03:15] maximusvladimir commented on #156
[code]

[2013-02-25 03:18] maximusvladimir commented on #174
:loudspeaker: ANTHONY BROKE IT!  ;)

[2013-02-25 03:26] ThomasGaubert commented on #174
The error occurs on every run for me.

[2013-02-25 03:30] ThomasGaubert commented on #174
Whoops, I deleted a line of code by accident and borked it all.

Non-issue!

[2013-02-25 03:30] #174 closed, assigned to nobody

[2013-02-25 14:45] maximusvladimir opened #175 "."

[2013-02-25 14:45] #175 closed, assigned to nobody

[2013-02-25 15:31] maximusvladimir commented on #163
Window API is on its way. Although development has paused, it will continue after the memory usage has been fixed.

[2013-02-25 17:06] abauer commented on #174
thanks for all the worry, would like to implement gamekit windows though

[2013-02-25 17:24] abauer commented on #163
what is the problem with memory useage?

[2013-02-25 19:46] ThomasGaubert commented on #79
Does this still happen?

[2013-02-26 00:37] abauer opened #176 "Chunk Errors"
Chunks that are in the first row & or column error and do not behave properly. They hide themselves and also do not follow the rules for placing entities.

[2013-02-26 01:07] abauer opened #177 "Random error"
![image](https://f.cloud.github.com/assets/684124/194552/cf19b0de-7fb0-11e2-9e16-2e530a918c1a.png)

[2013-02-26 01:10] abauer commented on #177
Exception in thread "AWT-EventQueue-0" java.lang.OutOfMemoryError: Java heap space
    at java.awt.image.DataBufferInt.<init>(Unknown Source)
    at java.awt.image.Raster.createPackedRaster(Unknown Source)
    at java.awt.image.DirectColorModel.createCompatibleWritableRaster(Unknown Source)
    at java.awt.image.BufferedImage.<init>(Unknown Source)
    at com.jpii.navalbattle.pavo.io.PavoImage.<in

[2013-02-26 01:14] abauer opened #178 "Memory Issues"
Exception in thread "AWT-EventQueue-0" java.lang.OutOfMemoryError: Java heap space
    at java.awt.image.DataBufferInt.<init>(Unknown Source)
    at java.awt.image.Raster.createPackedRaster(Unknown Source)
    at java.awt.image.DirectColorModel.createCompatibleWritableRaster(Unknown Source)
    at java.awt.image.BufferedImage.<init>(Unknown Source)
    at com.jpii.navalbattle.pavo.io.PavoImage.<in

[2013-02-26 01:49] abauer commented on #149
well thats a good point, this can be solved with a limit to where ships can move, at this stage ships do not move yet...

[2013-02-26 01:49] #149 closed, assigned to maximusvladimir

[2013-02-26 01:49] abauer commented on #79
asks also....

[2013-02-26 01:53] abauer commented on #102
1
basically say that you can finish your game now, or you can update, the server would keep track of which version the game was finished under, thus determining that some versions can be differently scored and the leader boards would be fair.

[2013-02-26 01:57] maximusvladimir commented on #163
PAW is not causing the memory leak (I am pretty sure):

[2/22/2013 2:10:35 PM] Maximus Vladimir:
1. It can't be the Blur. I've disabled it.
2. It probably isn't a thread leak, I haven't done anything to invoke it.
3. It could be a Chunk buffer write error. (Maybe dealing with team ids)
4. It could be the new Entity System (the thing with rotations).
5. There could be a GUI memory leak.
6. It could

[2013-02-26 01:58] maximusvladimir commented on #178
That's not my fault. I said there was a memory problem.

[2013-02-26 02:01] maximusvladimir commented on #176
Bro... there's a minor spelling problem.

Anyways, I believe there was already an issue like this. I don't know what happened to it, but it was probably closed "on accident" or moved to a future milestone.

I have spent several hours on this issue on time... when I "fixed" it, it caused imaginary chunks to be displayed occasionally.

Basically it has to do with the [occlusion culling](http://en.wi

[2013-02-26 02:02] maximusvladimir commented on #177
That's actually kinda cool... why is there a line though...?

[2013-02-26 02:03] maximusvladimir commented on #79
I get it occasionally.

[2013-02-26 02:04] abauer commented on #163
right...

[2013-02-26 02:04] abauer commented on #163
i agree with number 5, possibility and maybe 6

[2013-02-26 02:05] ThomasGaubert commented on #102
That's easy enough to do, just save the version with the save game file and send the version to the server for handling.

[2013-02-26 02:07] maximusvladimir commented on #163
I am pretty sure I got all the nasty #6's.

I am thinking it could be #5 or #3.

I really really would appreciate if @TexasGamer could tell us how many commits he **received** today (on his school computer).

[2013-02-26 02:08] maximusvladimir commented on #102
The way I am looking at it, this is a 1.0 issue.

[2013-02-26 02:14] abauer commented on #163
well we can get rid of team id's because the color system needs a rewrite
you can't have color in the pavo group, because thats not part of pavo

[2013-02-26 02:15] abauer commented on #102
@TexasGamer yes that was the point
@Matthis5point0 agree

[2013-02-26 02:44] ThomasGaubert commented on #102
Wrong tag?

[2013-02-26 02:46] ThomasGaubert commented on #163
@maximusvladimir I'm not sure, but it was quite a few... probably since last class at school, or at least since Friday.

[2013-02-26 02:55] abauer commented on #102
idk

[2013-02-26 02:57] maximusvladimir commented on #163
@TexasGamer ok thanks. that should help.
@abauer I don't think it was that, because we've had team ids in there for a while.

[2013-02-26 14:14] maximusvladimir opened #179 "Inner workings fix"
This is probably going to take a while, and I don't plan on doing it yet, but basically I am going to rewrite some inner workings of Pavo. Don't expect to see any visual changes, but there will be some changes to Pavo. I do not believe this directly is causing the memory issue. I think that this fix should help with it though, and could lead to a faster, and more "Java" appropriate program.

[2013-02-26 20:26] smeagle42 opened #180 "Copyright"

[2013-02-26 22:57] abauer commented on #179
dat memory error...

[2013-02-26 22:59] abauer commented on #180
no thats not how that works,
1) he wouldn't just copy it
2) its open source, anybody can view the source code.

[2013-02-26 22:59] #180 closed, assigned to nobody

[2013-02-27 00:26] ThomasGaubert commented on #180
As mentioned by @abauer, this is not needed because we are open source. The source code is released under license and it is free for use under the terms of said license.

Also to accuse a teacher of willing to steal a project is a bit much.

[2013-02-27 00:30] maximusvladimir commented on #180
1. Obtaining a copyright takes a while time to get.
2. It is open source so technically it is allowed. He could modify it and sell it if he wanted to (I am pretty sure he is allowed to do that).
3. We aren't EA, id Tech, or Microsoft Studios, this is purely for fun (and for a grade :wink:). We don't need to "copyright" it.

If y'all would be interested in making a closed source, commercial video g

[2013-02-27 00:32] maximusvladimir commented on #180
If you are really worried, we can always do more "mysterious" code (code that is not perfectly clear), like I do, to avoid people from understanding it, and therefore vetoing their ability to change it.

[2013-02-27 00:38] abauer commented on #180
no
id rather have more open code, or non-vague code;
yes i wouldn't mind working with @maximusvladimir on a professional degree

[2013-02-27 00:42] maximusvladimir commented on #179
^^^ "I do not believe this directly is causing the memory issue."

[2013-02-27 00:47] abauer commented on #179
well i blame java (insert newer version number here)

[2013-02-27 00:53] maximusvladimir commented on #180
I have a "few" words to say about "yes i wouldn't mind working with @maximusvladimir on a professional degree", because I don't know how you meant it.

If you are referring to "I would rather have be working with a more professional version of Max", these are my comments:
A person once said: "If you are not happy with the current version of Max you are running, run a software upgrade, or find a ne

[2013-02-27 00:56] maximusvladimir commented on #179
Agreed. I am running:
Version 7, Update 15.

Build 1.7.0_15-b03

[2013-02-27 00:59] ThomasGaubert commented on #180
Commerical NavalBattle Mobile would be something of interest, but we can't look to far ahead... :P

[2013-02-27 02:53] maximusvladimir opened #181 "Goals"
So I like settings goals.

We will use this "issue" to fix and set those goals.

The following "goals" are passing if they are checked:
- [ ] Memory usage under or at 256 MB.
- [ ] CPU usage between 15% and 30%.
- [x] Disk usage under 10 MB.
- [x] Network utilization not stressful on the client.
- [x] More Game Thing.

Feel free to add some more above.

[2013-02-27 02:54] abauer commented on #181
i like.

[2013-02-28 03:20] abauer opened #182 "Ship Placement / Mouse Event"
Something happened, ships can be placed in the top (6?) chunks.

Also the HUD responding to mosueclicks needs refining

[2013-02-28 13:58] maximusvladimir commented on #182
Originally, they could be placed in all the chunks (0-64). You are telling me they use to be able to placed in everything except the top 4, and now they can't be placed in the top 6?

[2013-03-01 00:32] ThomasGaubert commented on #182
Ships placed in the top six chunks ignore land rules, etc. and can be spawned anywhere.

[2013-03-01 01:41] maximusvladimir commented on #182
Yeah... sorry I though that y'all were referring to something else. I will try to take a look.

[2013-03-01 02:15] maximusvladimir commented on #182
So I am pretty sure I fixed the issue. (With an exception of course)

[2013-03-01 05:44] ThomasGaubert commented on #64
This has been largely addressed with rewrites, etc.

[2013-03-01 05:44] #64 closed, assigned to nobody

[2013-03-01 05:45] ThomasGaubert commented on #179
This could be bumped back if need be... afaik it's not breaking things all the time.

[2013-03-01 15:04] abauer commented on #146
well considering we don't have a turn basis or an AI (simple AI that stand there) nor do we have a team structure, this should be bumped back until we have those.

[2013-03-01 15:44] ThomasGaubert commented on #146
That seems like a good idea.

[2013-03-01 17:16] maximusvladimir commented on #146
I didn't realize we were doing this on the current milestone...

[2013-03-01 17:16] maximusvladimir commented on #179
Ok. I will do.

[2013-03-01 17:17] maximusvladimir commented on #64
(I'm glad I don't have to do any more documentation. I was really getting tired of typing it all.)

[2013-03-01 19:05] ThomasGaubert commented on #64
You should still do it, just as you create methods...

[2013-03-01 19:06] ThomasGaubert commented on #146
Bumped to 0.7

[2013-03-01 19:59] abauer opened #183 "JWindow Sizes"
fixes need to occur to the game window size if we are to offer fullscreen and non-fullscreen as an option

[2013-03-02 02:19] maximusvladimir commented on #183
Glorious Leader, you need to re-assign this to Anthony. I didn't design the HUD, therefore it isn't my fault.

[2013-03-02 02:31] abauer commented on #183
i didn's say this was your fault, you just mentioned you had an idea for figureing this one out.

[2013-03-02 20:11] maximusvladimir commented on #183
Oh ok. I still think Glorious Leader needs to comment here though.... ( @DarkWarHero ).

[2013-03-04 16:27] ThomasGaubert commented on #165
How will be pausing? With a button in the interface? Escape has been taken by the global quit system.

[2013-03-04 18:54] abauer commented on #165
so six days guise

[2013-03-05 19:36] ThomasGaubert opened #184 "Update and Announcement Support"
Support update and announcement alerts.

File would be hosted on this GitHub repo and would point to a URL for more info. The client would store the announcement ID and would only show announcements when the announcement ID is greater than the cached ID.

[2013-03-05 20:02] abauer opened #185 "LoginInWindow / RoketGamer"
Sometimes null pointer when Login Window accesses a non initiated RoketGamer.

[2013-03-05 20:09] ThomasGaubert commented on #185
`Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
    at com.jpii.navalbattle.gui.LoggingInWindow$1.actionPerformed(LoggingInWindow.java:72)
    at javax.swing.Timer.fireActionPerformed(Timer.java:271)
    at javax.swing.Timer$DoPostEvent.run(Timer.java:201)
    at java.awt.event.InvocationEvent.dispatch(InvocationEvent.java:209)
    at java.awt.EventQueue.dispatchEvent(EventQ

[2013-03-05 20:09] ThomasGaubert commented on #185
Workaround is to login using your RoketGamer account...

[2013-03-05 20:10] ThomasGaubert commented on #185
attn: @abauer @DarkWarHero @Matthis5point0 @maximusvladimir @smeagle42

[2013-03-05 21:33] #185 closed, assigned to ThomasGaubert

[2013-03-05 22:41] abauer commented on #184
OK had to read this one multiple times...
What kind of file? And you would need to support reading / online mode through roketgamer

[2013-03-06 02:41] maximusvladimir commented on #184
Max confused.

[2013-03-06 02:59] ThomasGaubert commented on #184
When the game is launched, the LoginWindow will start a thread to grab the following data from the file stored on this repo (update.xml):

[code]

This data will be parsed as needed and the one of the following will happen:
1. An update is found because the client version code is less than the version code in the file above. The game will alert the user to an update and will have a button to a dow

[2013-03-06 03:14] abauer commented on #184
awesome, just what i thought you were trying to say, you worded it weirdly in the first post

[2013-03-06 03:46] ThomasGaubert commented on #184
Oh yeah, it was a bit rushed.

[2013-03-06 04:09] maximusvladimir commented on #184
Oh ok. Much clearer.

[2013-03-06 04:10] maximusvladimir opened #186 "Not everything is synced across the network."

[2013-03-06 13:24] maximusvladimir opened #187 "On client disconnect, server can no longer accept other connections"
1. Server starts.
2. Client connects to server.
3. Client and server play around.
4. Client leaves because he's bored.
5. Another person tries to connect to the server.

The error is at number 5.

[2013-03-06 14:53] abauer commented on #187
also those yellow windows that move are awsome

[2013-03-06 16:14] maximusvladimir opened #188 "Sometimes the seed doesn't sync on the client."

[2013-03-06 16:15] maximusvladimir opened #189 "The Client's screen position is not shown on the Server."

[2013-03-06 19:57] maximusvladimir commented on #177
This was fixed a while ago.

[2013-03-06 19:57] #177 closed, assigned to maximusvladimir

[2013-03-06 20:00] maximusvladimir commented on #154
So coming in late 0.6, we could possibly see infinite chunks.

[2013-03-06 20:01] maximusvladimir commented on #157
AnimatedEntities are not a priority. Therefore, it is going to be bumped to 0.8.

[2013-03-06 20:01] maximusvladimir commented on #178
Since this is an ongoing issue, it shall be closed for now.

[2013-03-06 20:01] #178 closed, assigned to nobody

[2013-03-06 20:03] maximusvladimir commented on #168
This should really really help with memory.

[2013-03-06 23:01] abauer commented on #154
make a new issue for 1.7, and the game needs to be limited for actual gameplay to prevent running away

[2013-03-06 23:03] ThomasGaubert commented on #154
thisthisthisthisthisthisthisthisthisthisthisthisthisthisthisthisthisthisthisthisthis

[2013-03-06 23:18] abauer opened #190 "Chat Program"
Based on the new PAW you should be able to chat, globally and team only.

[2013-03-07 01:04] maximusvladimir commented on #190
This should be done through RoketGamer (tm).

[2013-03-07 01:05] maximusvladimir commented on #154
Well this would be a Pavo feature and would be disabled in NB. Also, we had a slight problem, so it has to be bumped to 1.0.

[2013-03-07 15:58] maximusvladimir commented on #169
This can't be fixed until #157 is closed. Therefore, it is being bumped.

[2013-03-07 15:59] maximusvladimir commented on #127
We need #125 to be done, for this feature to work.

[2013-03-07 15:59] maximusvladimir commented on #125
Status on this?

[2013-03-07 16:06] maximusvladimir commented on #183
Technically Max is not responsible for this. This is part of the `Window` class.

Is this what the HUD is suppose to do?:

![image](https://f.cloud.github.com/assets/1757519/232793/f23d3882-8740-11e2-904c-ffa52040ef3b.png)

[2013-03-07 16:28] ThomasGaubert commented on #125
I thought you were working on it?

[2013-03-07 16:31] ThomasGaubert commented on #190
Once we decide exactly how multiplayer will be handled through the service, we can consider implementing it.

[2013-03-07 17:22] maximusvladimir commented on #125
No... This is Anthony (I think).

![tr](http://cdn.memegenerator.net/instances/25x/35836582.jpg)

[2013-03-07 17:23] maximusvladimir commented on #190
Sounds good.

[2013-03-07 17:27] abauer commented on #125
no you defiantly committed stuff concerning this and told us you would take care of it

[2013-03-07 17:28] abauer commented on #183
basic idea, but it needs to re size with full screen mode, additionally it needs to work with clients who have different task-bars... (larger, smaller, different position, etc.)

[2013-03-07 17:48] maximusvladimir commented on #125
I was committing base ideas. I am not in-charge of turn based development.

[2013-03-07 18:03] maximusvladimir opened #191 "Old render API is still present."
The old renderer (like really old), is still present in the code, and needs to be removed to help reduce program size (and to clean up in general).

The old renderer is located at : `com.jpii.navalbattle.renderer` and `com.jpii.navalbattle.renderer.*`.

[2013-03-08 02:13] abauer opened #192 "Implement GameKit Window System"

[2013-03-08 02:14] abauer opened #193 "Fix "instanceof" problem located in KeyListener (gui.listeners)"

[2013-03-08 02:15] abauer commented on #183
found a compromise for now, issue might reappear

[2013-03-08 02:15] #183 closed, assigned to maximusvladimir

[2013-03-08 02:16] abauer commented on #153
Well because max doesn't want all his commented code taken out, we will discuss this further in 0.7

[2013-03-08 02:30] maximusvladimir opened #194 "Data should be encrypted during data transmission."
Currently, the data is streamlined directly through unsecured connections, potentially allowing data to be compromised. This could allow modifications and changes to data en-route, thus would allow rigging of the game.

The proposed solution would be to take advantage of `OSUtil.java` and generate a key using enigma methods. This fix should be permissible for the current time frame, as it will all

[2013-03-08 02:36] maximusvladimir commented on #153
I didn't say that. I said I would like to make a hard copy, before this was done.

[2013-03-08 02:37] maximusvladimir commented on #183
Was this anything of my doing, Mr. Bauer?

[2013-03-08 02:37] abauer commented on #183
yes, the compromise was, though im sure its not completely done

[2013-03-08 02:38] abauer commented on #73
Definitely think this needs to  move to Beta 0.8, its a feature

[2013-03-08 02:39] maximusvladimir commented on #163
So I believe that Window API is almost complete. We've just got to add `MessageBox`, fix a few event problems, and of course add event listeners, and then we should be done.

[2013-03-08 02:40] maximusvladimir commented on #176
As pointed out above, this issue probably won't be fixed before June, so umm...yeah.

[2013-03-08 02:44] abauer commented on #176
1) wheres the spelling?
2) this needs to be fixed... so i guess June better come sometime this month

[2013-03-08 02:57] ThomasGaubert commented on #73
Moved.

[2013-03-08 02:57] ThomasGaubert commented on #176
I fixed the spelling error a while back.

[2013-03-08 03:01] maximusvladimir commented on #73
:frowning:

[2013-03-08 03:02] maximusvladimir commented on #176
No comment.

[2013-03-08 03:25] abauer commented on #176
more specifically 2)

[2013-03-08 20:22] ThomasGaubert commented on #191
What this is not top priority if it is sitting there idle...

[2013-03-08 20:23] abauer commented on #191
this is not my responsibility, i have no clue what code you want to keep / get rid of, additionally turn basis is top priority because that is the whole point of this milestone and we've done nothing on it

[2013-03-09 20:23] maximusvladimir commented on #191
Whoops, sorry about the comment. I thought this was a different issue. Sorry.

Obviously, this is something that we would ideally finish before we get to 1.0. I don't want the code to disappear quite yet, because there still might be a few things there that might be being used.

I assigned this to Anthony, primarily because I knew that he wanted to do a lot of cleaning up of the code, removing com

[2013-03-10 01:02] abauer commented on #191
if this has to do with cleaning you can comment on the issue located in the next milestone

[2013-03-10 01:07] abauer commented on #191
*moved

[2013-03-11 20:14] maximusvladimir commented on #127
This has been added as of commit id eab46feb80ed7b9f1c982f3b8e4ac346f0342fed.

[2013-03-11 20:14] #127 closed, assigned to maximusvladimir

[2013-03-11 20:16] maximusvladimir commented on #128
I believe that this should probably be moved. There's a lot to do, and much of it depends on stuff that has yet to exist.

[2013-03-11 20:37] maximusvladimir opened #195 "Earthquakes"
I didn't realize we had earthquakes in the game yet...

![earthquake example](https://dl.dropbox.com/u/11164236/navalbattle/nb0.6_03.png)

[2013-03-12 01:52] ThomasGaubert commented on #128
The point of the HUD in this milestone (AFAIK, @abauer please correct me if I'm wrong) is to have the placeholders for all of the buttons and at least have the turn system working with the HUD (movement range, moves left, press to advance to next turn, etc.).

In that case, it cannot be moved.

[2013-03-12 01:57] maximusvladimir commented on #128
Ok understood. I thought y'all wanted all of the above features implemented in this milestone.

[2013-03-12 03:39] abauer commented on #128
basically the turn system issue closed and a draft for the buttons is all that is required; AFTER both of those are done we can 'copy' (by moving) this issue to the next milestone for fine-tuning

[2013-03-15 02:39] abauer commented on #195
is this a problem?

[2013-03-15 03:12] abauer commented on #125
ok first step (should have done this awhile ago) is to identify what a turn basis is and what it affects. A turn basis is a way of limiting what happens to a turn basis; therefore identifying what needs limiting is the 2nd step

[2013-03-15 03:13] abauer commented on #125
- [x] Entity Movement Limit
- [x] Entity Attack Limit
- [x] Player Shop Limit
- etc. (add here please)

[2013-03-16 02:18] maximusvladimir commented on #194
Data is now encrypted, but keys are static. Keys should be generated in runtime.

[2013-03-16 02:20] maximusvladimir commented on #195
I believe I fixed it, but it still could be there.

[2013-03-18 18:00] maximusvladimir commented on #163
Adding that too a new issue.

[2013-03-18 18:00] #163 closed, assigned to maximusvladimir

[2013-03-18 18:01] maximusvladimir opened #196 "MessageBox still dependent on old PAW system."
MessageBox API needs to be moved to PAW.

[2013-03-18 18:02] maximusvladimir opened #197 "Event listeners for PAW controls"

[2013-03-18 18:23] maximusvladimir opened #198 "Water detection in top chunks is not correct."
The ultimate reason for this is that the `byte[][] tileAccessor;` is not initialised before the chunks start to record how much water there is in a given tile.

[2013-03-18 18:30] ThomasGaubert commented on #176
Removed wontfix tag.

[2013-03-18 18:55] maximusvladimir commented on #198
Fixed!

[2013-03-18 18:55] #198 closed, assigned to maximusvladimir

[2013-03-18 19:09] maximusvladimir commented on #176
So water detection is working. Part 1 is fixed.

[2013-03-19 00:34] maximusvladimir commented on #102
Was this ever fixed?

[2013-03-19 00:35] maximusvladimir commented on #167
We already kinda started this. It caused earthquakes though ( #195 ).

[2013-03-19 01:36] maximusvladimir commented on #197
Added and fully functional! Key listeners won't be added until TextBoxes are added (later).

[2013-03-19 01:36] #197 closed, assigned to maximusvladimir

[2013-03-19 01:38] maximusvladimir commented on #172
PAW is done.
LiveThread is cancelled, due to inconsistencies with thread sharing.

[2013-03-19 04:22] ThomasGaubert commented on #102
Not in code yet, but the plan would be to not submit scores that are created using an older version of the game (checked with the new BroadcastService class).

Eventually RoketGamer might get support for version tracking across leaderboards. However, that would be post-launch with a new version of the API.

[2013-03-19 15:01] ThomasGaubert commented on #184
This is sort of implemented, but there are some bugs... I'm still learning how to deal with XML parsing.

[2013-03-19 15:28] maximusvladimir commented on #102
Oh ok.

[2013-03-19 15:29] maximusvladimir commented on #182
So apparently they can be placed, but can't be referenced.

[2013-03-19 15:33] maximusvladimir commented on #74
This isn't essential, and it is kinda pointless, so this is going to be cancelled.

[2013-03-19 15:33] #74 closed, assigned to maximusvladimir

[2013-03-19 20:40] smeagle42 commented on #128
We should make it so whenever you click on a ship, the highlighted area only is on water instead of a square.

[2013-03-19 21:40] abauer commented on #128
what does this mean, it already does this, and also that't not entirely part of the HUD

[2013-03-19 21:43] abauer commented on #182
ships? or the chunks can't be referenced?

[2013-03-19 21:55] ThomasGaubert commented on #128
Yeah this is the wrong issue for that, but basically he is saying that the valid movement highlight should only be for water tiles (and not both land and water).

[2013-03-19 22:00] abauer commented on #128
I like it how it is.. it tells you where your movement range falls and which tiles are valid and which are not...

[2013-03-19 22:08] maximusvladimir commented on #128
Technically, it would be slightly faster for non-highlighted areas, if they weren't red. I kinda like the red though.

[2013-03-19 23:04] abauer commented on #128
honestly either way works for me

[2013-03-20 16:59] maximusvladimir commented on #182
Chunks. This is going to be a tough fix (if there is one).

[2013-03-20 18:14] maximusvladimir opened #199 "Rename"
`TestClient.java` and `TestServer.java` should be renamed to `NavalClient.java`and `NavalServer.java`.

[2013-03-20 18:51] JVetus opened #200 "Update aircraft carrier and submarine"
update the getLocation method and the rotation

[2013-03-20 18:58] ThomasGaubert commented on #184
This has mostly been added. I just need to display the buttons when needed.

[2013-03-20 19:08] maximusvladimir opened #201 "Clients can't control their own PAW windows."
Only the Server side can move the windows.

[2013-03-20 19:09] maximusvladimir commented on #200
Max no understand.

[2013-03-20 19:10] abauer commented on #200
@abauer

[2013-03-20 19:31] abauer opened #202 "Need a static value for "land" vs water"
sometimes 5% is used; sometimes 8% is used

[2013-03-21 01:35] ThomasGaubert commented on #202
For some reason I thought there was already an issue for this, but I can't find it...

This needs to be done!

[2013-03-21 01:48] ThomasGaubert commented on #202
Found it! #154

[2013-03-21 02:17] abauer commented on #154
little bit different issue but ok

[2013-03-21 02:19] abauer commented on #202
was a different purpose, that issue was refining the creation of land vs. water, this one is about CON-SIS-TEN-CY (SEEEEEE) in determining whether the tile is land vs water

[2013-03-21 02:24] ThomasGaubert commented on #202
Oh, okay.

[2013-03-21 02:39] ThomasGaubert commented on #184
Finished a little early! Expect improvements to come in the future...

https://github.com/JPII/NavalBattle/wiki/BroadcastService

[2013-03-21 02:39] #184 closed, assigned to ThomasGaubert

[2013-03-21 02:44] abauer opened #203 "Ship rotation at edges"
Not sure on status, may be fixed, may be buggy.

[2013-03-21 02:52] ThomasGaubert opened #204 "Exclusively use debug window for logging"
Move all System.out.println() (and similar) to the debug window.

[2013-03-21 02:54] ThomasGaubert opened #205 "Update NavalBattle website"
Update http://jpii.github.com/NavalBattle/ to be more informative.

Needs change log, game information, screenshots, etc.

[2013-03-21 02:54] abauer commented on #204
hasn't this been done?

[2013-03-21 03:07] ThomasGaubert commented on #204
Currently it is disabled. We either need to replace those calls or un-comment the output stream hook.

[2013-03-21 03:08] abauer commented on #204
correct...

[2013-03-22 00:37] ThomasGaubert commented on #156
Marked as on hold.

[2013-03-22 02:52] abauer commented on #156
never saw that diagram but that funny

[2013-03-23 16:36] abauer opened #206 "twitter is not submitting our commits"

[2013-03-23 18:14] ThomasGaubert commented on #206
Fixed. Someone disabled the service hook....

[2013-03-23 18:14] #206 closed, assigned to ThomasGaubert

[2013-03-23 18:51] maximusvladimir commented on #206
I didn't do it. I might have been Glorious Leader ( @DarkWarHero ).

[2013-03-23 23:18] abauer commented on #206
nose goes...

[2013-03-24 19:10] abauer opened #207 "Find movement bugs"
Find the bugs associated with movement / moveto method

[2013-03-24 19:12] abauer commented on #125
the work needed for 0.6 has been completed, work left has been moved with this milestone to 0.7

[2013-03-24 19:12] abauer commented on #128
the work needed for 0.6 has been completed, work left has been moved with this milestone to 0.7

[2013-03-24 19:12] abauer commented on #182
I believe this has been fixed

[2013-03-24 19:13] #182 closed, assigned to nobody

[2013-03-24 21:34] maximusvladimir commented on #182
Yep it's fixed, however chunks will continue to disappear in the top two columns and rows.

[2013-03-24 21:36] maximusvladimir commented on #207
It has been written: "Thou shall be very careful when modifying moveTo method."

[2013-03-24 21:37] maximusvladimir commented on #201
Whoops this was suppose to be for 0.7. Moving.

[2013-03-24 21:43] maximusvladimir commented on #202
As of commit id 80c9c68bc0cfd6adad5576d7f47d5b1d5f777977, this should be fixed.

[2013-03-24 21:43] #202 closed, assigned to maximusvladimir

[2013-03-24 21:46] maximusvladimir commented on #199
This should be fixed as of commit id 95a96d75a53c9a6f0f2d2dc8abf538d5cc360f03.

[2013-03-24 21:46] #199 closed, assigned to nobody

[2013-03-24 21:48] maximusvladimir commented on #189
This needs to be tested again. I have no clue which one is not showing up anymore, but I know it is one of them.

[2013-03-24 22:00] ThomasGaubert commented on #207
Stuff I noticed:
- Move limits per turn aren't taken into account yet. (you can move forever)
- Narrow bodies of water in which the ship would need to rotate to fit (if at all) are highlighted as okay. It would be difficult to fix this (especially since rotations would be added soon-ish)

[2013-03-24 22:08] maximusvladimir commented on #188
I have not encountered this issue for a very very long time.

[2013-03-24 22:08] #188 closed, assigned to maximusvladimir

[2013-03-25 02:22] maximusvladimir commented on #147
Yeah, okay I don't think this is going to be possible to do anymore.
1. Requires too much CPU.
2. Ain't nobody got enough time to implement that.

[2013-03-25 02:22] maximusvladimir commented on #111
Confirmed: It has been fixed.

[2013-03-25 02:22] #111 closed, assigned to maximusvladimir

[2013-03-25 02:23] maximusvladimir commented on #117
Pavo is clearly not ready. I don't plan on migrating it any time soon.

[2013-03-25 02:36] abauer commented on #207
hmm you should show me 2), and yes i agree with one, had some questions but the layout is already there.

[2013-03-25 02:37] abauer commented on #176
ok if the water issue is fixed we can move this to 0.7 to fix the flashying bit (as that has been an on-going problem)

[2013-03-25 02:37] maximusvladimir opened #208 "HUD doesn't work anymore."
The HUD doesn't work for Whales anymore as of commit id 00aadf1ce76c8f5a8dc6bd83fa16c064478dbc57.

[2013-03-25 02:38] maximusvladimir commented on #169
Fixed. Trolololololololol.

[2013-03-25 02:38] #169 closed, assigned to maximusvladimir

[2013-03-25 02:38] abauer commented on #208
hmm
thats because they are not a Moveable Entity

[2013-03-25 02:38] abauer commented on #208
this issue needs to be discussed before action can occur (game logic)

[2013-03-25 02:39] maximusvladimir commented on #157
I don't think this is an issue anymore.

[2013-03-25 02:40] maximusvladimir commented on #157
I don't know though.

[2013-03-25 02:40] abauer commented on #207
@maximusvladimir iknow; it had to be done so i wanted to know the side-effects (thus the issue)

[2013-03-25 02:41] maximusvladimir commented on #208
Actually, I didn't click on it the first time. My bad.

[2013-03-25 02:41] #208 closed, assigned to abauer

[2013-03-25 02:41] ThomasGaubert commented on #75
Finally!

[2013-03-25 02:41] #75 closed, assigned to ThomasGaubert

[2013-03-25 02:41] maximusvladimir commented on #207
Oh ok.

[2013-03-25 02:42] maximusvladimir commented on #194
Obviously this is not a priority.

[2013-03-25 02:43] ThomasGaubert commented on #147
Possibly something to look into for post-launch.

[2013-03-25 02:43] maximusvladimir commented on #147
Hahaha I can do airplanes.

![gif](http://24.media.tumblr.com/tumblr_ljv7cl4MLp1qa51o3o1_500.gif)

[2013-03-25 02:43] abauer commented on #147
darn... though i don't think this is vital to the game

[2013-03-25 02:44] maximusvladimir commented on #176
Ok. Moved. (Actually I didn't move it)

[2013-03-25 02:45] ThomasGaubert commented on #207
Here's what I was describing:
![Untitled](https://f.cloud.github.com/assets/406075/296407/113272da-94f6-11e2-99ce-ee36753e02ba.png)

[2013-03-25 02:45] abauer commented on #176
I did

[2013-03-25 02:45] maximusvladimir commented on #167
This was done along time ago. If you want to use it, go to `PavoSettings.java` then go to `public boolean isUsingMultithreadedRenderer = false;` and change it to `true`.

[2013-03-25 02:46] #167 closed, assigned to maximusvladimir

[2013-03-25 02:46] abauer commented on #207
basically your saying that you should be able to move there... and it won't move.... i agree, and i knew that was a bug, im going to talk with matt and figure some things out and then i will get back to you...

[2013-03-25 02:47] #101 closed, assigned to maximusvladimir

[2013-03-25 02:50] ThomasGaubert commented on #207
Right it should move and rotate (or just not allow it all assuming it wouldn't rotate).

[2013-03-25 02:50] abauer commented on #200
also update some other additions recently made

[2013-03-25 02:51] ThomasGaubert commented on #61
What's the verdict on this? I think it should be moved to 0.9 at least...

[2013-03-25 02:51] ThomasGaubert commented on #108
Wasn't this ruled out?

[2013-03-25 02:52] abauer commented on #132
definitely have been implemented...

[2013-03-25 02:52] abauer commented on #131
definitely been implemented

[2013-03-25 02:52] #131 closed, assigned to nobody

[2013-03-25 02:52] ThomasGaubert commented on #132
Completely? With the submerged and surfaced toggle?

[2013-03-25 02:53] maximusvladimir commented on #61
Moved.

[2013-03-25 02:54] abauer commented on #132
um... urmmm... um...

[2013-03-25 02:57] ThomasGaubert commented on #132
:shipit:

[2013-03-25 02:59] ThomasGaubert commented on #129
We should have a draft of the AI algorithm within the coming weeks, right?

[2013-03-25 03:00] abauer commented on #129
i would hope...

[2013-03-25 03:00] abauer commented on #153
this one is going to be fun...
Max make your copy before Tuesday

[2013-03-25 03:01] ThomasGaubert commented on #129
_cough_ @DarkWarHero

[2013-03-25 03:02] ThomasGaubert commented on #153
Yeah, let's not do this until everything else for the milestone is done (obviously).

Each person can claim a package or two to prevent detached heads...

[2013-03-25 03:03] ThomasGaubert commented on #153
Also, we should update copyright headers to 2013. Get with the times!

[2013-03-25 03:43] abauer commented on #153
actually, i was going to start tuesday

[2013-03-25 03:46] ThomasGaubert commented on #153
Or that. Proceed with caution!

[2013-03-25 03:47] ThomasGaubert opened #209 "Ports have a tendency to merge with ships"
Detached "head"? ;)

![Capture](https://f.cloud.github.com/assets/406075/296517/bb75e008-94fe-11e2-9fab-74bfe7d76492.PNG)

[2013-03-25 12:15] maximusvladimir commented on #209
I understand. The current state and appearance of the ships is purely experimental, and I can assure you, this will not be like this in a few milestones. (Ports will be half on land and half in the water, not floating in the middle :wink:).

[2013-03-25 12:18] maximusvladimir commented on #108
Idk.

[2013-03-25 12:26] maximusvladimir commented on #67
Did we ever finish this? I can't seem to save my game.

[2013-03-25 12:27] maximusvladimir commented on #196
Oh I finished this last night :derp:.

[2013-03-25 12:27] #196 closed, assigned to maximusvladimir

[2013-03-25 12:33] maximusvladimir commented on #168
I turns out this a very bad idea. Regularv is obsolete.

[2013-03-25 12:33] #168 closed, assigned to maximusvladimir

[2013-03-25 12:41] maximusvladimir commented on #187
Fixed as of commit id 3201517caa23b0adde62eea7133f2da4dabd9c68.

[2013-03-25 12:41] #187 closed, assigned to maximusvladimir

[2013-03-25 12:43] maximusvladimir commented on #195
Oh this was fixed a while back. If your computer isn't fast enough to use the fast renderer, then you can't use it. See `isUsingMultithreadedRenderer` in PavoSettings.java for details.

[2013-03-25 12:43] #195 closed, assigned to maximusvladimir

[2013-03-25 12:44] maximusvladimir commented on #179
Finished this a while back, however this is somewhat of a continuous issue. Expect to see it opened again in the future.

[2013-03-25 12:44] #179 closed, assigned to maximusvladimir

[2013-03-25 12:44] maximusvladimir commented on #45
Lol. I don't think we are going to use this anymore.

[2013-03-25 12:47] maximusvladimir opened #210 "Status bar needs to be moved to PAW"
And no, this does not mean Anthony (or someone else for that matter) copying the render code, and pasting it in an overridden `paint(Graphics2D g);` method.

[2013-03-25 14:05] maximusvladimir commented on #186
Obvisouly this issue cannot be closed until the majority of the game is finished.
- [ ] Battleships
- [ ] Submarines
- [ ] Window locations
- [ ] Whales
- [ ] Ports
- [ ] Movements

[2013-03-25 14:05] abauer commented on #108
agree w/ @TexasGamer

[2013-03-25 14:11] abauer commented on #186
- [ ] Aircraft Carriers
- [ ] Turns

[2013-03-25 14:18] ThomasGaubert commented on #108
Closed.

[2013-03-25 14:19] #45 closed, assigned to maximusvladimir

[2013-03-25 14:20] ThomasGaubert commented on #186
Moved to 0.9 because it'll naturally come later.

[2013-03-25 14:20] ThomasGaubert commented on #209
Few milestones = 0.9 = not good enough

Tsk tsk

[2013-03-25 14:33] ThomasGaubert commented on #67
Not sure, I thought we had it implemented.

[2013-03-25 15:26] abauer commented on #67
the system was written, but i don't know if you ever finished the saving part

[2013-03-25 15:29] abauer commented on #210
done
(jk)

[2013-03-25 17:32] maximusvladimir commented on #108
Well wait a minute. Why don't we just move it to a later milestone?

[2013-03-25 17:35] maximusvladimir commented on #67
I did write the saving part, but due to the fact that we are using turns, entities, etc, I don't think it will save anymore.

Someone should test out the `save` command, and see what it does.

@abauer We wrote the saving part, but not a loading part (there's a structure for it). I don't think the saving part works anymore though.

[2013-03-25 23:02] ThomasGaubert commented on #108
Okay, moved to 0.9 and it can be re-evaluated later if need be.

[2013-03-26 01:03] maximusvladimir commented on #108
Sounds good.

[2013-03-26 01:05] ThomasGaubert commented on #67
Ah okay, it makes sense now.

[2013-03-26 01:05] ThomasGaubert commented on #67
Reopened for now.

[2013-03-26 01:40] maximusvladimir opened #211 "Files that need to be removed."
- [x] `com.jpii.navalbattle.io.WorldFile.java` (no longer used).
- [x] `com.jpii.navalbattle.io.SettingsReader.java` (replaced by `SettingsIO.java`).
- [x] `com.jpii.navalbattle.io.SettingsWriter.java` (replaced by `SettingsIO.java`).
- [x] `com.jpii.navalbattle.pavo.WorldGen.java` (originally used for Dagen).
- [x] `com.jpii.navalbattle.game.gui.$tmp_swap_cache.java` (originally used for old Wind

[2013-03-26 01:56] maximusvladimir commented on #211
Part of issue #191.

[2013-03-26 02:48] abauer commented on #211
awsome
stuff to do tomorrow/rest of week

[2013-03-26 02:56] ThomasGaubert commented on #211
Assigned to @Matthis5point0 so he can do something.

[2013-03-26 17:52] ThomasGaubert opened #212 "GameKit DebugWindow"
Implement DebugWindow from GameKit.

[2013-03-26 18:03] maximusvladimir opened #213 "Oil rigs"
Oil rigs when inside a certain distance to the ship, will temporarily expand the maximum movement range of a ship.

[2013-03-26 18:06] ThomasGaubert commented on #213
Moved to 1.1, this can be evaluated when/if we have nothing to do.

[2013-03-26 18:30] Matthis5point0 opened #214 "ArrayIndexOutOfBoundsException"
Found this error after closing a game of naval battle
"Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: 5228
    at com.jpii.navalbattle.pavo.World.getChunk(World.java:95)
    at com.jpii.navalbattle.pavo.World.getChunk(World.java:98)
    at com.jpii.navalbattle.pavo.grid.EntityManager.findEntity(EntityManager.java:170)
    at com.jpii.navalbattle.game.NavalGame.mou

[2013-03-26 18:34] maximusvladimir commented on #214
The source of this is the setEntity in the HUD (I'm serious).

[2013-03-26 18:35] #212 closed, assigned to ThomasGaubert

[2013-03-26 19:10] maximusvladimir commented on #189
This has been proven to be false.

[2013-03-26 19:10] #189 closed, assigned to maximusvladimir

[2013-03-26 20:31] Matthis5point0 commented on #211
So just run through and delete these files?  Or at least what doesn't need to be saved from ones that state otherwise?

[2013-03-26 20:31] abauer commented on #211
check to make sure they are gone
i should have removed them...

[2013-03-26 22:14] abauer commented on #214
ok so null bugss.... would checking for Location.Unknown work?

[2013-03-26 22:25] maximusvladimir commented on #214
It depends on how you have it set up.... _I'm checking now_.

No, actually all you need to do is make sure `chx` and `chy` are greater than 0 and less than the width and height of the world (times 2). (NavalGame:261).

[2013-03-26 22:28] abauer commented on #203
tested on the right, ships don't move all the way to the right of the map (off by a chunk)

[2013-03-26 22:30] abauer commented on #214
does getWorld.getHeight()_2 and getWorld.getWidth()_2 work?

[2013-03-26 22:31] abauer commented on #214
nope those don't work

[2013-03-26 22:41] abauer commented on #214
fixed!

[2013-03-26 22:41] #214 closed, assigned to abauer

[2013-03-26 22:43] #211 closed, assigned to Matthis5point0

[2013-03-26 22:45] abauer commented on #191
what is next in this? Since this is our clean-up milestone

[2013-03-27 00:00] maximusvladimir commented on #191
It is?

[2013-03-27 00:46] abauer commented on #191
yes

[2013-03-27 17:23] maximusvladimir commented on #191
Ok. I will clean up some stuff tomorrow during class.

[2013-03-28 00:43] abauer commented on #191
ok cool

[2013-03-28 01:23] abauer commented on #147
so are we going to close / move this one?

[2013-03-28 01:24] abauer commented on #128
ok so just need String update display and the 'h' key lock option (requires gamekit integration of windows)

[2013-03-28 01:26] abauer opened #215 "HUD event String queue"

[2013-03-28 17:03] maximusvladimir commented on #147
Probably move it.

[2013-03-28 20:22] abauer commented on #147
moved to 0.9

[2013-03-31 18:20] abauer commented on #79
Exception in thread "AWT-EventQueue-0" java.lang.ClassCastException: javax.swing.plaf.nimbus.DerivedColor$UIResource cannot be cast to javax.swing.Painter
    at javax.swing.plaf.nimbus.NimbusStyle.getBackgroundPainter(Unknown Source)
    at javax.swing.plaf.nimbus.SynthPainterImpl.paintBackground(Unknown Source)
    at javax.swing.plaf.nimbus.SynthPainterImpl.paintTextPaneBackground(Unknown Sourc

[2013-03-31 18:34] abauer commented on #192
Done!

[2013-03-31 18:34] #192 closed, assigned to ThomasGaubert

[2013-03-31 18:40] abauer commented on #193
fixed!

[2013-03-31 18:40] #193 closed, assigned to abauer

[2013-03-31 18:44] abauer commented on #215
now zach needs to display it...

[2013-03-31 18:57] abauer commented on #200
I think they might be done now

[2013-03-31 18:57] #200 closed, assigned to abauer

[2013-03-31 18:57] abauer commented on #125
ugg attacks....

[2013-04-02 15:29] maximusvladimir commented on #215
@smeagle42

[2013-04-02 15:30] maximusvladimir commented on #79
This isn't my fault.

[2013-04-02 18:49] abauer commented on #79
ok...

[2013-04-02 18:50] abauer commented on #203
would like @maximusvladimir to look at this one...

[2013-04-02 18:51] abauer commented on #139
Ai classes should extend Player class and then redefine the attack, move, diplomacy, shop (etc.) methods

[2013-04-02 18:59] ThomasGaubert commented on #79
Is this fixable or should we just prompt the user to restart the game?

[2013-04-03 12:26] maximusvladimir commented on #203
I will take a look soon.

[2013-04-03 12:28] maximusvladimir commented on #79
"It get fairly laggy and it throws an error. The program is allowed to continue to run though."

I think that when we get to production level, we should just do what most developers do, and place the entire program in a giant try...catch field, then report the internal exception to the user through a message box. I would expect an error like this to not be fatal, and it only lags out for a few sec

[2013-04-03 12:29] maximusvladimir commented on #139
Can AI shop for food, ships, etc?

[2013-04-03 15:26] ThomasGaubert commented on #139
Food?

And yeah, the AI should be able to buy items and what not. We can decide if it needs a score handicap (so it always makes money).

[2013-04-03 18:21] ThomasGaubert commented on #67
I don't know why this is assigned to me...

[2013-04-03 18:21] ThomasGaubert commented on #102
This has been handled...

[2013-04-03 18:21] #102 closed, assigned to ThomasGaubert

[2013-04-03 18:47] ThomasGaubert commented on #125
Marked attack limit as complete. (this is separate from damage, etc.)

[2013-04-03 19:02] abauer commented on #125
its not though, im not limitng the times you can attacks

[2013-04-03 19:03] abauer opened #216 "MouseScrollWheel off da wallls"

[2013-04-03 19:03] ThomasGaubert commented on #125
Ah, whoops.

[2013-04-03 19:04] abauer commented on #125
shops are added in 0.8, this issues has been moved to 0.8 to accommodate

[2013-04-03 21:56] abauer commented on #153
ok done removing warnings and comments

[2013-04-03 21:56] #153 closed, assigned to abauer

[2013-04-03 21:58] abauer commented on #191
i think this is removed...

[2013-04-03 21:58] #191 closed, assigned to maximusvladimir

[2013-04-03 22:00] abauer commented on #190
![image](https://f.cloud.github.com/assets/684124/336517/ccf9990c-9ca9-11e2-96fe-6991ede7956a.png)
something like this, where it determines who spoke, and whether it was to all or team only, colored based on team vs. enemy, and special events can be displayed here.

[2013-04-03 22:01] abauer commented on #130
status on this?

[2013-04-03 22:02] #128 closed, assigned to smeagle42

[2013-04-03 22:02] abauer commented on #138
do airplanes fly across the screen?

[2013-04-04 02:01] abauer commented on #215
may be combined with the chat program

[2013-04-04 02:01] abauer commented on #203
tested at top, not even able to move ships/ships duplicate

[2013-04-04 02:18] ThomasGaubert commented on #215
I like the combination idea, though PAW will need text input now _cough_

[2013-04-04 02:46] abauer commented on #215
not exactly; but i see what you mean, kinda, i was thinking the chat window would be transparent. probably on a different thread to prevent lag (for loops require cpu time...)

[2013-04-04 02:49] ThomasGaubert commented on #215
Okay that makes more sense.

[2013-04-04 02:54] abauer commented on #215
yeah that's why i had to move this issue and comment out that string stuff, basically i spilt the milk

[2013-04-05 01:54] abauer commented on #210
i attempted but i cannot get it to display

[2013-04-06 01:48] maximusvladimir commented on #210
I'll look at it later in the week.

[2013-04-06 02:02] maximusvladimir commented on #215
"probably on a different thread to prevent lag"

There comes a time when putting things on a separate thread is not going to help performance. I believe that our program is using about 23 or 24 threads currently. Microsoft Windows typically limits the number of threads on a 32 bit machine to 25 threads. After this point, Windows (I am pretty sure), begins stacking threads into other ones, which ba

[2013-04-06 02:04] maximusvladimir commented on #138
Ummm I am not sure.

[2013-04-06 02:05] maximusvladimir commented on #190
We can do that.

[2013-04-06 02:08] maximusvladimir commented on #67
That's a good question.

[2013-04-08 15:06] abauer commented on #215
What i meant, was put this into the chat program; and my idea will not work, so a redesign needs to be done

[2013-04-08 23:30] ThomasGaubert commented on #201
Since multiplayer for launch is looking unlikely, can we move this way back??

[2013-04-08 23:31] ThomasGaubert commented on #190
The chat system can be added to the history log at a later date when multiplayer is implemented (after launch).

Can we move this??

[2013-04-08 23:32] ThomasGaubert commented on #146
Status on this?

[2013-04-08 23:33] ThomasGaubert commented on #67
At this point do we want saving? It could add to the difficulty to have to play it in a sitting. Not to mention we need to come up with a file format (that accounts for features that haven't been added).

It can always be added later.

[2013-04-08 23:33] maximusvladimir commented on #201
Actually, I was just about to say that this should be irrelevant, as we are still unsure as to how multiplayer should "play out".

[2013-04-08 23:33] maximusvladimir commented on #146
I'll do this tonight after dinner.

[2013-04-08 23:34] ThomasGaubert commented on #201
Exactly. Save MP for way later. Moved to 1.1 (this is tentative, depending on when we want to target it).

[2013-04-08 23:34] maximusvladimir commented on #146
Actually, more specifically, stir-fry dinner with shrimp.

[2013-04-08 23:34] ThomasGaubert commented on #207
@DarkWarHero What is the status on this?

[2013-04-08 23:35] maximusvladimir commented on #215
Just have it re-render a buffer, using the onMessageRecieved event for the PavoServer/Client. This is a thread that is not too busy.

[2013-04-08 23:35] ThomasGaubert commented on #138
Moved to 1.1 because:
1. History log will show that airplanes were used
2. This can be added later (even in a RC) because its aesthetic

[2013-04-08 23:36] ThomasGaubert commented on #132
Are states toggleable yet?

[2013-04-08 23:36] ThomasGaubert commented on #130
_cough_

[2013-04-08 23:41] maximusvladimir commented on #201
Honestly, I would have just closed it, and if it becomes "relevant" in the future we can reopen it.

[2013-04-08 23:43] ThomasGaubert commented on #201
Ok, closed.

[2013-04-08 23:43] #201 closed, assigned to maximusvladimir

[2013-04-08 23:43] maximusvladimir commented on #67
I can't understand why this was marked for this issue, and we still don't have a working game....

[2013-04-08 23:55] ThomasGaubert commented on #67
Exactly, we can't save stuff if we don't know what to save.

[2013-04-08 23:55] ThomasGaubert commented on #67
Removed milestone.

[2013-04-08 23:59] ThomasGaubert opened #217 "Ship NavalBattle 1.1"
Update NavalBattle to 1.1. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:00] ThomasGaubert opened #218 "Ship NavalBattle 1.0"
Update NavalBattle to 1.1. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:01] ThomasGaubert opened #219 "Ship NavalBattle RC2"
Update NavalBattle to RC2. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:01] ThomasGaubert opened #220 "Ship NavalBattle RC1"
Update NavalBattle to RC1. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:01] ThomasGaubert opened #221 "Ship NavalBattle 0.9"
Update NavalBattle to 0.9. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:02] ThomasGaubert opened #222 "Ship NavalBattle 0.8"
Update NavalBattle to 0.8. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:02] ThomasGaubert opened #223 "Ship NavalBattle 0.7"
Update NavalBattle to 0.7. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is n

[2013-04-09 00:03] maximusvladimir commented on #190
![Is](https://dl.dropbox.com/u/11164236/navalbattle/hatthing.png)

How 'bout this?

[2013-04-09 00:07] ThomasGaubert commented on #190
Looks fine, but let's not worry about this at the moment.

[2013-04-09 00:59] maximusvladimir commented on #130
Is a cold going around? _cough_ . Ummm well I thought this was done.

[2013-04-09 01:23] maximusvladimir commented on #146
Changed to cyan dots. Considered it finished for now (there is no way to access a client's entity manager without reaching an MemoryAccessViolationException.

[2013-04-09 01:23] #146 closed, assigned to maximusvladimir

[2013-04-09 01:33] ThomasGaubert commented on #130
Uh we didn't do what we discussed on the board yet (as far as I can see)

[2013-04-09 02:38] abauer commented on #190
um agree that the two can be combined; but the UI needs to be discussed, and a location picked; that should be all for this milestone

[2013-04-09 02:40] abauer commented on #67
agree with these recent statements

[2013-04-09 02:41] abauer commented on #215
combine with chat program...

[2013-04-09 02:41] abauer commented on #138
"(even in a RC)" I like this idea

[2013-04-09 02:42] abauer commented on #132
yes; there is no button but the code is already there

[2013-04-09 02:42] #132 closed, assigned to nobody

[2013-04-09 15:30] abauer commented on #130
can we put that on github for records? im assuming your meaning stuff like this;
- [ ] Separate Shop system
- [ ] Regular Shop system
- [ ] Team Color
- [ ] Score per turn
- [ ] Captureable

[2013-04-09 15:30] abauer commented on #130
these may rely on other issues to be fixed first (StatusBar and Score)

[2013-04-09 15:31] abauer commented on #130
Shop, via turn-basis; and damage value adjustments;

[2013-04-09 15:32] abauer commented on #210
- [x] Score implemented via ScoreTable (under turn package)

[2013-04-09 16:21] maximusvladimir commented on #215
That's a good idea.

#190 .

[2013-04-09 16:22] maximusvladimir commented on #190
"a location picked"

It's a regular Pavo Window, which can be moved around the screen freely, it can be closed and opened with `c`.

[2013-04-09 17:51] ThomasGaubert commented on #165
_cough_

Technically pausing happens when it's your turn.

[2013-04-09 18:30] #210 closed, assigned to nobody

[2013-04-09 18:30] #215 closed, assigned to abauer

[2013-04-09 18:49] ThomasGaubert commented on #176
What's the status on this?

[2013-04-09 18:58] #207 closed, assigned to JVetus

[2013-04-09 19:07] maximusvladimir commented on #216
Fixed as of Anthony commit id 11f39ea6c7cb561dec59d762eb4c752941270391.

[2013-04-09 19:07] #216 closed, assigned to maximusvladimir

[2013-04-09 19:08] maximusvladimir commented on #207
@DarkWarHero.

[2013-04-09 19:08] #165 closed, assigned to maximusvladimir

[2013-04-09 19:08] maximusvladimir commented on #176
"What's the status on this?"

NullPointerException - Issue is not an issue.

[2013-04-09 19:09] abauer commented on #207
its done...

[2013-04-09 19:09] maximusvladimir commented on #165
I'll reopen this later.

[2013-04-09 19:10] abauer commented on #176
so moved to 0.8

[2013-04-09 19:11] maximusvladimir commented on #172
I'm pretty sure this is done for now.

#continuious isse

[2013-04-09 19:11] #172 closed, assigned to maximusvladimir

[2013-04-09 19:12] ThomasGaubert commented on #176
This shouldn't be moved past 0.8. This is ridiculous that it hasn't been fixed.

[2013-04-09 19:12] maximusvladimir commented on #130
Anthony is this fixed.

[2013-04-09 19:13] maximusvladimir commented on #93
Wait no! This needs to be reopened.

[2013-04-09 22:35] maximusvladimir commented on #73
Honestly, I am somewhat upset at the fact that many issues are being closed that have not yet been achieved, and they are in future milestones.

In my opinion, when the time comes for these issues to apply for the current milestone, we can either bump it, or come to a mutual understanding about changing/removing an issue.

[2013-04-09 22:36] maximusvladimir commented on #176
I think I know what the problem with this is.

[2013-04-10 00:51] abauer commented on #176
again....

[2013-04-10 00:53] abauer commented on #73
agree in part about the re-evaluate during the milestone... but i think this one can stay closed... None of the above-mentioned goals provide functionality

[2013-04-10 00:54] abauer opened #224 "Various Items to complete"
- [x] Separate Shop system
- [x] Regular Shop system
- [x] Team Color
- [x] Score per turn
- [x] Captureable

[2013-04-10 00:54] abauer commented on #130
this item discussed in this issue that do not directly relate to ports have been moved, and the issues relating to ports is complete, therefore this issue is closed...

[2013-04-10 00:54] #130 closed, assigned to maximusvladimir

[2013-04-10 00:56] abauer opened #225 "Team Colors"
Directed at the Pavo head-lead...

We would like to see Team Colors on the entities;
- [x] Ports
- [x] Battleships
- [x] A.C.'s
- [x] Subs

[2013-04-10 00:56] abauer commented on #203
@maximusvladimir what did you find out? should i reassign the issue to you?

[2013-04-10 00:57] abauer commented on #139
So what does this issue require to complete / move forward; the system should be complete, but the AI itself may not be finished.

[2013-04-10 00:57] abauer commented on #139
@maximusvladimir @DarkWarHero @TexasGamer (above comment)

[2013-04-10 01:28] abauer opened #226 "fix casting in HUD"
casting should happen once

[2013-04-10 01:49] maximusvladimir commented on #203
"@maximusvladimir what did you find out? should i reassign the issue to you?"

A. I'm not sure, it was 7 days ago when I said that.
B. No, that is a very bad idea.

[2013-04-10 01:51] maximusvladimir commented on #225
Ports would be fairly simple to implement. Wait, why is this issue assigned to me?

What's A.C.?

[2013-04-10 01:52] maximusvladimir commented on #224
(I added the check boxes to it).

[2013-04-10 01:54] abauer commented on #225
Directed at the Pavo head-lead...
and Aircraft Carriers...

[2013-04-10 01:55] abauer commented on #203
well if there are no conclusive results from your observation you either need to repeat or get assigned

[2013-04-10 01:56] maximusvladimir commented on #73
"but i think this one can stay closed... "

Ummm well this is a feature of Pavo, and I understand that it doesn't provide functionality for the game, but when I do move Pavo out of NavaBattle, I would also like to move issues that weren't completed either.

The point I was trying to make in my previous comment, is that instead of closing issues that we no longer "want", I think we should move them

[2013-04-10 02:00] abauer commented on #73
agree, moving them to 1.1. is a viable solution;

(just saying, this SHOULD NOT BE DONE NOW)
Another solution to this would have been to split pavo into a separate repo so that these kind of issues could be placed there...
(its too late now)

[2013-04-10 02:01] maximusvladimir commented on #176
This is bugging me. It is now on my very top priority.

Added `max-top-priority` label to this issue.

[2013-04-10 02:03] maximusvladimir commented on #73
"(just saying, this SHOULD NOT BE DONE NOW)"

Trust me, I don't plan on it.

[2013-04-10 02:05] abauer commented on #73
ok good

[2013-04-10 02:05] maximusvladimir commented on #203
Ugh-humm, @DarkWarHero.

Sounds like Glorious Leader needs to take a look at the ship rotation on edges.

(I am defiantly not the person suit to this, as I don't even know how to move ships to begin with.)

[2013-04-10 02:06] maximusvladimir commented on #225
Oh awk. I thought A.C. was something else...

I can try to work on ports later on.

The rest is "not going to be an easy fix" (quoting from Iron Man 2).

[2013-04-10 02:06] abauer commented on #203
"I don't even know how to move ships to begin with."

this worry's me. you click on the move button on the HUD, and then you click on the yellow space where you want the bow of the ship to move to, right clicking will try to enforce a rotation of the ship; if the ship can't fit in its current position it will auto-rotate.

[2013-04-10 02:16] ThomasGaubert commented on #93
closed again?

[2013-04-10 02:17] ThomasGaubert commented on #139
If everything like damage, keeping track of weapons/attack count, etc. is working then we are good.

[2013-04-10 02:18] maximusvladimir commented on #176
Fixed as of commit id 9e68c2ed6f00e085ce3b47d0a8065bd60dd9f14c.

[2013-04-10 02:18] #176 closed, assigned to maximusvladimir

[2013-04-10 02:20] abauer commented on #139
you can only attack once a turn, not attack teammates... and damage really sin't implemented becasue we don't know what damage to apply (fill out the damage calculator table)

[2013-04-10 02:20] abauer commented on #176
ironically the commit is a 404 error

[2013-04-10 02:22] abauer commented on #176
and no commit exists int he logs...

[2013-04-10 02:50] maximusvladimir commented on #143
I'm confused about this.

[2013-04-10 02:51] ThomasGaubert commented on #143
What part about it?

[2013-04-10 02:51] maximusvladimir commented on #156
This requires the 1x1 animated entity problem to be fixed, as well as waves to be made for ships.

[2013-04-10 02:52] ThomasGaubert commented on #139
Attack once per turn per weapon, right? (I can use both guns and missiles once on a single turn)

[2013-04-10 02:52] ThomasGaubert commented on #139
If so, then it looks good to me :+1:

[2013-04-10 02:52] maximusvladimir commented on #154
I believe that this is solved, however I would like to see infinite chunks.

[2013-04-10 02:52] #154 closed, assigned to nobody

[2013-04-10 02:53] maximusvladimir commented on #225
I mentioned this a long long time ago (in a galaxy far, far away), but if an issue doesn't have any labels/tags, I am not going to see it.