[2013-04-10 02:59] abauer commented on #139
yes

[2013-04-10 02:59] #139 closed, assigned to abauer

[2013-04-10 03:04] abauer commented on #133
BOOST!!! window on the way

[2013-04-10 03:05] abauer commented on #125
pretty sure this is complete

[2013-04-10 03:05] #125 closed, assigned to abauer

[2013-04-10 03:06] abauer commented on #76
Ai should be able to move the screen also

[2013-04-10 03:15] maximusvladimir commented on #76
I would find that somewhat annoying though...

[2013-04-10 03:15] maximusvladimir commented on #133
Boooooosht.

[2013-04-10 03:16] maximusvladimir commented on #176
I'm syncing now. Please wait one moment, then sync.

[2013-04-10 03:19] maximusvladimir commented on #203
"the yellow space"

That ain't yeller my friend. It's the color of puke.

I'm mainly having the trouble as to getting it to move to a certain location/

"this worry's me."
Is this because you think that since I am having trouble with this, so will other people??? (Or is it for another reason?)

[2013-04-10 03:20] maximusvladimir commented on #203
Last thing for the milestone to close guissse.

[2013-04-10 04:28] ThomasGaubert commented on #203
Once this is verified as fixed (anyone???) I will update everything.

[2013-04-10 12:44] maximusvladimir commented on #154
![f](http://i.imgflip.com/11ueg.jpg)

[2013-04-10 19:28] abauer opened #227 "Terrain generation error"
Very serious errors

[2013-04-10 19:28] abauer commented on #227
![image](https://f.cloud.github.com/assets/684124/364053/d7103354-a214-11e2-80d3-cd5105fa3483.png)

[2013-04-10 19:29] abauer commented on #227
![image](https://f.cloud.github.com/assets/684124/364055/e4c78344-a214-11e2-9a24-7b26eef4e440.png)

[2013-04-10 19:29] abauer commented on #227
![image](https://f.cloud.github.com/assets/684124/364057/fcb3d606-a214-11e2-9785-2f05f87aa7d0.png)

[2013-04-10 19:30] abauer commented on #227
No exception.

[2013-04-10 19:41] ThomasGaubert commented on #203
Okay so after actually testing this:
- Ship will get cut off at top edge if rotating to it (need to either not move or shift down to compensate)
- Right edge is borked (see #227)

[2013-04-10 20:18] abauer commented on #203
ok fixed the first problem, we can re-evaluate once #227 is fixed

[2013-04-10 20:18] #203 closed, assigned to JVetus

[2013-04-10 20:35] abauer commented on #224
team colors is its own issue, capture-able refers to ports

[2013-04-10 20:41] abauer opened #228 "OOP-ify"
combine code to single objects / static classes for easy access

[2013-04-10 20:41] abauer opened #229 "Clean-up"
Headers; no comments, imports, warnings; javadocs

[2013-04-10 22:12] maximusvladimir commented on #227
Woah. Looks like tricky Thele put imaginary numbers in our game.

[2013-04-10 23:54] abauer commented on #227
why are we checking every update to see if each chuck is visible? shouldn't that only occur when the screen is moved?

[2013-04-11 00:09] abauer commented on #227
Yeah, Thats right, I fixed them!

[2013-04-11 00:09] #227 closed, assigned to maximusvladimir

[2013-04-11 00:09] abauer commented on #223
Ready when you are!

[2013-04-11 00:41] maximusvladimir commented on #227
"why are we checking every update to see if each chuck is visible? shouldn't that only occur when the screen is moved?"

The map only updates when an entity changes ids or the world is moved.

[2013-04-11 00:49] abauer commented on #227
ok so everytime the whale animates, i am assuming the update is required

[2013-04-11 00:58] abauer commented on #213
reopened so we can evaluate when we get there

[2013-04-11 00:58] abauer opened #230 "Ship NavalBattle 1.0.1"
Update NavalBattle to 1.0.1. The following must be done:
- Bump version and version code in Constants.java
- Build and verify jar with debug mode disabled
- Update RoketGamer metadata
- Update release notes on website
- Upload jar to host
- Update update.xml in the repo with brief release notes and link to full website release notes

_Note that not all of the above may be applicable if the step is

[2013-04-11 01:27] abauer commented on #226
ok casting should be complete, but the lag issue still remains; this could be a cause of checking the grid lag or something i have not accounted for. ideally @maximusvladimir could make this super fast if he has time.

(repurpose issue for speeding up the HUD)

[2013-04-11 01:54] ThomasGaubert commented on #230
Fixed.

[2013-04-11 01:58] ThomasGaubert commented on #223
Onward!

[2013-04-11 01:58] #223 closed, assigned to ThomasGaubert

[2013-04-11 03:10] maximusvladimir commented on #226
Could you give a code example of this?

[2013-04-11 03:10] maximusvladimir commented on #226
Or even a line number of what you mean?

[2013-04-11 03:11] maximusvladimir commented on #213
Ok.

[2013-04-11 03:11] maximusvladimir commented on #227
maybe.... (looks around nervously).

![ronald](http://25.media.tumblr.com/tumblr_li9s6nAgIQ1qc6x37o1_250.gif)

[2013-04-11 17:03] abauer commented on #226
Example of what the casting issue was; Throughout the update method I would recast display (Entity) to a (MoveableEntity) multiple times; To fix this i created another object move(MoveableEntity) and casted once;

What i would like you to do was look at the update method / entire class and see if you can improve the speed of things happening...

[2013-04-11 19:21] abauer opened #231 "Login Window"
Needs a refresh. sometimes does not show all at the beginning of the program

[2013-04-11 19:21] abauer commented on #231
![image](https://f.cloud.github.com/assets/684124/369676/fa314558-a2dc-11e2-9b92-694a945dfbc4.png)

[2013-04-12 17:28] maximusvladimir commented on #231
I have seen this issue many times.

[2013-04-12 17:29] maximusvladimir commented on #226
Ok. I will look when I am ungrounded.

[2013-04-15 03:19] ThomasGaubert opened #232 "Entities Fail to Spawn"
On my desktop machine entities fail to spawn. No exceptions seem to be thrown/caught and the game "runs" as normal.

I'd like to hear @maximusvladimir's thoughts on this.

[2013-04-15 15:23] abauer commented on #232
only on your desktop...

[2013-04-15 15:24] abauer commented on #226
this has kind of been addressed, re-assigning to @maximusvladimir until he takes a look

[2013-04-15 16:45] ThomasGaubert commented on #231
Can one of you confirm that it is fixed now? I haven't been able to reproduce the error.

[2013-04-15 17:42] smeagle42 opened #233 "HUD bgcolor"
We need to figure out something for the background then

[2013-04-15 18:21] ThomasGaubert commented on #233
Explain what the issue is (UI/UX facts, not subjective thoughts) and suggest a possible solution? Seems fine to me considering everything else that needs attention.

[2013-04-15 18:30] ThomasGaubert commented on #133
From our planning session at the board:

**Scoring**
- Sink ship - 500
- Complete stage - 200
- Deflect attack - 50
- Force sub to surface (< 25% HP) - 100
- Bonus points (post launch) - n/a

**Port Shops**
- Battleship - tabled
- Submarine - tabled
- Aircraft Carrier - tabled
- Repair port - 400

**Ship Shop**
- Repair - 300
- Missiles (x5) - 250
- Range (+1, max 3) - 700
- Anti-missile - 350
- H

[2013-04-15 18:35] ThomasGaubert opened #234 "Ship Stats"
@abauer can organize/file away
- Battleship (5 move, 1200 health, 1000 cost)
- Submarine (7 move, 600 health, 1250 cost)
- Aircraft Carriers (3 move, 2000 health, 1250 cost)

[2013-04-15 18:52] ThomasGaubert commented on #231
Closed for now, reopen if the issue reappears.

[2013-04-15 18:52] #231 closed, assigned to ThomasGaubert

[2013-04-15 18:54] ThomasGaubert commented on #152
I believe we decided to move this to post-launch, correct me if I'm wrong.

[2013-04-15 18:54] ThomasGaubert commented on #151
Moved along with the sound effects issue.

[2013-04-15 20:41] maximusvladimir commented on #232
And on @smeagle42, entities will spawn on land. My guess is:
1. Due to the differences in speed and performance, the method is being "skipped".
2. Too many threads/ operations in a small time frame. (Kinda has to do with 1.).
3. Something else....?

[2013-04-15 20:41] maximusvladimir commented on #151
Sounds good.

[2013-04-15 20:42] maximusvladimir commented on #152
"Sounds" good.

[2013-04-15 20:42] maximusvladimir commented on #233
I think that the plain background is far less distracting. I like it.

[2013-04-16 13:59] abauer commented on #233
agree with above comments.

[2013-04-16 13:59] #233 closed, assigned to nobody

[2013-04-16 14:00] abauer commented on #234
question; attack ranges both primary and secondary for each?

[2013-04-16 14:01] abauer commented on #226
hud speed has increased considerably; if @maximusvladimir is done we can close this.

[2013-04-16 14:01] #226 closed, assigned to maximusvladimir

[2013-04-16 14:01] ThomasGaubert commented on #234
What does primary and secondary mean?

[2013-04-16 14:02] abauer commented on #234
primary = guns; secondary = missiles (but in case of AC means airstrike)

[2013-04-16 14:03] ThomasGaubert commented on #234
Oh okay. I don't know what they are currently, but I think the existing range for the primary attack (guns) is fine. The attack range should be the same for all ships and should only be dependent on the weapon type. Missiles should have a larger range (about 2 more than the guns?).

[2013-04-16 14:07] abauer commented on #234
ok cool, glad we discussed that

[2013-04-16 14:47] abauer commented on #234
ok primary attacks (guns) have 5 range, secondary attacks (missiles) have 7 range, airstrikes have 9 range

[2013-04-16 15:24] abauer commented on #234
implemented

[2013-04-16 15:24] #234 closed, assigned to abauer

[2013-04-16 15:25] abauer commented on #140
need to be capture-able / attackable

[2013-04-16 15:26] abauer commented on #156
@TexasGamer @maximusvladimir is this still a thing? are we doing this? is this a priority?

[2013-04-16 18:24] ThomasGaubert commented on #156
No. This can be re-evaluated post launch.

[2013-04-16 18:24] #156 closed, assigned to nobody

[2013-04-16 18:24] abauer commented on #143
@maximusvladimir what is the status of this as of last class?

[2013-04-16 18:25] ThomasGaubert commented on #108
Can this be pushed back since there is more important things to do? This can be taken care of post launch.

[2013-04-16 18:25] ThomasGaubert commented on #186
Can this be pushed back since there is more important things to do? This can be taken care of post launch.

[2013-04-16 18:25] ThomasGaubert commented on #194
Can this be pushed back since there is more important things to do? This can be taken care of post launch.

[2013-04-16 18:25] abauer commented on #76
@maximusvladimir in correlation with #143 what is the status of this one?

[2013-04-16 18:27] abauer commented on #108
agree with @TexasGamer; moved to post launch

[2013-04-16 18:27] ThomasGaubert opened #235 "Achievements"
We had laid out some achievement ideas in the game design document, but considering the current state and capabilities of the game we should make new achievements.

Post your ideas here with a name and a brief description. Ideally we should have at least 10-15.

[2013-04-16 18:36] ThomasGaubert commented on #82
This will be evaluated in the coming week(s) to determine if the game really needs these API calls.

[2013-04-16 18:36] ThomasGaubert commented on #83
This will be evaluated in the coming week(s) to determine if the game really needs these API calls.

[2013-04-16 18:40] ThomasGaubert commented on #97
We need to implement and add every new string that has been added recently.

[2013-04-16 18:40] ThomasGaubert commented on #97
@Matthis5point0

[2013-04-16 21:13] abauer commented on #97
just realized this could be used kinda in an educational way... double project?

[2013-04-16 22:11] ThomasGaubert commented on #97
What are you thinking?

[2013-04-16 22:17] abauer commented on #97
idk; lol

[2013-04-17 00:30] maximusvladimir commented on #97
Doesn't Schram speak Dutch as his main language?

[2013-04-17 00:33] maximusvladimir commented on #143
Umm well, it works, but you can't provide a grid location yet.

[2013-04-17 00:34] maximusvladimir commented on #76
I think these are the same issues.

[2013-04-17 00:35] abauer commented on #76
so close one> and finish the other?

[2013-04-17 00:36] ThomasGaubert commented on #97
L Schram does I think. Not sure about J Schram.

[2013-04-17 00:37] maximusvladimir commented on #76
How about we close all of the issues. ;)

[2013-04-17 00:37] maximusvladimir commented on #156
Agreed.

[2013-04-17 00:40] maximusvladimir commented on #140
Please tag/label appropriately, so Max will see when he is looking for a list of things to do.

[2013-04-17 00:49] abauer commented on #140
still not sure if i will take this one on; so let it be

[2013-04-17 00:55] maximusvladimir commented on #140
Ok.

[2013-04-17 01:22] ThomasGaubert commented on #82
Completed.

[2013-04-17 01:22] #82 closed, assigned to ThomasGaubert

[2013-04-17 01:22] ThomasGaubert commented on #83
Removed.

[2013-04-17 01:23] #83 closed, assigned to ThomasGaubert

[2013-04-17 02:22] maximusvladimir commented on #225
Added team color code. It is nice and fast. Simply call `setTeamColor(byte b)`, and override the `onTeamColorDrawing(Area a)` (it's something like that).

[2013-04-17 02:23] maximusvladimir commented on #76
This has been done. The double click has not.

[2013-04-17 02:27] abauer commented on #76
awesome!

[2013-04-17 16:58] maximusvladimir commented on #173
This isn't needed.

[2013-04-17 16:58] #173 closed, assigned to nobody

[2013-04-17 18:42] smeagle42 opened #236 "Ships spawning on land and ports not spawning on a dual core processor."
Dual core processor computers don't spawn ports and spawn entities on land.

[2013-04-17 18:45] ThomasGaubert commented on #236
I'm fairly sure this doesn't affect all dual core CPUs.

[2013-04-17 18:59] ThomasGaubert commented on #143
We decided to close this one. The ability to center the screen will still be added.

[2013-04-17 19:00] #143 closed, assigned to maximusvladimir

[2013-04-17 19:03] ThomasGaubert opened #237 "StageManager"
@abauer

**Stage**
- StageDirector
- set stage
- clear stage
- points to players
- remove AI

**Entity**
- truncate
- manager (remove)
- player (remove)

[2013-04-17 19:04] ThomasGaubert opened #238 "DamageCalculator"
Complete DamageCalculator.

[2013-04-17 21:46] abauer commented on #76
unless the coordinate parameters are in place, reopening

[2013-04-17 21:50] abauer commented on #237
complete stage - 200

[2013-04-17 21:50] abauer commented on #133
#237 for stage completion

[2013-04-17 21:51] abauer commented on #133
HUD check for secondary avaliablity

[2013-04-17 21:51] abauer commented on #133
Ship shop check for AC

[2013-04-17 21:52] abauer commented on #133
#140 for Port upgrades

[2013-04-17 21:52] abauer commented on #140
ability to spawn battleships, aircraft carriers, submarines. and repair / health (part of the capture-able system)

[2013-04-17 22:02] abauer commented on #133
done with this

[2013-04-17 22:02] #133 closed, assigned to abauer

[2013-04-17 22:33] abauer opened #239 "Eclipse Error"
![image](https://f.cloud.github.com/assets/684124/394117/b46f7d9c-a7ae-11e2-938e-4f6e204f961b.png)

I noticed this error on JR's computer, and now I am getting it also. it is very annoying

[2013-04-17 22:33] abauer commented on #239
@TexasGamer @maximusvladimir @DarkWarHero @abauer

[2013-04-17 22:35] #225 closed, assigned to maximusvladimir

[2013-04-17 22:36] abauer commented on #224
just #140

[2013-04-17 22:36] #224 closed, assigned to maximusvladimir

[2013-04-17 22:37] abauer commented on #140
ok here is what needs to be done
- [x] caputre-able (via health)
- [x] attack able (DamageCalculator)
- [ ] spawn entities out of
- [x] repairable

[2013-04-17 22:38] abauer commented on #237
Entity section is done

[2013-04-18 01:50] maximusvladimir commented on #239
Does this error happen all the time? Is it after modifying files? Is it after syncing? Or is it happening randomly? Please provide more detail.

[2013-04-18 01:51] maximusvladimir commented on #238
I might be able to help with this, if needed.

[2013-04-18 01:54] maximusvladimir commented on #236
This has to do with thread execution.

"It's not gonna be an easy fix." - Iron Man 2 quote.
![Iron Man 2](http://www.themarysue.com/wp-content/uploads/2013/01/nick-fury-im2.jpg)

[2013-04-18 01:55] maximusvladimir commented on #143
Sounds good.

[2013-04-18 01:55] maximusvladimir commented on #76
Ughhhh....

[2013-04-18 02:54] abauer commented on #239
random, only in eclipse, usually attempting to run mulitple times fixes it with no code change

[2013-04-18 02:54] abauer commented on #236
unless it affects multitudes of users this really shouldn't be a top-priority

[2013-04-18 03:47] ThomasGaubert commented on #236
Might be related to #232

[2013-04-18 12:42] maximusvladimir commented on #239
Hmmmm.

[2013-04-18 12:43] maximusvladimir commented on #236
"Might be related to #232"

It is related to 232.

[2013-04-18 14:00] abauer commented on #140
i can start on this but @maximusvladimir needs to close his other issues

[2013-04-18 14:05] ThomasGaubert commented on #236
Well okay.

[2013-04-18 15:23] maximusvladimir commented on #236
I didn't intend that to be so harsh. Sorry.

[2013-04-18 16:49] ThomasGaubert commented on #236
It's fine, I didn't take it that way.

[2013-04-19 14:39] #238 closed, assigned to ThomasGaubert

[2013-04-19 15:59] abauer commented on #237
max should take a big look at the stage manager

[2013-04-19 15:59] abauer commented on #237
and finish it

[2013-04-19 17:55] abauer opened #240 "Shops"
fix them

[2013-04-19 18:17] #240 closed, assigned to abauer

[2013-04-19 18:29] maximusvladimir commented on #76
I am pretty sure this is fixed.

[2013-04-19 18:31] abauer opened #241 "NextEntity Button"
Finish this

[2013-04-19 18:50] ThomasGaubert opened #242 "Tutorials"
Plan, record, upload, and link to tutorial videos.

[2013-04-19 18:52] smeagle42 opened #243 "bounding boxes on all ships are 2 boxes in height instead of 1"

[2013-04-19 18:56] abauer commented on #241
@maximusvladimir needs to fix #76

[2013-04-19 18:56] abauer commented on #76
still not done.... ugh #5minutes

[2013-04-19 18:57] #241 closed, assigned to abauer

[2013-04-19 21:52] abauer commented on #243
there are no bounding boxes, its a chunk fxn

[2013-04-19 21:53] abauer commented on #140
just need spawning

[2013-04-20 17:14] maximusvladimir commented on #239
I forgot to mention that this issue was Anthony's fault.

[2013-04-20 17:14] #239 closed, assigned to maximusvladimir

[2013-04-23 02:30] ThomasGaubert commented on #76
Status of this?

[2013-04-23 02:31] ThomasGaubert commented on #129
Approximately how close are we to a basic AI?

cc: @DarkWarHero

[2013-04-23 02:37] abauer commented on #129
I feel that we can close this issue because this is an ongoing issue and the AI will be one of the main focus's until we are at a feature lock

[2013-04-23 02:38] abauer commented on #76
This is top priority and @maximusvladimir has said he can fix it, I am sill of the opinion that this will not take 5 minutes (as 5 minutes has already been spent) and that work has halted on this. This issue is the road block to finishing the game.

[2013-04-23 02:39] abauer commented on #140
anybody know the algorithm / how-to code it for spawning ships? I have an idea but not sure how to implement

[2013-04-23 02:40] abauer commented on #157
is this even needed?

[2013-04-23 02:40] abauer commented on #147
i don't think this is vital to the game and think it should be moved.

[2013-04-23 02:42] maximusvladimir commented on #147
Agreed.

[2013-04-23 02:42] maximusvladimir commented on #129
Does it work? (To an extent?)

[2013-04-23 02:44] abauer commented on #129
is an ongoing issue

Basically, what will be done, will be done and it cannot be qualified until it is complete

[2013-04-23 02:47] maximusvladimir commented on #76
"This issue is the road block to finishing the game."

Not necessarily. The fix to this issue is simple, however I have not had the paraphernalia to fix it. I understand what the problem is.

[2013-04-23 02:53] abauer commented on #76
you also had a weekend to fix it

[2013-04-23 02:54] maximusvladimir commented on #157
I am pretty sure the only reason this issue is opened, is because we need to run a test. Somebody please close this issue.

[2013-04-23 02:55] maximusvladimir commented on #129
I kinda have my computer running, but I am going to run more repairs on it. As soon as I am done, I will probably start working on this issue.

[2013-04-23 02:57] maximusvladimir commented on #76
1. I have had a busy weekend.
2. I have been working on my other computer extensively.
3. Running the NavalBattle project on a little notebook is fairly difficult to manage (not sure why).

[2013-04-23 03:15] #157 closed, assigned to maximusvladimir

[2013-04-23 03:16] abauer commented on #76
ok i understand. but this issue needs to be completed if we are to move forward.

[2013-04-23 04:06] ThomasGaubert commented on #129
Wrong issue @maximusvladimir ?

[2013-04-23 04:07] ThomasGaubert commented on #147
Removed milestone.

[2013-04-23 04:08] ThomasGaubert commented on #140
Possibly adapt the ship move algorithm to determine a spot that can fit a ship?

[2013-04-23 12:25] maximusvladimir commented on #129
Yeah. :smile:

[2013-04-23 14:47] abauer opened #244 "known issues"
@Matthis5point0 find more!
- [x] submerge-ing while vertical
- [x] spawning vertically.

[2013-04-23 14:47] abauer commented on #244
@abauer will fix

[2013-04-23 20:01] ThomasGaubert commented on #140
Finally done (commit coming soon).

[2013-04-23 20:01] #140 closed, assigned to abauer

[2013-04-23 20:02] ThomasGaubert commented on #129
Closed.

[2013-04-23 20:02] #129 closed, assigned to JVetus

[2013-04-23 20:37] abauer commented on #244
- [x] submarine switches teams randomly (vertically)

[2013-04-23 21:29] abauer commented on #244
actually jk that last box should be
- [x] submarine vertical is not transparent (sziske problem)

[2013-04-23 21:36] abauer commented on #79
ok i got a nimbus but today that actually halted the game. because it killed the log in window and i could not proceed

[2013-04-23 21:58] abauer commented on #164
replaced by method to center window?

[2013-04-23 22:00] abauer commented on #190
maybe not based on PAW

[2013-04-23 22:14] abauer commented on #244
fixed all above issues, can you find anymore @Matthis5point0 ?

[2013-04-23 23:21] maximusvladimir commented on #79
I am pretty sure this is a multithreading issue.

[2013-04-23 23:23] abauer commented on #79
everything seems to be now-a-days

[2013-04-23 23:25] abauer opened #245 "fix current.jar"
fix-it

[2013-04-24 00:50] maximusvladimir commented on #244
I like how Anthony has been talking to himself above, despite Matt being assigned this issue.

[2013-04-24 00:51] ThomasGaubert commented on #244
Basically like everyday? ;)

[2013-04-24 00:52] maximusvladimir commented on #245
This is a resource issue. When activity involving entity images settles down, I will step in and do my duty ( :poop: ). I might be able to issue a temporary "fix", then perma fix it later.

[2013-04-24 00:54] abauer commented on #244
yeap

[2013-04-24 00:55] abauer commented on #245
thats why its .9 issue

[2013-04-24 00:57] Matthis5point0 commented on #244
Yeah I'll find more bugs don't worry, had a pretty full weekend

Sent from my iPhone

On Apr 23, 2013, at 7:54 PM, abauer notifications@github.com wrote:

[2013-04-24 01:00] abauer commented on #244
awsome

[2013-04-24 01:03] abauer commented on #235
Porkchops: steal porkchops from an enemy port

[2013-04-24 01:04] maximusvladimir commented on #164
I wouldn't say it was "replaced", but we clearly don't have time to work on this issue.

[2013-04-24 01:05] abauer commented on #164
ok

[2013-04-24 01:06] abauer commented on #164
moved to 1.0.1

[2013-04-24 01:07] maximusvladimir commented on #245
Aren't we on 0.9?

[2013-04-24 01:08] maximusvladimir commented on #245
Nevermind.

[2013-04-24 01:09] abauer commented on #245
no we are waiting on you to finish the '5 minute issue'

[2013-04-24 01:16] maximusvladimir commented on #245
I'll fix the five minute issue in 5 minutes.

[2013-04-24 18:01] Matthis5point0 commented on #244
Submerge still allows the sub to be destroyed

[2013-04-24 18:10] Matthis5point0 commented on #244
Ports at top of screen can't be clicked directly, must be clicked one square under port

Hi Jr

[2013-04-24 18:13] Matthis5point0 commented on #244
If purchasing ships from port shop at top of screen ships spawn in imaginary zone/undrawn zone

Gutentag JR

[2013-04-24 18:31] Matthis5point0 commented on #244
HELLO THERE JR

Index Out of Bound error while trying to move, AI  can't tell what to do with it's life

[2013-04-24 18:37] Matthis5point0 opened #246 "Confirm when Ending Turn"
Prompt the user before making the move to help @DarkWarHero's slow AI think.

Hi jr

[2013-04-25 01:10] maximusvladimir commented on #76
Fixed as of commit id 2468dcabad6d1ab81b4b0bae0d8f2981223eb7fc.

Note that the window does not perfectly center on the tile, thanks to chunk positioning and floating point problems.

[2013-04-25 01:10] #76 closed, assigned to maximusvladimir

[2013-04-25 01:11] maximusvladimir commented on #245
Pretty much complete.

[2013-04-25 01:11] #245 closed, assigned to maximusvladimir

[2013-04-25 01:19] maximusvladimir commented on #67
So saving data works.

Now all that is left is to load it.

[2013-04-25 01:21] maximusvladimir commented on #67
Things that should be saveable:
- [x] Seed (so basically chunks)
- [x] Entity data
- [x] Was the game registered online (in RoketGamer)?
- [x] The name of the game/world.
- [x] The version of the game.
- [ ] Time
- [ ] Current turn and other turn stuff (I still have no clue how the framework for this stuff works).
- [ ] ???

[2013-04-25 01:22] maximusvladimir commented on #237
I have no clue what this is, or what it is suppose to do, so it really shouldn't be assigned to me.

[2013-04-25 01:53] abauer commented on #237
1: you have definitely looked and worked on this before
2: you have pledged your work-time to this system
3: its a system for changing the world in-game, say upon getting to the next stage the world will need to be regenerated and re-drawn

[2013-04-25 01:54] abauer commented on #244
-/ /[/ /]/ use this in the comment to generate a checkbox (without the slashes)

[2013-04-25 01:55] maximusvladimir commented on #194
Added some cryptography helpers recently.

[2013-04-25 01:55] abauer commented on #244
- [x] submarine submerge takes damage (maybe fixed, please re-test)
- [x] port issues for spawning off map
- [x] Max issues for selecting entity on click
- [x] JR's AI array index out of bounds

[2013-04-25 01:56] abauer commented on #76
ok that's fine but this should be working... if its not there may be some complications

[2013-04-25 01:57] maximusvladimir commented on #237
Oh okay. I see.

[2013-04-25 02:00] abauer commented on #67
wat about turn? um you should save the turn number and player information (@darkwarhero) for AI

[2013-04-25 02:01] maximusvladimir commented on #76
"if its not there may be some complications"
What could that be?

"thanks to chunk positioning and floating point problems."
There ain't much I can do about that. I think that it works fine enough.

[2013-04-25 02:01] abauer commented on #237
can you implement so we can work on stages?

[2013-04-25 02:02] abauer commented on #76
if it gives a relative centering of the screen (variance by ~10 is acceptable) then this should be fine

[2013-04-25 02:02] maximusvladimir commented on #76
"~10"

10 what?

[2013-04-25 02:03] maximusvladimir commented on #237
I've got some homework. I thought it was working. I will work on it later.

[2013-04-25 02:06] abauer commented on #76
10 pixels

[2013-04-25 02:09] abauer commented on #237
ok just when you get a chance / re-analyze it

[2013-04-25 02:09] maximusvladimir commented on #67
Or, you could just get the seed for the AI, and then do something like this:

[code]

[2013-04-25 02:14] maximusvladimir commented on #76
Hahahaha. It's usually off by about 0-2.5 chunks. It generally is towards the bottom of the screen. You can also specify a speed.

[2013-04-25 02:18] ThomasGaubert commented on #232
This seems to have resolved itself :)

[2013-04-25 02:27] ThomasGaubert commented on #232
Fixed when running from a .jar, but not from source (IDE).

[2013-04-25 02:38] ThomasGaubert opened #247 "Art Style"
**Please leave unassigned and without a milestone as this is for discussion only. Do not close.**

---

Recent commits have raised the issue of art assets in the game. Let's dissect this issue.
### Disclaimer

As this is an aesthetic change, please try to keep discussion constructive and factual. Avoid subjective remarks (or label them as such) since they add little value to a group consensus.
###

[2013-04-25 02:41] ThomasGaubert commented on #247
In my opinion, the art style should be more towards the cartoon/pixel art/retro side of things because it is much easier to pull of that art style and because the terrain already has a similar feel.

Having more realistic terrain is probably more effort than it's worth (especially considering deadlines).

[2013-04-25 02:43] abauer commented on #247
I believe the way the land / water looks right now is of the best. It provides a realistic view of changing landmasses / water depths and also provides a look that is pixelated to keep to a theme

[2013-04-25 03:05] maximusvladimir commented on #247
"I believe the way the land / water looks right now is of the best. It provides a realistic view of changing landmasses / water depths and also provides a look that is pixelated to keep to a theme"

Well at least somebody appreciates my work. :blush: .

In all seriousness, Thomas had made a very good point.
"Having more realistic terrain is probably more effort than it's worth (especially consider

[2013-04-25 03:07] maximusvladimir commented on #247
PS:
AirBattle is going to have a 3D, photo-realistic terrain. It will automatically adjust based on graphics card power (e.g., if you have a strong graphics card, it will be a very detailed terrain, as opposed to a simple terrain, kinda like how it is in NavalBattle currently).

[2013-04-25 03:09] maximusvladimir commented on #247
Also, we could see potential waves in a photo-realistic terrain, however, they will not be animated.

[2013-04-25 03:09] JVetus commented on #247
Hi Matt,

I prefer simple and cartoon-like

[2013-04-25 03:11] maximusvladimir commented on #247
I am considering doing a fork, just to experiment with photo-realistic terrains (after we close 0.8, of course).

[2013-04-25 03:13] abauer commented on #247
how about after we close 1.0.0?

[2013-04-25 03:45] ThomasGaubert commented on #247
Agree. Doing a fork now will only cause problems between now and merging back into the main branch due to changes leading up to release.

[2013-04-25 12:19] maximusvladimir commented on #247
Oh I have no intention whatsoever of merging it back into the main branch. I think we should probably keep the cartoon/pixelated style. I just wanted to do a test (for curiosity reasons).

[2013-04-25 12:25] ThomasGaubert commented on #247
Oh okay.

[2013-04-26 16:36] ThomasGaubert commented on #97
LoginWindow now fully implements this, with more to come soon. Once everything is implemented, we will need to go back to translate the new strings.

[2013-04-26 16:37] ThomasGaubert commented on #80
Finished, just needs to be implemented in the RoketGamerWindow.

[2013-04-26 16:37] #80 closed, assigned to ThomasGaubert

[2013-04-26 16:38] abauer commented on #246
i don't think thats the problem
can someone post that array index out of bounds error it has an index of like 2,300 i would like to look at it @maximusvladimir might be the cause

[2013-04-26 16:47] abauer commented on #246
ok list here
1) I agree that the title of this issue needs to occur
2) the "slow AI" problem isn't that its slow or fast, its that when an AI moves too close to a boarder, it searches for an entity outside of the map and the world doesn't know what to do

[2013-04-26 16:48] abauer commented on #246
Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: 2339
    at com.jpii.navalbattle.pavo.World.getChunk(World.java:97)
    at com.jpii.navalbattle.pavo.World.getChunk(World.java:100)
    at com.jpii.navalbattle.pavo.grid.EntityManager.findEntity(EntityManager.java:158)
    at com.jpii.navalbattle.game.turn.AI.determineCurrentEnemiesS(AI.java:238)
    at com.jpii.naval

[2013-04-26 16:53] abauer commented on #246
I believe # 2 is fixed

[2013-04-26 16:58] abauer commented on #237
This issue was a basis / plat-former and a platform has finished. Moved to 0.9 for completion

[2013-04-26 17:03] ThomasGaubert commented on #222
Shipped.

[2013-04-26 17:03] #222 closed, assigned to ThomasGaubert

[2013-04-26 17:04] ThomasGaubert commented on #186
AFAIK multiplayer got stripped out with the addition of StageManager. Should this be closed or removed from all milestones?

[2013-04-26 17:04] ThomasGaubert commented on #190
AFAIK multiplayer got stripped out with the addition of StageManager. Should this be closed or removed from all milestones?

[2013-04-26 17:05] ThomasGaubert commented on #79
This is an ongoing issue and we have measures in place to handle it. Closed.

[2013-04-26 17:05] #79 closed, assigned to Matthis5point0

[2013-04-26 17:07] abauer commented on #244
updated and fixed some of these

[2013-04-26 17:07] abauer commented on #190
i still think a chat should be made so we can alert the user

[2013-04-26 17:08] abauer commented on #222
Woot!

[2013-04-26 17:08] abauer commented on #186
good question

[2013-04-26 17:58] ThomasGaubert commented on #235
**DO NOT EDIT THIS WITHOUT TALKING TO ME FIRST**

Current achievement list:
1. **Porkchop** - take port
2. **Thrift Shop** - buy from a shop (either)
3. **You Sunk My Battleship** - sink a battleship
4. **Air Superiority** - sink a ship with an airstrike
5. **Syncing Ship** - submit data to RoketGamer
6. **Blank Check** - spend 10,000 points in one stage
7. **Promotion** - complete tutorials
8. **

[2013-04-26 18:03] maximusvladimir commented on #186
Well, it shouldn't be too difficult to implement multiplayer, if we have time at the end. I would probably close this issue, since it doesn't really apply anymore.

[2013-04-26 18:04] maximusvladimir commented on #190
"i still think a chat should be made so we can alert the user"

Agreed. I also think that if we do decide to do multi-player last minute, we should definitly have a chat program.

[2013-04-26 18:26] ThomasGaubert commented on #186
Closed for now.

[2013-04-26 18:26] #186 closed, assigned to maximusvladimir

[2013-04-27 03:55] maximusvladimir commented on #247
Have we come to consensus on this?

[2013-04-27 04:19] ThomasGaubert commented on #247
Yes, I believe so. This will stay open until the art style has actually been unified.

[2013-04-29 01:05] JVetus commented on #235
Another Day - complete a day cycle.
Dave - happens when a player tries to constantly do an illegal move (or something to that extent)
Falling from trees - Lose your first game after a winning streak

[2013-04-29 14:24] maximusvladimir commented on #235
Haha, I like those JR.

[2013-04-29 14:32] ThomasGaubert commented on #235
Nice, added them to the list.

[2013-04-29 19:41] abauer commented on #235
good additions

[2013-04-30 18:17] ThomasGaubert commented on #152
Moved to 0.9 as we probably need some sort of sound for release. Here's what we should aim for:
- Next turn sound - http://www.freesound.org/people/qubodup/sounds/166540/
- Ship hit - http://www.freesound.org/people/Kastenfrosch/sounds/162455/
- Game over - http://www.freesound.org/people/notchfilter/sounds/43698/
- Achievement unlocked - http://www.freesound.org/people/Kastenfrosch/sounds/162467/

[2013-04-30 18:36] ThomasGaubert commented on #135
From today's notes in regards to diplomacy:
- Cost
- Should enact diplomacy?
- Duration of diplomacy (or constant)

cc: @DarkWarHero

[2013-04-30 19:01] ThomasGaubert commented on #237
1. dummy ship, no move, attack to win
2. movement, dummy ship
3. ports only, no enemy
4. versus AI
5. version AI with shop
6. subs vs. battleship (AI)
7. ac vs. battleship (AI)
8. player has 1 port, needs to capture other
9. player is weak, start diplomacy until backup arrives
10. staged battle

[2013-04-30 20:35] maximusvladimir commented on #237
^ Sounds good.

[2013-04-30 20:42] maximusvladimir commented on #135
I'm almost thinking, if we have time, there should be a strategy for the AI too.

[2013-04-30 23:43] ThomasGaubert commented on #135
Possibly, but lets keep it relatively simple and polished first.

[2013-05-02 18:02] abauer commented on #246
done

[2013-05-02 18:02] #246 closed, assigned to abauer

[2013-05-02 23:56] ThomasGaubert commented on #235
Achievements are in game (as objects) and registered on the server. All that's left is the API (currently working on it) and implementing them into the game (later).

[2013-05-03 18:58] smeagle42 opened #248 "Button names"
The buttons and button names should be invisible while nothing is selected. Certain buttons and names should show depending on the type of entity that is selected.

[2013-05-03 21:30] abauer commented on #248
why? why not just leave them there so that the user is aware of those features but knows they cannot access them?

[2013-05-03 21:46] ThomasGaubert commented on #248
I tend to agree with Zach. A better solution would be to hide the text when not needed and display a message saying "select an entity to view information" (or similar) so that way you have the best of both.

[2013-05-03 22:02] abauer commented on #248
hey if you have a mock-up that's fine, i can implement it but without one Im not able to perfect the HUD

[2013-05-03 22:45] ThomasGaubert commented on #248
mad paint skillz (this is what it would be when not selecting anything

![untitled](https://f.cloud.github.com/assets/406075/461637/2f8acebe-b443-11e2-98f1-71f56f3ad3a7.png)

[2013-05-05 18:31] abauer commented on #243
still doesn't apply

[2013-05-05 18:31] #243 closed, assigned to nobody

[2013-05-05 18:33] abauer opened #249 "Vertical Animated MoveTo"
not implemented yet; needs to be tested before release

[2013-05-06 00:14] maximusvladimir commented on #249
Actually, this is implemented, it is just very buggy.

[2013-05-06 00:15] maximusvladimir commented on #243
This was fixed, even though we weren't using bounding boxes ;).

[2013-05-06 00:52] abauer commented on #243
exactly

[2013-05-06 16:38] ThomasGaubert commented on #81
This was implemented this weekend.

[2013-05-06 16:38] #81 closed, assigned to ThomasGaubert

[2013-05-06 16:41] ThomasGaubert commented on #194
Removed milestone.

[2013-05-06 16:42] ThomasGaubert commented on #67
Do we really want/need this?

[2013-05-06 16:43] ThomasGaubert commented on #137
Removed milestone.

[2013-05-06 16:45] ThomasGaubert commented on #244
Closed because these seem to be done.

[2013-05-06 16:45] #244 closed, assigned to JVetus

[2013-05-06 16:47] ThomasGaubert commented on #236
Zach, check the current.jar and see if it works. It "fixed" my issues on my desktop.

[2013-05-06 17:49] abauer commented on #236
additionally we are going to be distributing via jar so if it works it 'solves' our problem

[2013-05-06 20:23] #248 closed, assigned to abauer

[2013-05-07 18:48] maximusvladimir commented on #67
Idk.

[2013-05-07 18:50] maximusvladimir commented on #247
Has the art style been unificated?

[2013-05-07 18:51] maximusvladimir commented on #181
I don't think these are going to be possible. I don't know yet though.

[2013-05-07 22:17] ThomasGaubert commented on #247
I don't believe so...

cc: @smeagle42

[2013-05-07 22:17] ThomasGaubert commented on #67
Moved it off the milestone for now since it isn't critical. I'd like to get this game shipped :shipit:

[2013-05-08 03:20] ThomasGaubert commented on #236
@smeagle42 please answer.

[2013-05-08 03:21] ThomasGaubert commented on #152
Status on this, @smeagle42?

We don't need the .ogg format, by the way. Therefore you can use "native" Java code...

[2013-05-08 18:33] ThomasGaubert commented on #152
Okay I took care of this, someone aka @smeagle42 implement. You _are_ the sound lead might I add.

[2013-05-08 18:41] ThomasGaubert commented on #247
This has been resolved.

[2013-05-08 18:41] #247 closed, assigned to nobody

[2013-05-09 15:17] ThomasGaubert commented on #205
This is mostly finished. All that is left is finishing touches.

[2013-05-09 15:18] ThomasGaubert commented on #236
Closing for now.

[2013-05-09 15:19] ThomasGaubert commented on #209
This was resolved a long time ago, but was never closed.

[2013-05-09 15:19] #209 closed, assigned to nobody

[2013-05-09 15:19] ThomasGaubert commented on #204
Implemented a long time ago.

[2013-05-09 15:19] #204 closed, assigned to nobody

[2013-05-09 15:23] maximusvladimir commented on #236
I just spoke with Mr. Smileg this morning, and he said this issue is still apparent.

[2013-05-09 15:24] maximusvladimir commented on #205
Sweet!

[2013-05-09 16:01] ThomasGaubert commented on #236
I'm assuming this means with the .jar?

[2013-05-09 20:06] ThomasGaubert commented on #152
Went ahead and implemented all but the game over sound.

[2013-05-10 01:59] ThomasGaubert commented on #235
Achievements are now working for the ones that are actually implemented. RoketGamerWindow is coming... later...

[2013-05-10 02:11] maximusvladimir commented on #236
Apparently he is having issues with the jar as well.

Can @smeagle42 confirm this?

[2013-05-10 17:54] smeagle42 commented on #236
yes

[2013-05-10 17:58] smeagle42 commented on #236
**Redacted**

[2013-05-10 18:09] ThomasGaubert commented on #236
Removed inappropriate comment. Please keep it clean.

[2013-05-10 18:09] ThomasGaubert commented on #236
@smeagle42

[2013-05-10 18:19] #152 closed, assigned to ThomasGaubert

[2013-05-13 14:49] ThomasGaubert commented on #237
Why is this not fixed??? @maximusvladimir

[2013-05-13 14:50] ThomasGaubert commented on #249
We need to evaluate if we need this for launch.

[2013-05-13 14:50] ThomasGaubert commented on #235
Someone want to help me implement these?

[2013-05-13 14:51] ThomasGaubert commented on #97
Pushed back to post-launch, you can still work on it but it isn't critical for release.

[2013-05-13 14:52] ThomasGaubert commented on #190
Is this happening by Monday or should it be pushed back?

[2013-05-13 17:32] #228 closed, assigned to maximusvladimir

[2013-05-13 17:32] abauer commented on #232
works from jar afaik

[2013-05-13 17:32] #232 closed, assigned to nobody

[2013-05-13 17:33] abauer commented on #229
should have been done as code is developed

[2013-05-13 17:33] #229 closed, assigned to nobody

[2013-05-13 17:34] abauer commented on #117
do you agree: it is doubtful this is migrating

[2013-05-13 17:34] #117 closed, assigned to nobody

[2013-05-13 20:54] maximusvladimir commented on #117
I was going to close soon anyways. It's fine.

[2013-05-13 20:57] maximusvladimir commented on #190
I don't understand how this is going to work, provided there is noone to chat with.

[2013-05-13 20:59] maximusvladimir commented on #237
I thought the stage manager was fixed. Ill look at it later.

[2013-05-13 22:20] ThomasGaubert commented on #190
By chat program, @abauer meant more of an area to have two things:
1. chat (for a theoretical multiplayer)
2. event log (Player A attacked Player B, etc)

IMO seems like a lot of work given what time we have. Part 2 would be the only thing we would actually implement.

[2013-05-13 22:20] ThomasGaubert commented on #237
Please do because this is holding stuff up.

[2013-05-13 22:30] ThomasGaubert commented on #237
Added tutorial messages.

[2013-05-14 02:14] ThomasGaubert commented on #135
@DarkWarHero

What else needs to be completed?

[2013-05-14 02:59] ThomasGaubert commented on #235
All but three have been implemented.

[2013-05-14 17:58] ThomasGaubert commented on #135
Finished!

[2013-05-14 17:58] #135 closed, assigned to JVetus

[2013-05-14 18:16] ThomasGaubert commented on #235
All have been implemented.

[2013-05-14 18:16] #235 closed, assigned to ThomasGaubert

[2013-05-14 18:25] ThomasGaubert commented on #242
Not happening.

[2013-05-14 18:25] #242 closed, assigned to ThomasGaubert

[2013-05-14 18:25] ThomasGaubert commented on #61
Moved.

[2013-05-15 12:46] maximusvladimir commented on #166
Moved.

[2013-05-15 12:49] maximusvladimir commented on #236
The root cause of this is multithreading. The direct cause however, is the miss-assignment of tiles. I will look at shortly.

[2013-05-15 12:50] maximusvladimir commented on #249
Animated moving is going to be implemented later.

[2013-05-15 12:55] maximusvladimir commented on #249
Okay. It has been removed. Changing to future milestone.

[2013-05-15 13:01] maximusvladimir commented on #236
I recently committed what I hoped to be a temporary fix. @smeagle42 do you want to test this fix?

[2013-05-15 18:04] maximusvladimir commented on #181
I think the CPU usage one should be:
"CPU usage below 50% on a quad core processor."

[2013-05-16 16:30] ThomasGaubert commented on #236
Obviously not. Moved back and closed.

Reopen if the issue still exists.

[2013-05-16 16:31] #236 closed, assigned to nobody

[2013-05-16 16:54] maximusvladimir commented on #236
I'm just worried it isn't going to work on Schram's computer.

[2013-05-16 17:46] ThomasGaubert commented on #237
Moved as always.

[2013-05-16 17:46] #221 closed, assigned to ThomasGaubert

[2013-05-16 17:46] #219 closed, assigned to ThomasGaubert

[2013-05-16 17:46] #220 closed, assigned to ThomasGaubert

[2013-05-16 17:46] #181 closed, assigned to nobody

[2013-05-16 17:46] #205 closed, assigned to nobody

[2013-05-16 17:50] ThomasGaubert commented on #218
It is finished.

[2013-05-16 17:50] #218 closed, assigned to ThomasGaubert

[2017-09-05 17:04] DanielArnouk opened #250 "Server is down"

[2017-09-05 17:04] DanielArnouk commented on #250
Server is down.